{% extends "login/layout/base-layout.html.twig" %}

{% block content_scaffholding %}
     <div class="row-fluid">
        <div class="span12">
            <div id="authentication-content">
                {% block  content %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
