{% block setting_base %}
    <div class="setting_title">{% trans "report:: 2 - Bases" %}</div>
        <ul class="rounded">
            <li>
                <select name="popbases[]" class="multiselect" multiple="multiple" id="popbases">
                {% for the_base_coll in all_coll %}
                    <optgroup label="{{ the_base_coll.name_sbas }}">
                   {% for a_coll in the_base_coll.sbas_collections %}
                     <option value="{{ a_coll.sbas_id}}_{{ a_coll.coll_id }}">{{ a_coll.name }}</option>
                     {% endfor %}
                     </optgroup>
                {% endfor %}
                </select>
            </li>
        </ul>
{% endblock %}
