<div class="row-fluid">
    <!--[if !IE 6]><!-->
        <div class="span12" style="height:400px;">
            <object id="o" width="100%" height="100%"
              classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
              >
                <param name="wmode" value="transparent">
                <param name="movie"
                  value="https://apps.cooliris.com/embed/cooliris.swf" />
                <param name="allowFullScreen" value="true" />
                <param name="allowScriptAccess" value="always" />
                <param name="flashvars"
                  value="feed=/feeds/cooliris/&glowColor=#0077BC&style=dark&backgroundColor=#000000&showChrome=false&showEMbed=false&showSearch=false" />
                <embed wmode="transparent" type="application/x-shockwave-flash"
                  src="https://apps.cooliris.com/embed/cooliris.swf"
                  flashvars="feed=/feeds/cooliris/&glowColor=#0077BC&style=dark&backgroundColor=#000000&showChrome=false&showEMbed=false&showSearch=false"
                  width="100%"
                  height="100%"
                  allowFullScreen="true"
                  allowScriptAccess="always">
                  </embed>
            </object>
        </div>
    <!--<![endif]-->
</div>
