{% if guest_allowed %}
    <div class="well-large sidebar-block {% if last_item|default(false) %}last-child{% endif %}">
        <div class="row-fluid">
            <div class="span12 text-center">
                <a class="btn btn-info btn-trigger" href="{{ path("login_register", {"nolog" : "1"}) }}">{% trans "Guest access" %}</a>
            </div>
        </div>
    </div>
{% endif %}
