<div class="row-fluid">
    <div class="span12" style="height:470px">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
            codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
            width="100%" height="470px" align="top" id="slideshow_as2" >
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="movie" value="/include/player_homelink.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="transparent" />
            <param name="flashvars" value="xmls=/feeds/aggregated/rss/?zh=470&amp;zw=525" />
            <embed flashvars="xmls=/feeds/cooliris/?zh=470&amp;zw=525" src="/include/player_homelink.swf"
                quality="high" bgcolor="#000000" width="100%" height="470px" name="slideshow_as2" align="top"
                allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
        </object>
    </div>
</div>
