@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/PhraseanetIcomoon/fonts/icomoon.eot?xt8hfo');
  src:  url('../fonts/PhraseanetIcomoon/fonts/icomoon.eot?xt8hfo#iefix') format('embedded-opentype'),
  url('../fonts/PhraseanetIcomoon/fonts/icomoon.ttf?xt8hfo') format('truetype'),
  url('../fonts/PhraseanetIcomoon/fonts/icomoon.woff?xt8hfo') format('woff'),
  url('../fonts/PhraseanetIcomoon/fonts/icomoon.svg?xt8hfo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * Common stylesheet, builded into assets/common/styles/common.css
 */
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
@import './fonts/PhraseanetIcomoon/style';
@import './roboto.scss';
@import './colorpicker.scss';
@import '../../_shared/styles/variables';
@import '../../vendors/bootstrap/bootstrap';
@import '../../vendors/bootstrap/responsive';
@import '../../_shared/styles/override-bootstrap';
@import '../../_shared/styles/main';

$mainMenuBackgroundColor: #212121; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuLinkColor: #b1b1b1;
$mainMenuLinkHoverColor: #FFFFFF;
$mainMenuLinkActiveColor: #b1b1b1;
$mainMenuLinkBackgroundHoverColor: transparent;
// $mainMenuMarginBottom: 30px;
@import '../../_shared/styles/main-menu';


#mainContent {
  margin-top: $mainMenuHeight;
}

#record_infos .lightbox_container {
  top: 0px;
  dt {
    font-weight: bold;
    display: block;
    margin-left: 0px;
    width: initial;
    float: none;
    text-align: initial;
  }
  dd {
    margin-left: 10px;
  }
}


[class^="icon-"], [class*=" icon-"].icomoon {
  display: inline-block;
  width: inherit;
  height: inherit;
  margin-right: inherit;
  line-height: inherit;
  vertical-align: inherit;
  background-image:none;
  margin-top: inherit;
}
.icon-round-more_horiz-24px {
  font-size: 2em;
}
.icon-round-list-24px {
  font-size: 1.5em;
}
.macroFileEdit {
  width: 24px;
  height: 24px;
  background: url(../images/icons/file-edit.png) no-repeat center;
  cursor: help;
  display: inline-block;
  transition: 0.3s all;
  &:hover, &:focus {
    background-image: url(../images/icons/file-edit-hover.png);
  }
}

.icomoon{
  font-family: 'icomoon';
  &.with-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  &.with-white-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.39);
  }
}

