@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/PhraseanetIcomoon/fonts/icomoon.eot?xt8hfo');
  src:  url('../fonts/PhraseanetIcomoon/fonts/icomoon.eot?xt8hfo#iefix') format('embedded-opentype'),
  url('../fonts/PhraseanetIcomoon/fonts/icomoon.ttf?xt8hfo') format('truetype'),
  url('../fonts/PhraseanetIcomoon/fonts/icomoon.woff?xt8hfo') format('woff'),
  url('../fonts/PhraseanetIcomoon/fonts/icomoon.svg?xt8hfo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * Common stylesheet, builded into assets/common/styles/common.css
 */
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
@import './fonts/PhraseanetIcomoon/style';
@import './roboto.scss';
@import './colorpicker.scss';
@import '../../_shared/styles/variables';
@import '../../vendors/bootstrap/bootstrap';
@import '../../vendors/bootstrap/responsive';
@import '../../_shared/styles/override-bootstrap';
@import '../../_shared/styles/main';

$mainMenuBackgroundColor: #212121; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuLinkColor: #b1b1b1;
$mainMenuLinkHoverColor: #FFFFFF;
$mainMenuLinkActiveColor: #b1b1b1;
$mainMenuLinkBackgroundHoverColor: transparent;
// $mainMenuMarginBottom: 30px;
@import '../../_shared/styles/main-menu';


#mainContent {
  margin-top: $mainMenuHeight;
}

#record_infos .lightbox_container {
  top: 0px;
  dt {
    font-weight: bold;
    display: block;
    margin-left: 0px;
    width: initial;
    float: none;
    text-align: initial;
  }
  dd {
    margin-left: 10px;
  }
}

[class*=" icon-"].fa, [class^=icon-].fa, .fa {
  font-family: Fontawesome!important;
}
[class^="icon-"], [class*=" icon-"].icomoon {
  display: inline-block;
  width: inherit;
  height: inherit;
  margin-right: inherit;
  line-height: inherit;
  vertical-align: inherit;
  background-image:none;
  margin-top: inherit;
}
.icon-round-more_horiz-24px {
  font-size: 2em;
}
.icon-round-list-24px {
  font-size: 1.5em;
}
.macroFileEdit {
  width: 24px;
  height: 24px;
  background: url(../images/icons/file-edit.png) no-repeat center;
  cursor: help;
  display: inline-block;
  transition: 0.3s all;
  &:hover, &:focus {
    background-image: url(../images/icons/file-edit-hover.png);
  }
}

.icomoon{
  font-family: 'icomoon';
  &.with-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  &.with-white-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.39);
  }
}
/*Help menu*/
.contextMenu.helpcontextmenu {
  display: none;
  &.shown {
    display: block;
    position: absolute;
    z-index: 101;
  }
}
.help-trigger {
  display:inline-block;
  cursor:pointer;
  padding: 0 4px;
  border:none;
  margin-left: -12px;
}

.phraseanet_logo {
  background: url(../images/logo_phraseanet.png) no-repeat center center /contain;
  height: 75px;
  width: 230px;
  display: inline-block;
}

.phraseanet_version {
  font-size: 15px;
  font-family: Roboto;
  font-weight: 500;
  color: #b7b7b7;
  padding-left: 58px;
  a {
    color: #b7b7b7;
    &:hover {
      color: #FFFFFF;
    }
  }
}

.phraseanet_about_top {
  background: #4e4e4e;
  padding: 30px 20px;
}
.phraseanet_about_bottom {
  padding: 25px 20px;
  min-height: 150px;
  background: #c8c8c8;
  a {
    font-family: Roboto;
    line-height: 1.2;
    font-size: 15px!important;
    font-weight: 500;
    color: #000000!important;
    text-decoration: underline;
  }

}
.phraseanet_gpl {
  img {
    position: absolute;
    width: 84px;
  }
  span {
    padding-top: 26px;
    display: inline-block;
    padding-left: 100px;
    padding-bottom: 20px;
    text-decoration: underline;
  }
  a {
    text-decoration: underline;
  }

}

.acceptDl-info {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-radius: 3px;
  color: #3a87ad;
  display: inline-block;
  padding: 9px 24px 5px 9px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  a, label {
    color: #3a87ad!important;
  }
  a {
    text-decoration: underline;
  }
}

