/**
 * Common stylesheet, builded into assets/common/styles/common.css
 */
@import '../../_shared/styles/variables';
@import '../../vendors/bootstrap/bootstrap';
@import '../../vendors/bootstrap/responsive';
@import '../../_shared/styles/override-bootstrap';
@import '../../../../www/bower_components/font-awesome/scss/font-awesome.scss';
@import '../../_shared/styles/main';

$mainMenuBackgroundColor: #212121; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuLinkColor: #b1b1b1;
$mainMenuLinkHoverColor: #FFFFFF;
$mainMenuLinkActiveColor: #b1b1b1;
$mainMenuLinkBackgroundHoverColor: transparent;
// $mainMenuMarginBottom: 30px;
@import '../../_shared/styles/main-menu';


#mainContent {
  margin-top: $mainMenuHeight;
}



