/**
 * Common stylesheet, builded into assets/common/styles/common.css
 */
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import '../../_shared/styles/variables';
@import '../../vendors/bootstrap/bootstrap';
@import '../../vendors/bootstrap/responsive';
@import '../../_shared/styles/override-bootstrap';
@import '../../_shared/styles/main';

$mainMenuBackgroundColor: #212121; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuLinkColor: #b1b1b1;
$mainMenuLinkHoverColor: #FFFFFF;
$mainMenuLinkActiveColor: #b1b1b1;
$mainMenuLinkBackgroundHoverColor: transparent;
// $mainMenuMarginBottom: 30px;
@import '../../_shared/styles/main-menu';


#mainContent {
  margin-top: $mainMenuHeight;
}

#record_infos .lightbox_container {
  top: 0px;
  dt {
    font-weight: bold;
    display: block;
    margin-left: 0px;
    width: initial;
    float: none;
    text-align: initial;
  }
  dd {
    margin-left: 10px;
  }
}



