$FontAwesomePath:   '/assets/common/fonts' !default; // dist path
$iconsPath: '/assets/common/images/icons/' !default;

$mainMenuHeight: 40px !default;
$mainMenuLineHeight: 36px !default;


$baseBorderRadius:      3px !default;
$borderRadiusLarge:     4px !default;
$borderRadiusSmall:     2px !default;


$defaultFontFamily: Roboto, sans-serif;
$xsmallFontSize: 8px;
$smallFontSize: 10px;
$xmediumFontSize: 12px;
$mediumFontSize: 13px;
