<html lang="{{session.get_I18n()}}">
  <head>
    <link type="text/css" rel="stylesheet" href="/include/minify/f=skins/common/main.css,skins/prod/{{user.getPrefs('css')}}/prodcolor.css," />
    <script type="text/javascript" src="/include/minify/f=include/jslibs/jquery-1.5.2.js,include/jquery.p4.modal.js"></script>
    <script type="text/javascript" src="/include/jslibs/jquery-ui-1.8.12/js/jquery-ui-1.8.12.custom.min.js"></script>
  </head>

  <body id="body" class="bodyprofile" style="overflow:hidden; padding:0px; margin:0px;">
    <div class="boxCloser" onclick="parent.hideDwnl();">{%trans 'boutton::fermer' %}</div>
    <div id="tabs">
      <ul>
        <li><a href="#colls">{%trans 'prod::collection::Changer de collection' %}</a></li>
      </ul>
      <div id="colls" class="tabBox">
        <div style="text-align:center;margin:30px 0px;">
          {{message}}
          <input class="input-button" type="button" value="{%trans 'boutton::fermer' %}" onclick="parent.hideDwnl();" />
        </div>
      </div>
    </div>
  </body>
</html>
