<div class="PNB" id="PushBox">
  <div class="PNB" style="width:205px;"> 
    <div class="PNB10">
      <div class="PNB content" style="top:130px;height:240px;bottom:auto;">
        <div class="PNB10">
          {% trans 'Set users to' %}

            <ul>
              <li>
                <img src="/skins/prod/Push/contributeur_menu.png" />
                <input type="checkbox" />
                {% trans 'Contributor' %}
              </li>
              <li>
                <img src="/skins/prod/Push/see_other_menu.png" />
                <input type="checkbox" />
                {% trans 'See others' %}
              </li>
              <li>
                <img src="/skins/prod/Push/download_menu.png" />
                <input type="checkbox" />
                {% trans 'HD Download' %}
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="PNB" style="left:205px;"> 
    <div class="PNB" style="height:75px;bottom:auto;"> 
      <div class="PNB10">
        
        <input name="users-search" placeholder="{% trans 'Users' %}" type="text" />
        
        <a href="/users/add/" class="user_adder">{% trans 'Add user' %}</a>
        
      </div>
    </div>
    <div class="PNB" style="top:75px;bottom:75px;"> 
      <div class="PNB10 content user_content">
        <div class="PNB10 header">
          <table>
            <tr>
              <td>
                {% trans 'Send to n users' %}
              </td>
              <td class="options">
                <button>{% trans 'Select all' %}</button>
                <button>{% trans 'Deselect all' %}</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="PNB badges">
        </div>
      </div>
    </div>
    <div class="PNB" style="height:75px;top:auto;"> 
      <div class="PNB10">

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    
    var $container = $('#PushBox');
    
    $('button', $container).button();
    
    
    
    
    $('input[name="users-search"]', $container).autocomplete({
        minLength: 2,
        source: function( request, response ) {
          $.ajax({
            url: '/prod/push/search-user/',
            dataType: "json",
            data: {
              query: request.term
            },
            success: function( data ) {
              console.log(response);
              response( data );
            }
          });
        },
        select: function( event, ui ) {
          p4.Mustache('Push-Badge', ui.item, appendBadge);
          return false;
        }
      })
      .data( "autocomplete" )._renderItem = function( ul, item ) {
        return $( "<li></li>" )
          .data( "item.autocomplete", item )
          .append( "<a>" + item.display_name + "</a>" )
          .appendTo( ul );
      };
    
    function appendBadge(badge)
    {
      $('.user_content .badges', $container).append(badge);
    }
    
    
    
    
  });
</script>