.idea
.settings
/*.md
/.circleci
/.dockerignore
/.env
/.env.*
/env.*
/.git
/.gitignore
/.travis.yml
/AUTHORS
/CONTRIBUTORS
/doc
/Dockerfile
/LICENSE
/bin
!/bin/console
!/bin/developer
!/bin/setup
!/bin/maintenance
!/bin/report
/cache
/config/configuration.yml
/config/configuration-compiled.php
!/config/configuration.sample.yml
/datas
/docker-compose.*
/logs
/node_modules
/plugins
/tmp
/vendor
/volumes
/www/assets
/www/custom
/www/plugins
/www/thumbnails
npm-debug.log
