/.circleci
/.git
.settings
/nodes_modules
/vendor
/docker-compose.*
/Dockerfile
/.env
/.env.*
/*.md
/.travis.yml
/CONTRIBUTORS
/LICENSE
/www/thumbnails
/www/assets
/www/custom
/config/configuration.yml
/config/configuration-compiled.php
