[submodule "lib/vendor/dailymotion-sdk-php"]
	path = lib/vendor/dailymotion-sdk-php
	url = git://github.com/dailymotion/dailymotion-sdk-php.git
[submodule "lib/vendor/exiftool"]
	path = lib/vendor/exiftool
	url = git://github.com/alchemy-fr/exiftool.git
[submodule "lib/vendor/recaptcha"]
	path = lib/vendor/recaptcha
	url = git://github.com/alchemy-fr/recaptcha.git
[submodule "lib/vendor/sphinx"]
	path = lib/vendor/sphinx
	url = git://github.com/alchemy-fr/SphinxSearch-PHP-SDK.git
[submodule "www/include/vendor/humane-js"]
	path = www/include/vendor/humane-js
	url = https://github.com/wavded/humane-js.git
[submodule "www/include/vendor/qunit"]
	path = www/include/vendor/qunit
	url = git://github.com/jquery/qunit.git
[submodule "www/include/vendor/mustache-js"]
	path = www/include/vendor/mustache-js
	url = https://github.com/janl/mustache.js.git
