/nbproject
/config
!/config/configuration.sample.yml
.DS_Store
/vendor
/plugins
composer.phar
behat.yml
/datas
/www/assets
/www/skins/build
/www/crossdomain.xml
/www/plugins
/bin
!/bin/console
!/bin/developer
!/bin/setup
