###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

# Exclude common IDE project files
/nbproject
/.idea

# Exclude javascript dependencies folder
/public/assets
/public/bower_components
/tmp-assets

# Exclude thumbnails folder
/public/thumbnails

# Exclude node.js dependencies folder
/node_modules

# Exclude compiled javascript test fixture folder
/public/scripts/tests/fixtures

# Exclude configuration folder exception the configuration sample file
#/config
#!/config/configuration.sample.yml

# Exclude generated proxies from doctrine2
/resources/proxies

# Exclude temporaries resources (zip files, quarantine documents etc ..) folder
/tmp

# Exclude cache folder
/cache

# Exclude log folder
/logs

# Exclude plugin folder
/plugins
# Excluse assets plugin folder
/public/plugins

# Exclude folder for storing documents (images, videos, PDF) and their sub-definitions
/datas

# Exclude dependencies folder
/vendor

# Exclude composer
composer.phar

# Exclude behat configuration file
behat.yml

# Exclude vagrant configuration file
/.vagrant
/vagrant

# Exclude crossdomain.xml file it's generated
/public/crossdomain.xml

# Exclude jison files
grammar/query.js
grammar/jison-*

pimple.json
playbook.retry
npm-debug.log


###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
