<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="false"
         bootstrap="tests/bootstrap.inc"
>
<!--
    <logging>
      <log type="coverage-html" target="tmp/phpunit_report/report" charset="UTF-8"
           yui="true" highlight="false"
           lowUpperBound="35" highLowerBound="70"/>
      <log type="coverage-clover" target="tmp/coverage.xml"/>
      <log type="json" target="tmp/phpunit_report/logfile.json"/>
      <log type="junit" target="tmp/phpunit_report/logfile.xml" logIncompleteSkipped="false"/>
      <log type="testdox-html" target="tmp/phpunit_report/testdox.html"/>
      <log type="testdox-text" target="tmp/phpunit_report/testdox.txt"/>
    </logging>-->
    <php>
      <ini name="display_errors" value="on"/>
    </php>

    <testsuites>
        <testsuite name="PhraseanetTest Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
      <blacklist>
        <directory>lib/vendor</directory>
        <directory>tests</directory>
        <directory>vendor</directory>
      </blacklist>
    </filter>

  <listeners>
    <listener class="PhraseanetPHPUnitListener" file="tests/PhraseanetPHPUnitListener.class"></listener>
  </listeners>

</phpunit>

