<div id="thumb_confirm">
  <img class="selected" src="{{ image }}"/>
  <div>
      {{ 'you are about to change the  representation thumbnail of your video' | trans }} : <span
            style='color:#884c92'>{{ video_title }}</span>
  </div>
  <div>
      {{ 'do you want to validate' | trans }}
  </div>
</div>
