<div id="thumb_confirm">
<table>
  <tbody>
    <tr>
      <td>
        <img class='selected' style="width:160px; height:105px;"src="{{image}}"/>
      </td>
      <td>
        <img style=" width:50px;height:80px;"src="/skins/prod/ThumbExtractor/question_mark.png"/>
      </td>
    </tr>
    <tr>
      <td colspan="2" style='text-align:left'>
        {% trans 'you are about to change the  representation thumbnail of your video' %} : <span style='color:#1B9DD0'>{{video_title}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2" style='text-align:left'>
        {% trans 'do you want to validate' %} ?
      </td>
    </tr>
  </tbody>
</table>

</div>
