
/******* ACTIONS **************************************************************/

.toolbutton {
  float: left;
  width: 70px;
  height: 50px;
  overflow: hidden;
  margin: 0px;
  cursor: pointer;
}

.toolbuttonimg {
  float: left;
  width: 50px;
  margin: 0px 10px 0px;
  height: 30px;
  overflow: hidden;
  text-align: center;
}

.toolbuttonlabel {
  float: left;
  width: 70px;
  height: 20px;
  overflow: visible;
  text-align: center;
}

#TOOL_disktt {
  background-image: url('#{$skinsImagesPath}disktt_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_disktt.actif {
  background-image: url('#{$skinsImagesPath}disktt_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_ppen {
  background-image: url('#{$skinsImagesPath}ppen_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_ppen.actif {
  background-image: url('#{$skinsImagesPath}ppen_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_chgstatus {
  background-image: url('#{$skinsImagesPath}chgstatus_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_chgstatus.actif {
  background-image: url('#{$skinsImagesPath}chgstatus_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_chgcoll {
  background-image: url('#{$skinsImagesPath}chgcoll_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_chgcoll.actif {
  background-image: url('#{$skinsImagesPath}chgcoll_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_pushdoc {
  background-image: url('#{$skinsImagesPath}pushdoc_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_pushdoc.actif {
  background-image: url('#{$skinsImagesPath}pushdoc_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_print {
  background-image: url('#{$skinsImagesPath}print_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_print.actif {
  background-image: url('#{$skinsImagesPath}print_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_imgtools{
  background-image: url('#{$skinsImagesPath}imgtools_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_imgtools.actif{
  background-image: url('#{$skinsImagesPath}imgtools_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_trash {
  background-image: url('#{$skinsImagesPath}trash_0.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#TOOL_trash.actif {
  background-image: url('#{$skinsImagesPath}trash_1.gif');
  background-position: center center;
  background-repeat: no-repeat;
}
