/******* idFrameT CSS *********************************************************/

#idFrameT {
  margin-left: -20px;
  margin-right: -20px;
}


#idFrameT #selectCase {
  background: url('#{$iconsPath}ccoch0.gif') no-repeat center center;
  padding-left: 16px;
}

#idFrameT .btn-toolbar {
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: $backgroudSecondaryColor;
  font-size:10px;
  z-index:100;
  height:45px;
}


#idFrameT .tools .classicButton button.btn,
#idFrameT .tools .dropdownButton {
  margin: 0;
}

#idFrameT .tools:first-child .btn-group {
  border-right: 1px solid $answersToolsBtnSeparatorBorder;
}

#idFrameT .tools .btn-group {
  float: left;
}

#idFrameT .tools .classicButton button.btn,
#idFrameT .tools .dropdownButton button.btn {
  height: 30px;
  font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#idFrameT .tools .classicButton button.btn-inverse,
#idFrameT .tools .dropdownButton button.btn-inverse {
  background-image: none;
  background-color: $backgroudSecondaryColor;
  border-radius: 0;
  margin: 0;
  height: 45px;
  border: 0;
}

#idFrameT .tools .classicButton button.btn-inverse {
  border-right: 0;
}

#idFrameT .tools .dropdownButton button.btn-inverse {
  border-left: 0;
  border-right: 0;
}

#idFrameT .tools .classicButton button.btn-inverse:hover,
#idFrameT .tools .dropdownButton button.btn-inverse:hover {
  background-color: $answersToolsBtnBg;
  *background-color: $answersToolsBtnBg;
  color: $textPrimaryHoverColor;
}

#idFrameT .tools .classicButton button.btn-inverse img,
#idFrameT .tools .dropdownButton button.btn-inverse img {
  margin: 0 2px;
  max-width: none;
}

#idFrameT .tools .dropdown-menu {
  min-width: 95px;
  background-color: $answersToolsBtnBg;
  *border: 1px solid $answersToolsBtnBorder;
}

#idFrameT .tools .dropdown-menu a {
  padding: 3px 10px;
  font-size: 12px;
  color: $answersToolsBtnColor;
  cursor: pointer;
}

#idFrameT .tools .dropdown-menu a:hover {
  background-color: $answersToolsBtnHoverBg;
  color: $highlightTextColor; //$answersToolsBtnHoverColor;
}

#idFrameT .tools .dropdown-menu img {
  margin-right: 5px;
}

#idFrameT .tools #settings {
  display: block;
  float: right;
  line-height: 45px;
  padding-right: 51px;
  padding-left: 21px;
  margin-right: 0;
  color: $answersToolsBtnSettingsColor;
  background: url('#{$iconsPath}icone_settings.png') right 15px no-repeat;
  background-position: right 21px top 15px;
  border-left: 1px solid $answersToolsBtnSettingsBorder;
}

#idFrameT .tools #settings:hover {
  background-color: $answersToolsBtnSettingsHoverBg;
}
@media screen and (max-width: 1200px) {
  #idFrameT .tools button.btn-inverse img {
    display: none;
  }
  #idFrameT .tools #settings {
    text-indent: -9000px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 8px;
    width: 26px;
  }
}