$diapoBorderColor: $darkerBorderColor !default;

/**
 * Diapo are reused in answers, baskets,
 */

#reorder_box .diapo {
  height: 130px;
  width: 100px;
}

#reorder_box .diapo.ui-sortable-placeholder,
#reorder_box .diapo.ui-sortable-placeholderfollow {
  background-color: orange;
}

#reorder_box .CHIM.diapo img {
  z-index: 1000;
  position: relative;
  margin: 0;
}

#reorder_dialog .ui-sortable-placeholder,
#reorder_dialog .ui-sortable-placeholderfollow {
  width: 100px;
  height: 130px;
  background-color: $mediumBackgroundColor;
}

.diapo {
  position: relative;
  display: block;
  float: left;
  border: 1px solid $diapoBorderColor;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  margin: 8px 5px;
  &.selected {
    cursor: url('#{$iconsPath}cursor-move.png'), -moz-grab;
  }

  .thumb {
    overflow: hidden;
    position: relative;
    .record {
      position: relative;
      margin: 0 auto;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0px;
  }

  div.title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .duration {
    background-color: darken($darkerBackgroundColor, 10);
    color: $darkerTextColor;
  }
}

.diapo.CHIM .thumb_wrapper {
  padding: 6px 9px;
}

.diapo.IMGT .thumb_wrapper {
  padding: 0 11px;
}