@import '../../../_shared/styles/variables';
$mainMenuBottomBorder: none;

$mainMenuBackgroundColor: $mediumBackgroundColor; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuMarginBottom: 0;

$mainMenuLinkColor: $mainMenuLinkColor;
$mainMenuLinkBackgroundHoverColor: transparent; //$bgInverseHoverColor;
$mainMenuLinkHoverColor: $textPrimaryHoverColor;

@import '../../../_shared/styles/main-menu';
