@import '../../../_shared/styles/variables';
$mainMenuBottomBorder: none;

$mainMenuBackgroundColor: $mediumBackgroundColor; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuMarginBottom: 0;

$mainMenuLinkColor: $mainMenuLinkColor;
$mainMenuLinkBackgroundHoverColor: $bgInverseHoverColor;
$mainMenuLinkHoverColor: $textInverseHoverColor;

// already defined $mainMenuLinkColor: #212121;
//$mainMenuLinkHoverColor: #BFBFBF;
//$mainMenuLinkActiveColor: #BFBFBF;
@import '../../../_shared/styles/main-menu';
