
#modal_feed {
  .record_list .ui-state-highlight {
    width: 112px;
    height: 118px;
    position: relative;
    float: left;
    background: none;
    background-color: $darkBackgroundColor;
    border-color: $mediumBackgroundColor;
  }
  form {
    .feeds {
      color: $darkerTextColor;
      overflow: auto;
      .list {
        margin: 10px 0;
      }
      .feed {
        width: 95%;
        height: 18px;
        padding: 5px 0;
        background-color: $darkerBackgroundColor;
        border: 1px solid $darkerBorderColor;
        color: $darkerTextColor;
        font-size: $mediumFontSize;
        cursor: pointer;
        &.odd {
          background-color: lighten($darkerBackgroundColor, 5);
          color: $mediumTextColor;
        }
        &.hover {
          background-color: $lightBackgroundColor;
          color: $lightTextColor;
        }
        &.selected {
          background-color: $highlightBackgroundColor;
          color: $highlightTextColor;
        }
        span {
          margin: 0 10px;
        }
      }
    }
    input.error,
    textarea.error {
      border: 1px solid red;
    }
  }
}
