#pub_tabs .btn-group.open .btn-inverse.dropdown-toggle {
  background-color: $bridgeDropdownToggleBg;
  background-image: none;
}

#dialog_publicator .dropdown-menu {
  min-width: 95px;
  background-color: $bridgeDropdownMenuBg;
  *border: 1px solid $bridgeDropdownMenuBorder;
}

#dialog_publicator .dropdown-menu a {
  padding: 3px 10px;
  font-size: 12px;
  color: $bridgeDropdownMenuColor;
  cursor: pointer;
}

#dialog_publicator .dropdown-menu a:hover {
  background-color: $bridgeDropdownMenuHoverBg;
  color: $bridgeDropdownMenuHoverColor;
}

#dialog_publicator .ui-tabs-panel {
  left: 200px;
}

#dialog_publicator .notice_box,
#dialog_publicator .error_box {
  color: #404040;
  font-weight: bold;
  margin: 5px auto;
  padding: 5px 0;
  text-align: center;
  width: 90%;
}

#dialog_publicator .notice_box {
  background-color: green;
  color: $textPrimaryColor;
}

#dialog_publicator .error_box {
  background-color: orange;
}

#dialog_publicator .api_banner {
  height: 30px;
  bottom: auto;
  background-color: $bridgeDialogBg2;
}

#dialog_publicator .api_banner button {
  border: 1px solid #515151;
  background-color: #404040;
}

#dialog_publicator .api_banner .submenu.ui-buttonset {
  z-index: 600;
}

#dialog_publicator .api_content {
  top: 30px;
  bottom: 25px;
  color: $textPrimaryColor;
}

#dialog_publicator .api_content .blockmenu {
  bottom: auto;
  background-repeat: repeat-x;
  background-position: left bottom;
  z-index: 1000;
  width:100%;
  height:40px
}

#dialog_publicator .api_content .blockmenu a.selected,
#dialog_publicator .api_banner a.selected {
  font-weight: bold;
  color: #0088CC;
}

#dialog_publicator .api_content .blockresponse {
  padding: 0 10px;
  top: 40px;
  overflow: auto;
  z-index: 200;
}

#dialog_publicator .api_content .blockresponse .form-actions {
  background-color: $bridgeDialogBg;
  border-top: none;
  margin: 0;
}

#dialog_publicator .api_infos {
  top: auto;
  height: 25px;
  background-image: url('#{$iconsPath}api_info.png');
  background-repeat: repeat-x;
  background-position: 0 0;
  color: $textSecondaryColor;
}

#dialog_publicator .main_menu {
  float: left;
}

#dialog_publicator .diapo .title {
  height: 16px;
  overflow: hidden;
}