#look_box .input-small {
  height: 22px;
  font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

#look_box .btn {
  margin: 2px;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#look_box .radio.inline, #look_box .checkbox.inline {
  padding-top: 0px;
}

#look_box label, #basket_preferences label {
  line-height: 21px;
  color: $preferencesLabelColor;
}

#look_box h1, #basket_preferences h1 {
  margin: 5px 0;
  color: $textPrimaryColor;
  font-size: 12px;
  font-weight: bold;
}

#look_box div.box, #basket_preferences div.box {
  margin: 5px;
  float: left;
  width: 98%;
}