/******* PUBLICATOR ***********************************************************/

#dialog_publicator .diapo {
  width: 90px;
  overflow: hidden;
}

#dialog_publicator .api_thumbnail {
  max-width: 120px;
}

#dialog_publicator .diapo.pending_records {
  width: 50px;
  overflow: hidden;
}

#dialog_publicator .ui-state-default.not_configured a {
  color: #888888;
  font-style: italic;
}

#dialog_publicator .ui-state-active a {
  color: #0088CC;
}

#dialog_publicator .ui-state-active.not_configured a {
  color: #CCCCCC;
  font-style: normal;
}

#publicator_selection {
  height: 190px;
  bottom: auto;
  background-color: $publishDialogBg3;
}

#publicator_selection > .PNB10 {
  overflow: auto;
  bottom: 50px;
  background-color: $publishDialogBg4;
}

#publicator_selection .btn {
  font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}








#dialog_publicator .dropdown-menu .divider {
  background-color: #515151;
  border-bottom: 1px solid #404040;
  margin: 3px 1px 3px 1px;
}

#dialog_publicator .ui-tabs .ui-tabs-panel.loading {
  background-image: url('#{$iconsPath}loader000.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#dialog_publicator .diapo.ui-selected {
  background-color: #404040;
}

#dialog_publicator .diapo.ui-selecting {
  background-color: #202020;
}

#ul_main_pub_tabs {
  width: 200px;
  position: absolute;
  overflow: hidden;
  right: auto;
}

#dialog_publicator .ui-tabs-panel {
  left: 200px;
}

#dialog_publicator .notice_box,
#dialog_publicator .error_box {
  color: #414141;
  font-weight: bold;
  margin: 5px auto;
  padding: 5px 0;
  text-align: center;
  width: 90%;
}

#dialog_publicator .notice_box {
  background-color: green;
  color: #FFFFFF;
}

#dialog_publicator .error_box {
  background-color: orange;
}

#dialog_publicator .api_banner {
  height: 30px;
  bottom: auto;
  background-color: $publishDialogBg2;
}

#dialog_publicator .api_banner button {
  border: 1px solid #515151;
  background-color: #404040;
}

#dialog_publicator .api_banner .submenu.ui-buttonset {
  z-index: 600;
}

#dialog_publicator .api_content {
  top: 30px;
  bottom: 25px;
  color: $textPrimaryColor;
}

#dialog_publicator .api_content .blockmenu {
  bottom: auto;
  background-repeat: repeat-x;
  background-position: left bottom;
  z-index: 1000;
  width:100%;
  height:40px
}

#dialog_publicator .api_content .blockmenu a.selected,
#dialog_publicator .api_banner a.selected {
  font-weight: bold;
  color: #0088CC;
}

#dialog_publicator .api_content .blockresponse {
  padding: 0 10px;
  top: 40px;
  overflow: auto;
  z-index: 200;
}

#dialog_publicator .api_content .blockresponse .form-actions {
  background-color: $publishDialogBg;
  border-top: none;
  margin: 0;
}

#dialog_publicator .api_infos {
  top: auto;
  height: 25px;
  background-image: url('#{$iconsPath}api_info.png');
  background-repeat: repeat-x;
  background-position: 0 0;
  color: $textSecondaryColor;
}

#dialog_publicator .main_menu {
  float: left;
}

#dialog_publicator .diapo .title {
  height: 16px;
  overflow: hidden;
}

#ul_main_pub_tabs {
  width: 200px;
  position: absolute;
  overflow: hidden;
  right: auto;
  margin-top: -1px;
}

#ul_main_pub_tabs li {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 6px center;
}

#ul_main_pub_tabs li.bridge_Youtube {
  background-image: url('#{$iconsPath}youtube-small.gif');
}

#ul_main_pub_tabs li.bridge_Dailymotion {
  background-image: url('#{$iconsPath}dailymotion-small.gif');
}

#ul_main_pub_tabs li.bridge_Flickr {
  background-image: url('#{$iconsPath}flickr-small.gif');
}


#dialog_publicator .diapo .thumb_wrapper {
  padding: 5px;
}

#dialog_publicator .duration_time {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 4px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
}

#dialog_publicator .ui-tabs-panel .PNB10.container {
  overflow-x: hidden;
  overflow-y: auto;
}

#dialog_publicator .blockresponse .element {
  margin: 5px 10px;
}

#dialog_publicator .element table {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#dialog_publicator .element table tr {
  vertical-align: top;
}

#dialog_publicator .element table .title {
  color: #0088CC;
  font-weight: bold;
}

#dialog_publicator .element table td.thumbnail {
  width: 140px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
  text-align: center;
}

#dialog_publicator .element table td.special {
  width: 80px;
}

#dialog_publicator .ui-tabs-panel .blockresponse a {
  color: #0088CC;
  text-decoration: none;
}

#dialog_publicator .element_menu .default_action,
.element_menu .trigger {
  z-index: 444;
  font-size: 13px;
  font-weight: normal;
  border-color: #666
}

#dialog_publicator .submenu {
  display: none;
  position: absolute;
}

#dialog_publicator .multi_menu .submenu button {
  background-color: #313131;
  background-image: none;
}

#dialog_publicator .multi_menu .submenu button.ui-state-hover {
  background-color: #212121;
}

#dialog_publicator .ui-state-active a {
  color: #0077BC;
}

#dialog_publicator .api_banner button {
  border: 1px solid #515151;
  background-color: #404040;
}

#dialog_publicator .api_banner .submenu.ui-buttonset {
  z-index: 600;
}

#dialog_publicator .api_content .element {
  padding: 5px;
  color: #FFFFFF;
}

#dialog_publicator .api_content .element.odd {
  background-color: #414141;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px rgba(0, 0, 0, 0.25) inset;
}

#dialog_publicator .api_content .element.even {
  background-color: #666666;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px rgba(0, 0, 0, 0.25) inset;
}

#dialog_publicator .api_content .element.selected {
  background-color: #999999;
}

#dialog_publicator .api_content .element table .informations {
  width: 296px;
}
