/******* THUMB EXTRACTOR ******************************************************/

#thumbExtractor {
  background-color: $lightBackgroundColor;
  .main_title {
    height: 15px;
    font-weight: bold;
    top: 15px;
  }
  .part_title_left {
    height: 20px;
    width: 320px;
    top: 30px;
    left: 10px;
  }
  .part_title_right {
    height: 20px;
    width: 320px;
    top: 30px;
    left: 380px;
  }
  #thumb_info {
    padding-top: 25px;
    font-style: italic;
  }
  .frame_video {
    border: 1px solid $darkerBorderColor;
    height: 210px;
    width: 320px;
    top: 50px;
    left: 10px;
  }
  #thumb_video {
    height: 100%;
    width: 100%;
  }
  .frame_canva {
    border: 1px solid $darkerBorderColor;
    border-bottom: none;
    height: 210px;
    line-height: 210px;
    width: 320px;
    top: 50px;
    left: 380px;
    z-index: 2;
    text-align: center;
  }
  #thumb_canvas {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
  }
  .action_bar_left {
    height: 20px;
    width: 320px;
    left: 10px;
    top: 260px;
    padding: 2px;
  }
  .action_bar_right {
    height: 20px;
    width: 320px;
    top: 260px;
    left: 380px;
    display: table-row;
    padding: 2px;
    .action_icon {
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
      &:hover {
        cursor: pointer;
      }
    }
  }
  #thumb_reset_button {
    width: 41px;
    height: 41px;
    position: absolute;
    bottom: 10px;
    right: 60px;
    display: none;
    line-height: 20px;
  }
  #thumb_delete_button {
    width: 41px;
    height: 41px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    line-height: 20px;
  }
  #thumb_delete_button,
  #thumb_reset_button {
    cursor: pointer;
  }
  #thumb_slider {
    height: 95px;
    width: 320px;
    top: 285px;
    left: 380px;
    padding: 0;
    overflow: auto;
  }
  #thumb_wrapper {
    white-space: nowrap;
    margin-top: 15px;
    img {
      display: inline-block;
      width: 80px;
      height: auto;
      margin-left: 5px;
      margin-right: 5px;
      &.selected {
        border: 2px solid $bgInverseHoverColor;
      }
    }
  }
  #thumb_camera_button {
    cursor: pointer;
    height: 50px;
    width: 320px;
    top: 300px;
    left: 10px;
    text-align: center;
  }
  .thumb_submit_action {
    cursor: pointer;
    height: 30px;
    width: 80px;
    top: 385px;
    left: 620px;
    padding: 0;
  }
  .action_frame .ui-slider .ui-slider-handle {
    background-color: #FFFFFF;
  }
}

#thumb_confirm {
  table {
    table-layout: fixed;
    width: 100%;
    td {
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      img.selected {
        width: 160px;
        height: auto;
      }
    }
  }
}
