$proposalsTitleColor: $darkerTextColor !default;
$proposalsTitleHoverColor: $darkerTextHoverColor !default;
$proposalsContentTextColor: $darkerTextColor !default;
$proposalsContentTextColor: $darkerTextColor !default;
$proposalFacetColor: #FFF !default;
$proposalsFacetHoverColor: #FFF !default;
/******* PROPOSALS ************************************************************/


#proposals {
  position: relative;
  left: 5px;
  border-top: 1px solid $darkBorderColor;
  top: $tabHeight !important;
  *:focus {
    outline: none;
  }
  ul {
    ul {
      background-color: $darkBackgroundColor;
    }
    li {
      line-height: 17px;
      font-size: $mediumFontSize;
    }
    &.fancytree-container {
      background-color: $mediumBackgroundColor;
      border: 0px none transparent;
      overflow-x: hidden;
      padding-left: 0;
      padding-top: 0;
      ul {
        padding: 17px 0;
        overflow: auto;
        width: 101%;
        max-height: 400px;
        overflow-x: hidden;
        li {
          padding-left: 30px;
          line-height: 25px;
          white-space: pre-line !important;
          &:hover {
            background-color: $proposalColor;
            .fancytree-title {
              color: $proposalsFacetHoverColor;
              // color: $textPrimaryHoverColor;
            }
          }
        }
      }
    }
  }
  .fancytree-folder {
    font-weight: bold;
    font-size: $xmediumFontSize;
    color: $proposalsTitleColor;
    height: 49px;
    line-height: 49px;
    margin-left: 0;
    border-left: 4px solid $mediumBackgroundColor;
    border-bottom: 1px solid $mediumBorderColor;
    .fancytree-title {
      font-size: $xmediumFontSize;
      margin-left: 10px;
    }
    &:hover {
      border-left: 4px solid $proposalColor;
      color: $proposalsTitleHoverColor;
      .fancytree-title {
        color: $proposalsTitleHoverColor;
      }
    }
    .fancytree-expander {
      &:before {
        content: '\25C0'; /* U+25C0 BLACK LEFT-POINTING TRIANGLE */
        color: $mediumTextColor;
      }
      &:hover {
        &:before {
          color: $basketsColor;
        }
      }

    }
  }
  .fancytree-expanded {
    .fancytree-expander:before {
      content: '\25BC'; /* U+25BC BLACK BLACK DOWN-POINTING TRIANGLE */
      color: $textPrimaryHoverColor;
    }
  }


  .fancytree-expander {
    position: absolute;
    right: 10px;
    background-image: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-weight: normal;
    font-size: 65%;
  }

  .fancytree-title {
    font-size: $xmediumFontSize;
    color: $proposalsTitleColor;
    background-color: transparent;
    border: 0px none transparent;
  }

  .fancytree-node {
    font-size: $xmediumFontSize;
    color: $proposalsContentTextColor;
    //background-color: transparent;
    //border: 0px none transparent;
    cursor: pointer;
  }

  .facetFilter {
    font-weight: normal;
    position: absolute;
    width: 127px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    border-radius: 4px;
    right: 28px;
    background-color: $proposalColor;
    color: $proposalFacetColor;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 11px;
  }

  .facetFilter-label {
    position: absolute;
    left: 13px;
    right: 14px;
    overflow: hidden;
    cursor: default;
  }

  .facetFilter-gradient {
    position: absolute;
    width: 20px;
    right: 0;
  }

  .facetFilter-closer {
    position: absolute;
    right: 13px;
    cursor: pointer;
    background: url('#{$iconsPath}bgd_facetFilter.png') 0 5px no-repeat;
    height: 25px;
    width: 14px;
  }
}
