#idFrameC {
  .wrapper {
    background-color: $workzoneBg;
    right: 10px;
    border-top: 1px solid $workzoneBorderTop;
  }

  .ui-tabs {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0;
    .ui-tabs-nav {
      li {
        width: auto;
        height: 85px;
        display: inline-block;
        background-color: $backgroudSecondaryColor;
        z-index: 10;
        border-radius: 0;
        &.proposals_WZ {
          &.ui-state-active {
            a {
              border-bottom: 3px solid $proposalColor;
            }
          }
          &.active {
            img.proposals_off {
              display: none;
            }
          }
          img.proposals_on {
            display: none;
          }
        }

        /*&.proposals_WZ.ui-state-active a {
          border-bottom: 3px solid #4c5d84;
        }*/
        &.thesaurus.ui-state-active a {
          border-bottom: 3px solid $thesaurusColor;
        }
        &.baskets.ui-state-active a {
          border-bottom: 3px solid $basketsColor;
        }
        a {
          padding: 0;
          margin: 0;
          border-radius: 0;
          &.escamote {
            margin: 25px 25px 0 0;
          }
        }
        &:hover {
          a {
            background-color: $workzoneTabBgHover;
            border-bottom: 3px solid $workzoneTabBgHover;
          }
        }
        &.ui-state-active {
          a {
            background-color: $workzoneTabBgActive;
            border-bottom: 1px solid $thesaurusColor;
            height: 82px;
          }
        }
      }
    }
    #thesaurus_tab {
      li {
        a {
          color: $textPrimaryColor;
        }
        &.th_tab {
          height: 43px;
          margin: 0;
          .ui-state-active {
            border-bottom: 1px solid $thesaurusColor;
          }
          a {
            height: 43px;
            line-height: 43px;
            vertical-align: middle;
            margin: 0;
            padding: 0 20px;
            display: block;
            text-decoration: none;
          }
        }
      }
    }
  }
  ul.icon-menu {
    width: 100%;
  }
  .icon-menu {
    .WZtabs {
      display: block;
      width: 70px;
      height: 82px;
      line-height: 82px;
      vertical-align: middle;
      text-align: center;
    }
    .WZbasketTab {
      display: block;
      background-image: url('#{$iconsPath}workzone32.png');
      background-repeat: no-repeat;
      background-position: 9px 21px;
      width: 70px;
      height: 82px;
    }
  }
  .closed {
    .icon-menu li {
      clear: left;
    }
  }
  .ui-tabs-panel,
  .ui-resizable-handle {
    display: none;
  }
  .tools {
    //text-align: center;
    text-align: left !important;
    button {
      background-color: transparent;
      border: none;
      width: 16px;
      height: 22px;
      cursor: pointer;
      padding: 0px;
    }
    label {
      display: inline;
      margin: 0 15px 0 0;
      float: left;
      font-size: 11px;
      color: $workzoneToolsLabelColor;
      line-height: 22px;
      vertical-align: middle;
    }
  }
}

#idFrameC .ui-tabs .ui-tabs-nav,
#idFrameE .ui-tabs .ui-tabs-nav {
  background-color: transparent;
  top: 0px;
  left: 10px;
  right: 10px;
  margin-top: 21px;
  border-top: 1px solid $workzoneTabBorderTop;
  border-radius: 0;
  height: 43px;
  border-bottom: 1px solid $workzoneTabBorderBottom;
}

#idFrameC .ui-tabs .ui-tabs-panel,
#idFrameE .ui-tabs .ui-tabs-panel {
  position: absolute;
  top: 56px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.alert_datas_changed a {
  color: #404040;
  text-decoration: underline;
}
