
{% if parents.get_count() > 0 %}
<ul>
  <li class="title">{% trans 'Apparait aussi dans ces reportages' %}</li>
  {% for par in parents %}
    <li onclick="openPreview('REG',0,'{{par.get_serialize_key()}}'); return(false);"
        class="otherRegToolTip" {% if show_tooltips %}tooltipsrc="/prod/tooltip/caption/{{par.get_sbas_id()}}/{{par.get_record_id()}}/basket/" {% endif %}>
      <img src="{{par.get_thumbnail().get_url()}}" style="width:25px;height:25px;"/>
      <span class="title"> {{par.get_reg_name()|raw}}</span>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% if baskets|length > 0 %}
<ul>
  <li class="title">{% trans 'Apparait aussi dans ces paniers' %}</li>
{% for basket in baskets %}
  <li onclick="openPreview('BASK',0,'{{basket.get_ssel_id()}}',true); return(false);"
                   class="otherBaskToolTip" title="{{basket.get_description()}}">
    <img style="vertical-align:middle;" title="" src="/skins/icons/basket.gif"/>
    <span class="title">{{basket.get_name()|raw}}</span>
  </li>
{% endfor %}
</ul>
{% endif %}
