{% import 'common/caption_templates/preview.html.twig' as caption %}

  {% if app['phraseanet.user'].ACL().has_right_on_base(record.get_base_id, 'canmodifrecord') %}
    <div class="edit_button" style="text-align:right">
      <a href="#" onclick="editThis('IMGT','{{record.get_serialize_key()}}');">
        <img style="vertical-align:middle" src="/skins/prod/000000/images/ppen_history.gif" />
        {% trans 'action : editer' %}
      </a>
    </div>
  {% endif %}
  <div style="text-align:center;">
    {{record.get_status_icons()|raw}}
  </div>
  {% set business = app['phraseanet.user'].ACL().has_right_on_base(record.get_base_id(), 'canmodifrecord') %}
  {% if record.is_from_reg()  %}
    {{caption.format_caption(record, '', null, business)}}
  {% else %}
    {{caption.format_caption(record, highlight, searchEngine, business)}}
  {% endif %}
  <hr style="margin:10px 0;"/>
  {% include 'common/technical_datas.html.twig' %}