<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app['locale'] }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ app['locale'] }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ app['locale'] }}"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html lang="{{ app['locale'] }}">
<!--<![endif]-->
    <head>
        {% block head %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="user-scalable=no, width=980px" />
            <title>{% block title %}{% endblock %} - Reports </title>
            {% block stylesheet %}{% endblock %}
            {% block icon %}{% endblock %}
            {% block javascript %}{% endblock %}
        {% endblock %}
    </head>
    <body style="overflow:hidden;">
        <div id="mainContainer" style="position:absolute;top:0;bottom:0;left:0;right:0;">
            {% block menubar %}<div id="mainMenu" class="PNB"></div>{% endblock %}
            <div id="form-container" >
                <div id="mainTabs">
                    {% block all_content %}{% endblock %}
                </div>
            </div>
            {% block javascript_google %}{% endblock %}
        </div>
    </body>
</html>
