<button class="hided" style="margin-left:3px;float:left;"></button>
<button class="showed" style ="display:none;margin-left:3px;float:left;"></button>
<button class="hided" style="margin-right:10px;float:right;"></button>
<button class="showed" style ="display:none;margin-right:10px;float:right;"></button>
