{% extends "report/report_layout.html.twig" %}

{% block report_dashboard_layout %}
    <div id="dash" class="inside-container">
        <div class="answers">
            <div class="content">
                <div id='dashboard'>
                    <div id="panel" style="height:40px;width:100%;display:none;">
                        <div style="margin-top:15px;float:left;margin-bottom:20px;">
                            <div style="float:left;" >
                                <label for="dmin" class="form_titre">{% trans "report:: Du (date)" %}</label>
                                <input class= "dminDash" name="dmin" type="text" value="{{ dashboard.dmin}}" size="10" />
                            </div>
                            <div style="float:left;margin-left:15px;">
                                <label for="dmax" class="form_titre">{% trans "report:: Au (date)" %}</label>
                                <input class="dmaxDash" name="dmax" type="text" value="{{dashboard.dmax}}" size="10" />
                            </div>
                        </div>
                        {# <div id="chooose" style="margin-left:15px;float:left;margin-top:15px;"> #}
                        {#  <div class="form_titre">{% trans "report:: 2 - Bases" %}</div> #}
                        {#  <label for="nameDash"></label> #}
                        {#  <select name="nameDash" style = "background-color:#555;color:orange;border:none;"> #}
                        {#    <option value="all">Global</option> #}
                        {#  {% for it in dashboard.authorizedCollection %} #}
                                {#  <option value="{{it.sbas_id}}">{{ it.name }}</option> #}
                        {#  {% endfor %} #}
                            {#</select> #}
                        {#</div> #}
                    </div>
                    <div class="slide" style="margin-top:-5px;"><a class="btn-slide arrowDown"
                                                                                                             style="width:100px;height:20px;padding:5px;float:right; text-align:center;display:block;color:#999;
">options</a></div>

                    <div id="dashdash" style="float:left;width:100%;">
                        {% if ajax_dash %}
                            {% include "report/ajax_dashboard_content_child.html.twig" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock report_dashboard_layout %}

{% block report_connexion_layout %}
    <div id="report-connexions" class="inside-container">
        <form class="form" >
            {% include "report/form_date_and_base.html.twig" %}
            {% block form_connexion %}
                <div class="form3">
                    <div class="form_titre">{% trans "report:: 3 - Type de report" %} </div>
                    {% if not anonymous %}
                        <div>
                            <input name="tbl" type="radio" value="CNXU" id="CNXU-input" class="formsubmiter" />
                            <label for="CNXU-input">{% trans "report:: (connexions) Par utilisateurs" %}</label>
                        </div>
                    {% else %}
                        <div>
                            <input name="tbl" type="radio" value="CNXU" id="CNXU-input" class="formsubmiter" />
                            <label for="CNXU-input">{% trans "report:: Grouper par" %}</label>
                            <select class="options" style="display:inline;display:none;" id="list-select" name="on" >
                                <option selected ="selected" value="fonction" class="formsubmiter">{% trans "report:: fonction" %}</option>
                                <option value="societe" class="formsubmiter">{% trans "report:: societe" %}</option>
                                <option value="activite" class="formsubmiter">{% trans "report:: activite" %}</option>
                                <option value="pays" class="formsubmiter">{% trans "report:: pays" %}</option>
                            </select>
                        </div>
                    {% endif %}
                    <div>
                        <input name="tbl" type="radio" value="CNX" id="CNX-input" class="formsubmiter" />
                        <label for="CNX-input">{% trans "report:: (connexions) Globales" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="CNXB" id="CNXB-input" class="formsubmiter" />
                        <label for="CNXB-input">{% trans "report:: (connexions) OS et navigateurs" %}</label>
                    </div>
                </div>
            {% endblock form_connexion %}
        </form>
        {% include "report/panel_hide_button.html.twig" %}
        <div class="answers">
            <div class="content">
                {% if ajax %}
                    {% include "report/ajax_report_content.html.twig" %}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock report_connexion_layout %}

{% block report_telechargement_layout %}
    <div id="report-telechargement" class="inside-container">
        <form class="form"  >
            {% include "report/form_date_and_base.html.twig" %}
            {% block form_telechargement %}
                <div  class="form3">
                    <div class="form_titre">{%trans "report:: 3 - Type de report" %}</div>
                    {% if anonymous %}
                        <div>
                            <input name="tbl" type="radio" value="USR" id="USR-dl" class="formsubmiter" />
                            <label for="USR-dl">{% trans "report:: Grouper par" %}</label>
                            <select class="options" style="display:inline;display:none;" id="list-select2" name="on" >
                                <option selected ="selected" value="fonction" class="formsubmiter">{% trans "report:: fonction" %}</option>
                                <option value="societe" class="formsubmiter">{% trans "report:: societe" %}</option>
                                <option value="activite" class="formsubmiter">{% trans  "report:: activite" %}</option>
                                <option value="pays" class="formsubmiter">{% trans "report:: pays" %}</option>
                            </select>
                        </div>
                    {% else %}
                        <div>
                            <input name="tbl" type="radio" value="USR" id="USR-input" class="formsubmiter" />
                            <label for="USR-input">{% trans "report:: par utilisateurs" %}</label>
                        </div>
                    {% endif %}
                    <div>
                        <input name="tbl" type="radio" value="GEN" id="GEN-input" class="formsubmiter" />
                        <label for="GEN-input">{% trans "report:: (telechargement) Global" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="DAY" id="DAY-input" class="formsubmiter" />
                        <label for="DAY-input">{% trans "report:: (telechargement) Par jours base par base" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="DOC" id="DOC-input" class="formsubmiter" />
                        <label for="DOC-input">{% trans "report:: (telechargement) Par documents sur la base" %}</label>
                        <select class="options" id="precise" name="precise" style="display:none;">
                            <option value="0">{% trans "report::aucune precision" %}</option>
                            <option value="1">{% trans "report::la description contient" %}</option>
                            <option value="2">{% trans "report:: recordid" %}</option>
                        </select>
                        <input name="preciseWord" type="text" value="" class="options entersubmiter" />
                    </div>
                </div>
            {% endblock form_telechargement %}
        </form>
        {% include "report/panel_hide_button.html.twig" %}
        <div class="answers">
            <div class="content">
                {% if ajax %}
                    {% include "report/ajax_report_content.html.twig" %}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock report_telechargement_layout %}

{% block report_activite_layout %}
    <div id="report-activite" class="inside-container">
        <form class="form"  >
            {% include "report/form_date_and_base.html.twig" %}
            {% block form_activite %}
                <div class="form3">
                    <div class="form_titre">{% trans "report:: 3 - Type de report" %} </div>
                    {% if anonymous %}
                        <input name="on" type="hidden" value="" checked="checked"/>
                    {% endif %}
                    <div>
                        <input name="tbl" type="radio" value="ASK" id="ASK-input" class="formsubmiter" />
                        <label for="ASK-input">{% trans "report:: toutes les questions" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="BESTOF" id="BESTOF-input" class="formsubmiter" />
                        <label for="BESTOF-input">{% trans "report:: Les questions les plus posees" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="NOBESTOF" id="NOBESTOF-input" class="formsubmiter" />
                        <label for="NOBESTOF-input">{% trans "report:: questions sans reponses" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="SITEACTIVITY" id="SITEACTIVITY-input" class="formsubmiter" />
                        <label for="SITEACTIVITY-input">{% trans "report:: activite du site" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="WDOC" id="WDOC" class="formsubmiter" />
                        <label for="WDOC">{% trans "report:: document" %}</label>
                        <select class="options" style="display:inline;display:none;" id="list-select3" name="docwhat" >
                            <option selected ="selected" value="PUSHDOC" class="formsubmiter">{% trans "report:: pushe" %}</option>
                            <option value="ADDDOC" class="formsubmiter">{% trans "report:: ajoute" %}</option>
                            <option value="EDIDOC" class="formsubmiter">{% trans "report:: edite" %}</option>
              <option value="VALIDATEDOC" class="formsubmiter">{% trans "report:: valide" %}</option>
                        </select>
                    </div>
                </div>
            {% endblock  form_activite %}
        </form>
        {% include "report/panel_hide_button.html.twig" %}
        <div class="answers">
            <div class="content">
                {% if ajax %}
                    {% include "report/ajax_report_content.html.twig" %}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock report_activite_layout %}
