{% extends "report/all_content.html.twig" %}

{% block report_layout %}
    <div id="form-container" >
        <div id="mainTabs">
            <ul id="navigation">
              <li><a href="#dash">{{ "report:: Dashboard" | trans }}</a></li>
                <li><a href="#report-connexions">{{ "report:: Connexion" | trans }}</a></li>
              <li><a href="#report-telechargement">{{ "report:: telechargements" | trans }}</a></li>
               <li><a href="#report-activite">{{ "report:: activite du site" | trans }}</a></li>
            </ul>

            {% block report_dashboard_layout %}
            {% endblock report_dashboard_layout %}


            {% block report_connexion_layout %}
            {% endblock report_connexion_layout %}



            {% block report_telechargement_layout %}
            {% endblock report_telechargement_layout %}


            {% block report_activite_layout %}
            {% endblock report_activite_layout %}

        {# END MAINTABS #}
        </div>
        {# END FORM CONTAINER #}
    </div>
    <iframe name="iframe" style="display:none;"></iframe>
{% endblock report_layout %}
