<!doctype html>
<html lang="{{ app['locale'] }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="initial-scale=1">
        <title>{{ app['conf'].get(['registry', 'general', 'title']) }} - {{ module_name }} </title>
        <link rel="stylesheet" href="/assets/vendors/jquery-mobile/jquery-mobile{% if not app.debug %}.min{% endif %}.css" />
        <script type="text/javascript" src="/assets/vendors/jquery/jquery{% if not app.debug %}.min{% endif %}.js"></script>
        <script type="text/javascript" src="/assets/vendors/jquery-mobile/jquery-mobile{% if not app.debug %}.min{% endif %}.js"></script>
        <style type="text/css">
            html,body, div[data-role ="page"] {
                height: 100%;
                width: 100%;
                margin: 0px;
                padding: 0px;
            }
        </style>
        {% block stylesheet %}{% endblock %}
        {% block icon %}{% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% include 'common/analytics.html.twig' %}
        {% include 'common/matomo_analytics.html.twig' %}
    </body>
</html>
