<!doctype html>
<html lang="{{ session.get_I18n }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>{{home_title}} - {{ module_name }} </title>
        <link rel="stylesheet" href="/include/jslibs/jquery.mobile-1.0a4/jquery.mobile-1.0a4.min.css" />
        <script src="/include/minify/f=include/jslibs/jquery-1.5.2.js"></script>
        {% block stylesheet %}{% endblock %}
        {% block icon %}{% endblock %}
        {% block javascript %}{% endblock %}
        <script src="/include/minify/f=include/jslibs/jquery.mobile-1.0a4/jquery.mobile-1.0a4.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% include 'common/analytics.twig' %}
    </body>
</html>
