{% set configuration = app['conf'].get(['registry', 'custom-links']) %}

{% if app.getAuthenticator().isAuthenticated() %}
    <div class="menu-bar-item">
        {% if app.getAuthenticatedUser().isGuest %}
            <span class="icomoon icon-agree">&#xe950;</span>
            <span class="text">{{ 'Guest' | trans }}</span>
        {% else %}
            <a target="_blank" href="{{ path('account') }}"
               title="{{ 'login:: Mon compte' | trans }}">
                <span class="icomoon icon-agree">&#xe950;</span>
                <span class="text">{{ app.getAuthenticatedUser().getDisplayName() }}</span>
            </a>
        {% endif %}
    </div>


{% endif %}

