
/********************
*********************
				HTML
*********************
********************/

*{
margin:0;
padding:0;	
}
img{
	border:none;
}









.ui-helper-reset
{
	line-height:auto;
}

.ui-tabs .ui-tabs-nav li a
{
	padding:3px 5px 0;	
}



.ui-tabs
{
	background-color:tranparent;
	padding:0;
	border-style:none;
}
.ui-tabs .ui-tabs-nav
{
	border:none;
	padding:0px;
}

#sizeAns_slider,#nperpage_slider{
	background-color:#666666;
	border-color:#666666;
	height:10px;

	}
#sizeAns_slider .ui-slider-handle,#nperpage_slider .ui-slider-handle{
	background-color:#1a1a1a;
	width:8px;
	cursor:col-resize;
	}





.ui-widget-header
{
	background:none;
	border:transparent 0px none;
}
.ui-tabs .ui-tabs-nav li
{
	background-color:transparent;
	height:30px;
	border:none;
	overflow:hidden;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
	background-color:#404040;
	border:none;
}
.ui-tabs .ui-tabs-nav li a
{
	padding: 10px 8px;
	font-size:0.8em;
	font-weight:normal;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
{
	cursor:pointer;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
{
	cursor: pointer; 
}
.ui-tabs .ui-tabs-panel
{
	overflow-x:hidden;
	overflow-y:auto;
	display: block;
	border-width:0;
	padding:0px;
	background-color:#404040;	
}
.ui-tabs .ui-tabs-panel.tabBox{
	height:310px;
	overflow:auto;
	position:relative;	
	padding:10px;
	
}
.ui-tabs .ui-tabs-hide
{
	display: none !important;
}
.ui-state-default, .ui-widget-content .ui-state-default
{
	background:none;	
}
.ui-tabs li.ui-state-active a, .ui-state-active a:link, .ui-state-active a 
{
	color:#b2b2b2;
	font-weight:bold;
	font-size:0.8em;
}
.ui-state-active, .ui-widget-content .ui-state-active
{
	background:none;	
}

.ui-widget-content
{
	background-image:none;	
	background-color:transparent;
}
.ui-dialog.ui-widget-content
{	
	background-color:#111111;
}
.ui-accordion .ui-accordion-content
{
	padding:0;	
}
.ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content
{
	margin:3px 0;
}
.ui-accordion .ui-accordion-header
{
	border:none;
	background-image:url(../../icons/bask_back.png);
	background-repeat:repeat-x;	
	margin-bottom:0;
	height:20px;
}















BODY
{
	BACKGROUND-COLOR: #959595;
	COLOR: #000000;
}
input,select{
	margin:0;
	padding:0;
	border:1px solid #999999;
	background:#FFFFFF;
	font-family:Verdana,Arial,helvetica,sans-serif;
}
input.checkbox{
	background:transparent;
	border:none;
}

.loading{
	background-image:url(../icons/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.baskLoading{
	background-image:url(../icons/baskLoader.gif);
	background-repeat:no-repeat;
	background-position:130px center;
}
.prevLoading{
	background-image:url(../icons/prevloader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

A
{
    COLOR: #000000;
    TEXT-DECORATION: none;
}

.pointer{
	cursor:pointer;
}

.bodyprofile
{
	background-color: #959595;
}

DIV.onglets
{
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 5px;
    margin-top: 5px;
    overflow:hidden;
}
DIV.onglets SPAN
{
    padding:4px 2px;
    MARGIN-RIGHT: 2px;
    BACKGROUND-COLOR: #C9C9C9;
    
    FONT-WEIGHT: normal;
		COLOR: #FFFFFF;
    TEXT-DECORATION: none;
    cursor:pointer;
    Z-INDEX: 2;
}
DIV.onglets SPAN.hover{
	text-decoration:underline;
}
DIV.onglets SPAN.actif
{
    
    Z-INDEX: 3;
    BACKGROUND-COLOR: #FFFFFF;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    FONT-WEIGHT: bold;
	COLOR: #949494;
}
DIV.onglets SPAN.actif A
{
}
DIV.onglets SPAN.inactif A
{
}

#tooltip
{
	BACKGROUND-COLOR: #DDDDDD;
	COLOR:#000000;
	BORDER:1px solid black;
	position: absolute;
	z-index: 3000;
	overflow:hidden;
	padding:5px;
}
.descimpair
{
	background-color:#C9C9C9;
}
#tooltip em, #grid .caption em{
	background:red;
}
.bigTabs{
	text-align:center;
	cursor:pointer;
	background-color:#C9C9C9;
	font-weight:bold;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
}
.bigTabs.actif{
	background-color:#E9E9E9;
}
#bigTabsBckg{
	background-color:#959595;
}
/********************
*********************
			TOPICS
*********************
********************/

#TOPIC_UL li{
	float:none;
	margin:0;
}

#idongTopic UL.opened
{
	border-left:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	margin-left:5px;
	padding-left:10px;
	list-style-type:none;
}
#idongTopic UL.static
{
	margin-left:5px;
	padding-left:10px;
	list-style-type:none;
}
#idongTopic UL.closed
{
	display:none;
}
#idongTopic UL.nobox
{
	border-left:0px none transparent;
	margin-left:4px;
	padding-left:0px;
	list-style-type:none;
}
#idongTopic LI
{
	position:relative;
	left:0px;
	margin:0px;
	padding:0px;
}
#idongTopic LI A
{
	color:#000000;
	padding:0px;
	background-repeat:no-repeat;
	width:11px;
	height:11px;
}
#idongTopic LI A.opened
{
	display:inline-block;
	background-image: url(../icons/tri_minus.gif); 
}
#idongTopic LI A.closed
{
	display:inline-block;
	background-image: url(../icons/tri_plus.gif); 
}
#idongTopic LI SPAN
{
	padding:0px;
	background-repeat:no-repeat;
	width:11px;
	height:11px;
}
#idongTopic LI SPAN.static
{
	display:inline-block;
	background-image: url(../icons/tri_static.gif); 
}
#idongTopic LI SPAN.none
{
	display:inline-block;
	background-image: none; 
}

#idongTopic div.searchZonePop{
	
	background-color:#E9E9E9;
}
#idongTopic div.searchZone
{
	height:100%;
}

/********************
*********************
			RECHERCHE
*********************
********************/


.bodySearchBottom
{
	height:5px;
}
.searchZone
{
	margin: 0 5px;
	background-color:#FFFFFF;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

#searchMiddle input.hover{
	background-color:#E9E9E9;
	color:black;
}
.bodyLeft{
	width:253px;
	position:absolute;
	left:3px;
	background-color:#E9E9E9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.basesContainer{
	margin:0 7px;
}
#mainSearch div div{
	margin-top:3px;
}
.basTitle{
	font-weight:bold;
	text-align:center;
	cursor:pointer;	
	}
.basContTitle{
	background-color:#C9C9C9;
	COLOR:#000000;
}
input.datepicker{
	width:80px;
}
img.ui-datepicker-trigger{
	margin:2px 0;
	vertical-align:bottom;	
	cursor:pointer;
}
.base_filter{
	margin:4px;
	padding:4px 0;
	background-color:#F7F7F7;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.filterTitle{
	background-color:#e0e0e0;
	margin:3px 0;
}
.basContTitle div.filter{
	padding-left:10px;
	background-position:0 2px;
	background-image:url(../icons/filters_cl.gif);
	background-repeat:no-repeat;
}
.filter, .base_filter{
	color:#555555;
}
.basContTitle div.filter span{
	cursor:pointer;
}
.basContTitle div.filter span.hover{
	text-decoration:underline;
}
.basContTitle div.open{
	background-image:url(../icons/filters_op.gif);
}
.basesContainer label{
	cursor:pointer;
}
.basGrp{

}
.basesGrp input{
	border:none;	
}
.basGrp div{
	padding:2px;
}
.basContainer{
	margin-bottom:5px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	border:2px solid #C9C9C9;
}

/********************
*********************
			CHUTIER
*********************
********************/

.bodynochu
{
	BACKGROUND-COLOR: #E9E9E9;
	OVERFLOW : hidden; 
}
.txtPushClient
{
	position:relative;
	float:left;
	width:230px;
}
.diapochu
{
	BACKGROUND-COLOR:#FFFFFF;
	WIDTH: 73px;
	MARGIN: 2px;
	TEXT-ALIGN: center;
	position:relative;float:left;
}
.diapochu .image
{
	HEIGHT: 65px;
}
#blocBask img
{
	cursor:pointer;
}
.diapochu .tools
{
	FONT-SIZE:8px;
	TEXT-ALIGN: right; 
	height:16px;
}
.flechenochu			/*** page  ***/
{
	vertical-align:bottom;
	margin:3px 0 0 3px;
	background-image:url(../icons/light_bas.gif);
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
	width:19px;
	height:14px;
	float:left;
	
}
#flechechu{
	background-image:url(../icons/light_haut.gif);
}
.hThumbnail, .vThumbnail
{
	border:none;
}
.baskTitle{
	height:18px;
	overflow:hidden;
}
.baskTitle .baskName{
	float:left;
	margin-top:3px;
}
.baskComparator,.baskCreate,.baskDel,.baskDownload,.baskPrint,.baskOneDel,.baskOneDownload{
	background-image:url('../icons/compare.gif');
	background-repeat:no-repeat;
	background-position:center center;
	width:18px;
	cursor:pointer;
	height:18px;
	float:right;
}
.baskCreate{
	background-image:url(../icons/add.gif);
}
.baskDel,.baskOneDel{
	background-image:url(../icons/delete.gif);
}
.baskDownload,.baskOneDownload{
	background-image:url(../icons/download.gif);
}
.baskPrint{
	background-image:url(../icons/print.gif);
}

/********************
*********************
			ROLLOVERS
*********************
********************/
.tabledescexp
{
	font-size:9px;
	border:none;
}

.tabledescexp div.field
{
	width:180px;
	height:12px;
	overflow:hidden;
}
.tabledescexp span.field_title
{
	font-weight:bold;
}

.fieldName
{
	font-weight:bold;
}
/********************
*********************
			ANSWERS
*********************
********************/

#grid,#grid tr, #grid td{
	z-index:50;
}
.diapo
{
	border: 1px solid #E9E9E9;
	BACKGROUND-COLOR :#e9e9e9;
	MARGIN: 0 10px 10px 0px;
	text-align: center;
	overflow: hidden;
	z-index:60;
	float:left;
}
.diapo .title
{
    OVERFLOW: visible;
    height: 30px;
}
.buttons .minilogos{
	float: left;
}
.diapo .minilogos{
	position:absolute;
	top:0px;
	left:0px;
}
.buttons{
    margin:3px 0 5px 0;
    TEXT-ALIGN: right;
    position:relative;
	height:16px;
}
.buttons img
{
    cursor:pointer;
}
.buttons .minilogos img{
	cursor:default;
}
.duration
{
	background-color:black;position: absolute;color: white; padding:3px; z-index: 100;
}
.captionTips
{
	cursor:pointer;
}
.PREV_PAGE, .NEXT_PAGE
{
	background-image:url('../icons/light_left.gif');
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	float:left;
	cursor:pointer;
}
.NEXT_PAGE{
	background-image:url('../icons/light_right.gif');
}
.previewTips,.infoTips,.baskAdder,.printer,.downloader{
	background-image:url(../icons/zoom.gif);
	background-repeat:no-repeat;
	background-position:center center;
	width:18px;
	height:18px;
	float:right;
	cursor:pointer;
}
.infoTips{
	background-image:url(../icons/info.gif);
}
.baskAdder{
	background-image:url(../icons/basket.gif);
}
.printer{
	background-image:url(../icons/print.gif);
}
.downloader{
	background-image:url(../icons/download.gif);
}

/********************
*********************
			HOME
*********************
********************/

.homePubTitleBox
{
	color:#FFFFFF;
}
.homePubLink
{
	color:#FFFFFF;
	cursor:pointer;
}
.homePubTitle
{
	color:#000000;
	text-decoration:none;
	cursor:pointer;
}
.moreLess{
	color:white;
	text-decoration:underline;
	cursor:pointer;
}
.boxPubli{
	border:2px solid #AAAAAA;
	margin-bottom:15px;
	overflow:hidden;
}
.titlePubli{
	margin:0;
	height:30px;
	background-color:#AAAAAA;
	padding:10px 0;
}
.htitlePubli{
	float:left;
	margin:0 0 0 10px;
	padding:0;
	width:43%;
	font-size:15px;
}
.publiInfos{
	float:right;
	width:43%;
	font-size:10px;
	font-weight:normal;
	text-align:right;
}


span.sel
{
  COLOR:#000000;
	BACKGROUND-COLOR:#FFFFFF;
}
.naviButton
{
	text-align:center;
	padding:0 5px;
	cursor:pointer;
}
.navigButtons{
	width: 45px; height: 20px; position: absolute; top: 0pt; right: 0pt;
}
.navigButtons img{
	cursor:pointer;
}
.divNavig
{
	BACKGROUND-COLOR:#e9e9e9;
	position:relative;
	bottom:0;
	top:0;
	width:100%;
	height:20px;
	text-align:center;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
}
/********************
*********************
			BANDEAU TOP
*********************
********************/
#bandeau{
	overflow:visible;
	border:none;
	width:100%;
}
#bandeau li{
	float:left;
	position:relative;
	display:inline;
	z-index:950;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-right:5px;
}
#bandeau .box{
	background-color:#959595;
	overflow:visible;
}
#bandeau .actives,#bandeau .publilist{
	cursor:pointer;
	z-index:950;
}
#bandeau div img{
	vertical-align:middle;
}
#bandeau ul{
	z-index:950;
	float:left;
}
#bandeau ul.main{
	height:25px;
	overflow:visible;
	width:100%;
}
#bandeau ul.main li.boxlist{
	float:none;
	display:block;
	z-index:950;
	margin:0;
}
#bandeau li.hover{
	background-color:#A5A5A5;
	z-index:950;
}
#bandeau .hoverlist{
	z-index:950;
	background-color:#E9E9E9;
	border:1px solid #959595;
	width:200px;
}
.colorpicker{
	border:1px solid black;
	cursor:pointer;
}
#bandeau li.colorpickercont{
	float:right;
	margin:2px;padding:0;
}
#pub_new{
	margin:0 5px;
	font-weight:bold;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

/********************
*********************
		MODAL
*********************
********************/
#OVERLAY,#OVERLAY2{
	width:100%;
	height:100%;
	background-color:#111111;
	position:absolute;
	z-index:1050;
}
#OVERLAY2{
	z-index:1150;
}
#OVERLAYLOGIN{
	z-index:1250;
}
.modalbox{
	min-height:60px;
	z-index:1100;
	background:white;
	margin-left:auto;
	margin-right:auto;
	width:700px;
	border:none;
	background-color:transparent;
	display:none;
	position:absolute;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.modaltitle{
	color:white;
	background:black;
	font-size:14px;
	font-weight:bold;
	padding:5px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
}
.modalcontent,.modalbuttons{
	margin:5px;
	text-align:center;
}
.modalcontent{
	margin:20px 5px;
}
.modalbuttons{
	position:absolute;
	bottom:0;
	right:0;
	left:0
}
#MODALLOGIN{
	z-index:1300;
}
#MODALDL{
	z-index:1200;
}
/********************
*********************
		PREVIEW
*********************
********************/


#PREVIEWBOX
{
	z-index:1100;
	width:94%;
	height:94%;
	top:3%;
	position:absolute;
	background-color:#959595;
	left:3%;
	display:none;
	color:white;
	padding:5px;
	margin:-5px;
	border:2px solid #EEEEEE;
}
#PREVIEWBOX img
{
	cursor:pointer;
}

#PREVIEWBOX A.bounce
{
	BORDER-BOTTOM:#ffe000 1px dashed;	
}
.PREVIEW_PIC,.PREVIEW_HD{

}
#PREVIEWCURRENT li
{
}
#PREVIEWCURRENT li.current
{
}
#PREVIEWCURRENT li.selected
{
	background-color:white;
}
#PREVIEWCURRENT li.see-all
{
}
#PREVIEWBOX li
{
	list-style-type:none;
}
#PREVIEWIMGDESC em
{
	background-color:red;
}
.cont_infos
{
	position:relative;
	float:left;
	text-align:center;
	width:70px;
	height:80px;
	background-color:#CCCCCC;
}
.cont_infos div{
	margin:15px 0;
	font-size:10px;
	font-weight:bold;
}
.cont_infos span
{
	cursor:pointer;
	font-size:10px;
}

.prevTrainCurrent .doc_infos, .diapo .doc_infos
{
  position: absolute;
  padding:3px;
  z-index: 97;
}

.prevTrainCurrent .doc_infos img,.diapo .doc_infos img
{
  vertical-align:middle;
}

#PREVIEWCURRENTGLOB, .preview_col_film
{
	height:96px;
	width: 100%;
  top:0;
  left:0;
}
#PREVIEWCURRENTCONT
{
	margin-bottom:16px;
	position:relative;
	float:left;
	width:400px;
	overflow-x:auto;
	overflow-y:hidden;
}
#PREVIEWCURRENT, #PREVIEWCURRENTGLOB
{
	overflow:hidden;
}
#PREVMAINREG{
	float:left;
	position:relative;
	width:96px;
	height:96px;
	text-align:center;
	background-color:white;
}
.prevTrainCurrent{
	text-align:center;
	position:relative;
	float:left;
	height:80px;
	width:80px;
}
#PREVIEWHD{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	z-index:6000;
	display:none;
}
#PREVIEWTOOL
{
	float:right;
	margin-top:40px;
	margin-right:20px;
	text-align:right;
	width:36px;
}
#SPANTITLE img
{
	height: 16px;
	vertical-align: middle;
	margin:0 10px;
}

#PREVIEWTOOL img, #PREVIEWTOOL span
{
	float:left;
}
.otherRegToolTip img{
	vertical-align:middle;
}

/********************
*********************
	HELP
*********************
********************/

	.client_help kbd.ky {
		background-color:#ffffff ;
		color:#000000;
		white-space:nowrap;
		font-size:12px;
		padding-left:5px;
		padding-right:5px;
		border:#000000 1px solid;
	}
	.client_help kbd.tx {
		background-color:#ffffff ;
		color:#000000;
		white-space:nowrap;
		font-size:14px;
		padding-left:5px;
		padding-right:5px;
		border:#000000 1px solid;
	}
	.client_help h5 {
		margin-top:4px;
		margin-bottom:3px;
		margin-left:0px;
		font-size:14px;
	}
	.client_help no_i {
		text-decoration:none;
		border-bottom:#ff0000 2px dotted;
	}
	.client_help i{
		text-decoration:none;
		color:#000000;
		background-color:#CCCCCC
	}
	.client_help{
		padding: 5px;
		background-color: #E0E0E0;
	}
	.client_help h5{
		text-align:center;
	}

/********************
*********************
	BANDEAU ANSWER
*********************
********************/

#nb_answersEXT
{
	background-color:#E9E9E9;
	font-size:11px;
	font-style:italic;
	height:22px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}
#nb_answers
{
	margin-left:15px;
}


/********************
*********************
			Onglets
*********************
********************/


#proposals h1{
	font-size:10px;
	font-weight:bold;
	color:#949494;
}
#proposals h2{
	font-size:10px;
	font-weight:bold;
}
#history li{
	cursor:pointer;
}


#notification_trigger{
	border-color:#000000;
}

#PREVIEWIMGDESCINNER .edit_button{
	display:none;
}
