
				body{
					font-family:Helvetica,Verdana,Arial,sans-serif;
					font-size:11px;
					color:white;
					position:absolute;
					top:0;
					left:0;
					width:99%;
					height:99%;
					background-color:#000000;
				}
				input,select,textarea{
					border:none;
					background:white;
				}
				input.checkbox{
					background:transparent;
					border:none;
				}
				.link{
					text-decoration:underline;
					font-weight:bold;
					color: #A9A9A9;
				}
				.pointer{
					cursor:pointer;
				}
				.tab-content{
					height:490px;margin:0 10px;position:relative;top:10px;background-color:#000000;display:none;
				}
				.tab-pane{
					background-color:#525252;
				}
				.tab{
			    -moz-border-radius-topleft:3px;
			    -moz-border-radius-topright:3px;
					-webkit-border-top-left-radius:3px;
					-webkit-border-top-right-radius:3px;
					xborder-color:#b2b2b2;
					xborder-width:1px;
					padding:6px 15px;
					margin:0 2px;
					xborder-style:solid;
					float:right;
					xborder-bottom:none;
					background:url('img/tab-default.gif');
					background-repeat: repeat-x;
					background-position: 0 0;
					color:#b2b2b2;
					cursor:pointer;
					text-decoration:none;
					font-size:11px;
				}
				.tab.active{
					background:url('img/tab-hover.gif');
					background-repeat: repeat-x;
					color:#b2b2b2;
				}
				.tab.click{
					background:url('img/tab-actif.gif');
					background-repeat: repeat-x;
					color:#b2b2b2;
				}
				#forgotPWD{
					color:#b2b2b2;
					text-decoration:underline;
				}
				.apps{
					width:135px;
					height:135px;
					cursor:pointer;
				}
				.apps_hover{
					background-color:#353535;
				}
				
				.app_title, .app_name, .app_name a{
					margin:0 0 0 10px;
					font-size:13px;
					text-decoration:none;
					color:white;
				}
				.app_title{
					font-size:14px;
				}
				.apps_separator{
					width:0px;
					border:none;
					border-left:1px solid #999999;
					border-right:1px solid #1a1a1a;
				}
				.activeApp{
					background-color:#353535;
				}
				.activeApp .app_name a,.activeApp .app_name{
					color:#0077BC;
					font-weight:bold;
					text-decoration:none;
				}
				.validation{
					text-align:center;
				}
				.requiredField{
					color:red;
				}
				#lng-select{
					background-color:#525252;
					border:1px solid #444;
					color:white;
					font-size:10px;
				}
				.title-desc{
					font-size:12px;
					font-weight:bold;
					margin-left:20px;
				}
				.title-name{
					 font-size:28px;
					 color:#b1b1b1;
				}
				
			/*register && account*/
					#form_register_table tr{
						height:22px;
					}
					table{
						font-size:11px;
					}
					.form_alert{
						color:red;
					}
					.input_element{
						width:200px;
					}
					.form_label{
						text-align:right;
						width:150px;
					}
					.form_label label{
						margin-right:10px;
					}
					.form_input{
						text-align:left;
						width:220px;
					}
					.form_alert{
						text-align:left;
						width:200px;
					}
					
					.notice{
						background:#00a8FF;
					}
					
					
					
					.password-meter {
						position:relative;
						width: 180px;
					}
					.password-meter-message {
						text-align: right;
						font-weight: bold;
						color: #676767;
					}
					.password-meter-bg, .password-meter-bar {
						height: 4px;
					}
					.password-meter-bg {
						top: 8px;
						background: #e0e0e0;
					}
					
					.password-meter-message-very-weak {
						color: #aa0033;
					}
					.password-meter-message-weak {
						color: #f5ac00;
					}
					.password-meter-message-good {
						color: #6699cc;
					}
					.password-meter-message-strong {
						color: #008000;
					}
					
					.password-meter-bg .password-meter-very-weak {
						background: #aa0033;
						width: 30px;
					}
					.password-meter-bg .password-meter-weak {
						background: #f5ac00;
						width: 60px;
					}
					.password-meter-bg .password-meter-good {
						background: #6699cc;
						width: 135px;
					}
					.password-meter-bg .password-meter-strong {
						background: #008000;
						width: 180px;
					}
     
          ul.app-list {
                border-top: 1px solid #EEEEEE;
                margin: 10px 0 20px;
                list-style: none outside none;
                padding:0;
          }
          
          ul.app-list li {
              border-bottom: 1px solid #EEEEEE;
              font-size: 14px;
              line-height: 19px;
              min-height: 48px;
              padding: 14px 0 15px;
              margin:0;
              clear:both;
              display:block;
          }
          
          ul.app-list li span.app-row {
            padding:0;
            margin:0;
            display:block;
            text-align: left;
            padding-left:30px;
          }
          
          ul.app-list li span.app-row a{
            color: #2D76B9;
            text-decoration:none;
          }
          
          ul.app-list li .app-btn{
            border-color: #DDDDDD #DDDDDD #CCCCCC;
            border-radius: 4px 4px 4px 4px;
            border-style: solid;
            border-width: 1px;
            color: #333333;
            margin: 0;
            overflow: visible;
            padding: 4px 8px 5px;
            text-shadow: 1px 1px 0 #FFFFFF;
            width: auto;
            float:right;
            cursor:pointer;
          }
          
          #tab-account-cat .ui-tabs-nav li a{
            font-size: 0.95em;
            color: #FFF;
            font-weight:600;
          }
          #tab-account-cat .ui-tabs-nav li.ui-tabs-selected a{
            color: #2D76B9;
          }
          
          #content-apps{
            text-align:left;
          }
          
          div.side-section {
              
          }
          
          table.app-placement{
            table-layout: fixed;
            width:100%;
          }
          
          #app_dev_create{
          }
          
          .link_button{
            text-decoration:none;
            background-color: #00A0D1;
            border: 1px solid #095B7E;
            border-radius: 4px 4px 4px 4px;
            color: #BFE4EF;
            margin-top: 10px;
            padding: 6px 12px;
            width: auto;
          }
          a.no_underline{
            text-decoration: none;
          }
          
          #app-oauth-setting{
            border-top: 1px solid #EEEEEE;
            margin: 0 0 3em;
            width: 100%;
          }
          
          #app-oauth-setting td:first-child {
              width: 25%;
          }
          
          
          #app-oauth-setting td{
            padding: 8px 0;
            vertical-align: top;
            text-align: left;
          }
          
          #generate_access{
             background-color: #00A0D1;
              border: 1px solid #095B7E;
              color: #BFE4EF;
              width: 120px
          }

          #app-access-token-setting td{
            padding: 8px 0;
            vertical-align: top;
            text-align: left;
          }
          
          #app-access-token-setting {
            width:100%;
            border-top:1px solid whitesmoke;
          }
          
          
          #tab-account-cat .ui-tabs-nav{
            height:30px;
            border-bottom:1px solid white;
          }
          #app-dev-create {
            table-layout: fixed;
            width:100%;
          }
          
          #app-dev-create td input[type=text], #app-dev-create td textarea, #app-dev-create td select{
            display:inline-block;
            width:95%;
            border: 1px solid #CCCCCC;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 1px #EEEEEE;
            margin: 0;
            padding: 6px;
          }
          
          #app-dev-create td input[name=callback], #app-dev-create td input[name=website]{
            width:85%;
          }
          
          #app-dev-create .url-td select{
            width:12%;
          }
          
          #app-dev-create td{
            text-align:left;
          }
          
          #app-dev-create tr td:first-child{
            padding-right:10px;
            text-align:right;
            font-weight: 700;
          }
          
          #app-dev-create td:first-child{
            width:25%;
          }
          
          .app_submit{
            background-color: #00A0D1;
              border: 1px solid #095B7E;
              color: #BFE4EF;
              width: 120px
          }
          
          #updatingDemand input[type=submit]{
            margin:0 auto;
          }
          
          .delete_app{
            text-decoration:none;
            background-color: #BCB5B5;
            border: 1px solid #1A1A1A;
            border-radius: 4px 4px 4px 4px;
            color: #000;
            margin-top: 10px;
            padding: 6px 12px;
            width: auto;
            float:right;
            display: none;
          }
            
          .ui-dialog{
            color:black;
            background-color: white;
            font-size:16px;
            padding: 10px;
            border: 1px solid #1A1A1A;
            border-radius: 4px 4px 4px 4px;
          }
          
          .ui-dialog button{
            background-color: #BCB5B5;
            border: 1px solid #1A1A1A;
            border-radius: 4px 4px 4px 4px;
            color: #000;
            padding: 2px 6px;
            margin-left:10px;
          }
          
          .ui-dialog-buttonset{
            text-align: right;
          }
          
          .ui-dialog a{
            color:black;
            float:right;
          }
          
          /* Tabs
----------------------------------*/
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: .1em; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
