$skinsImagesPath: '/assets/vendors/jquery-ui/images/dark-hive/';

$defaultBorderColor: #303030;
$defaultBorderRadius: 2px;

$textPrimaryColor: #FFFFFF; //#b1b1b1;
$textPrimaryHoverColor: #FFFFFF;
$textPrimaryActiveColor: #FFFFFF;
$textPrimaryInverseColor: #3b3b3b;
$textSecondaryColor: #999999;

$highlightDarkerColor: #0c4554;

$highlightBackgroundColor: #076882;
$highlightBackgroundAltColor: #0c4554;
$highlightBorderColor: #0c4554;
$highlightTextColor: #FFFFFF;

$darkerBackgroundColor: #1A1A1A;
$darkerBorderColor: #404040;
$darkerTextColor: #FFFFFF;

$darkBackgroundColor: #292929;
$darkBorderColor: #303030;
$darkTextColor: #A6A6A6;

$mediumBackgroundColor: #3b3b3b;
$mediumBackgroundHoverColor: #666666;
$mediumBorderColor: #303030; //#404040; //
$mediumBorderHighlightColor: $darkerBorderColor; //#666666;
$mediumTextColor: #a1a1a1;
$mediumTextHoverColor: #EAEAEA;
$mediumTextActiveColor: #EAEAEA;

$lightBackgroundColor: #404040;
$lightBackgroundSelectedColor: lighten($lightBackgroundColor, 10);
$lightBackgroundActiveColor: lighten($lightBackgroundColor, 10);
$lightBorderColor: #404040;
$lightBorderSelectedColor: lighten($lightBorderColor, 10);
$lightBorderActiveColor: lighten($lightBorderColor, 10);
$lightTextColor: #FFFFFF;

// inverse
$textInverseColor: #FFFFFF;
$textInverseHoverColor: #000;
$bgInverseHoverColor: #FFF;

/******* GLOBAL PROD **********************************************************/

$mainMenuLinkColor: #b1b1b1;
$mainMenuRightListBorderLeft: #292929;

$scrollBgColor: #3b3b3b;

$paginateBorderColor: #3b3b3b;
$paginateBg1: #141414;
$contextMenuBgHover: $highlightDarkerColor;


$uploadBg1: #FFFFFF;
$uploadBg2: #FFFFFF;
$uploadLoaderImg: 'loader-black.gif';

$bridgeDropdownToggleBg: #222222;
$bridgeDropdownMenuBg: #393939;
$bridgeDropdownMenuBorder: #515151;
$bridgeDropdownMenuColor: #aaaaaa;
$bridgeDropdownMenuHoverBg: #313131;
$bridgeDropdownMenuHoverColor: #FFFFFF;

$thesaurusInputBackground: #ededed;

$thesaurusContextMenuColor: #c0c0c0;
$proposalsTitle: #A6A6A6;
$proposalsTitleBorder: #303030;

$basketsTextColor: #AAAAAA;

$guiSplitterImg: 'vsplitter2.png';

$workzoneTabBgHover: #666666;
$workzoneTabBgActive: #333333;
$workzoneTabBorderTop: #303030;
$workzoneTabBorderBottom: #303030;
$workzoneBasketAlertDataBg: #fff190;
$workzoneBasketAlertDataColor: #1a1a1a;
$workzoneToolsLabelColor: #7f7f7f;

$answersToolsBtnSeparatorBorder: #474747;
$answersToolsBtnBg: #393939;
$answersToolsBtnBorder: #515151;
$answersToolsBtnColor: #aaaaaa;
$answersToolsBtnHoverBg: #313131;
$answersToolsBtnHoverColor: #aaaaaa;

$answersToolsBtnSettingsColor: darken($answersToolsBtnColor, 20); // ##949494
$answersToolsBtnSettingsHoverBg: #393939;
$answersToolsBtnSettingsHoverColor: darken($answersToolsBtnColor, 20);
$answersToolsBtnSettingsBorder: #474747;



$editTextMultiValueBg: #444444;
$editTextMultiValueBorder: #999999;
$editTextMultiValueHighlightBg: #222222;

$preferencesLabelColor: #999999;

$activeStateIcon: 'ui-icons_cccccc_256x240.png';
$accordionLoaderImg: 'loader-white.gif';
$accordionBgHeaderHover: #474747;

$inputButtonHoverColor: #FEFEFE;
$inputFallbackBorderColor: #b1b1b1;


$dropdownDividerBg: #515151;
$dropdownDividerBorder: $darkerBorderColor;

$overlayBg: #111111;

$tabsNavBg: #666666;
$tabsNavBgActive: $mediumBackgroundColor;
$contentLoaderImg: 'loader-white.gif';

$btnBackground: #EAEAEA;
$btnBackgroundHighlight: #D6D6D6;
$btnColor: #8e8e8e;
$btnTextShadow: 0 -1px 0 rgba(0,0,0,0);

$btnInverseBackground: #444444;
$btnInverseBackgroundHighlight: #393939;
$btnInverseColor: #AAAAAA;
$btnInverseTextShadow: 0 -1px 0 rgba(0,0,0,.25);
$btnGrpSeparatorColor: #242424;

$widgetContentColor: $textPrimaryColor;

$linkDefaultColor: #b1b1b1;
$linkDefaultHover: #838383;


@import '../../../_shared/styles/jquery-ui/dark-hive';
@import '../skin-shared';
