$col1: #3b3b3b;
$col2: #1a1a1a;
$skinsImagesPath: '/assets/vendors/jquery-ui/images/dark-hive/';

$backgroudPrimaryColor: #1A1A1A;
$backgroudSecondaryColor: #404040;
$backgroundAltPrimaryColor: #1a1a1a;
$textPrimaryColor: #FFFFFF;
$textPrimaryInverseColor: #3b3b3b;
$textSecondaryColor: #999999;

/******* GLOBAL PROD **********************************************************/
$mainMenuColor: #b1b1b1;
$mainMenuRightListBorderLeft: #292929;

$scrollBgColor: #3b3b3b;

$paginateBorderColor: #3b3b3b;
$paginateBorder2Color: #076882;
$paginateTextColor: #FFFFFF;
$paginateBg1: #141414;
$paginateBg2: #076882;

$uploadBg1: #FFFFFF;
$uploadBg2: #FFFFFF;
$uploadLoaderImg: 'loaderFFF.gif';

$publishDialogBg: #000000;
$publishDialogBg2: #414141;
$publishDialogBg3: #404040;
$publishDialogBg4: #111111;
$publishFeedBorder: #414141;
$publishFeedColor: #FFFFFF;
$publishFeedOddBg: #414141;
$publishFeedOddColor: #FFFFFF;
$publishFeedHoverBg: #606060;
$publishFeedHoverColor: #FFFFFF;
$publishFeedSelectedBg: #0088CC;
$publishFeedSelectedColor: #FFFFFF;

$bridgeDropdownToggleBg: #222222;
$bridgeDropdownMenuBg: #393939;
$bridgeDropdownMenuBorder: #515151;
$bridgeDropdownMenuColor: #aaaaaa;
$bridgeDropdownMenuHoverBg: #313131;
$bridgeDropdownMenuHoverColor: #FFFFFF;

$thesaurusBorder1: #303030;
$thesaurusBg1: #ededed;

$thesaurusBorder2: #404040;
$thesaurusBg2: #404040;

$thesaurusContextMenuColor: #c0c0c0;
$thesaurusTreeviewBg: #292929;

$basketsBorder: #b1b1b1;
$basketsBorder2: #515151;
$basketsTextColor: #AAAAAA;
$basketsBg1: #212121;

$guiSplitterImg: 'vsplitter2.png';

$workzoneBg: #3b3b3b;
$workzoneBorderTop: #000;
$workzoneColor1: inherit;
$workzoneColor2: inherit;
$workzoneColor3: #EAEAEA;
$workzoneTabBgHover: #666666;
$workzoneTabBgActive: #333;
$workzoneTabBorderTop: #303030;
$workzoneTabBorderBottom: #303030;
$workzoneBasketAlertDataBg: #fff190;
$workzoneBasketAlertDataColor: #1a1a1a;
$workzoneToolsLabelColor: #7f7f7f;

$treeviewBorderExpandable: #303030;

$answersToolsBtnSeparatorBorder: #474747;
$answersToolsBtnBg: #393939;
$answersToolsBtnBorder: #515151;
$answersToolsBtnColor: #aaaaaa;
$answersToolsBtnHoverBg: #313131;
$answersToolsBtnHoverColor: #aaaaaa;

$answersToolsBtnSettingsColor: darken($answersToolsBtnColor, 20); // ##949494
$answersToolsBtnSettingsHoverBg: #393939;
$answersToolsBtnSettingsHoverColor: darken($answersToolsBtnColor, 20);
$answersToolsBtnSettingsBorder: #474747;



$answersBg: #111111;
$answersBorderTop: #111111;
$answersInfoDialogBg: #0c4554;
$answersInfoDialogColor: #FFFFFF;
$answersDocInfoBg: #0c4554;
$answersDocInfoBorder: #000;
$answersDocInfoColor: #FFFFFF;

$answersFeedBtnGrpBg: #222222;
$answersFeedEntryBg: #666666;
$answersFeedEntryBorder: #212121;
$answersFeedEntryBorderHover: #404040;
$answersFeedDropMenuBg: #000000;
$answersFeedDropMenuBorder: #404040;
$answersFeedDropMenuColor: #EAEAEA;

$searchSbasListBg: #404040;
$searchSbasListColor: #FFFFFF;
$searchSbasFilterColor: #FFFFFF;
$searchSbasListSelectedBg: #404040;
$searchSbasListSelectedBorder: #404040;

$editCarouselBg: #1a1a1a;
$editCarouselBorder: #B1B1B1;
$editStatusFieldOdd: #5F5F5F;
$editStatusFieldHover: #B1B1B1;
$editStatusFieldActive: #FEFEFE;
$editTextMultiValueBg: #444444;
$editTextMultiValueBorder: #999999;
$editTextMultiValueHighlightBg: #222222;

$preferencesLabelColor: #999999;

$uiColor1: #111111;
$activeStateIcon: 'ui-icons_cccccc_256x240.png';
$accordionLoaderImg: 'loader000.gif';
$accordionBorderColor: #000;
$accordionBgHeaderHover: #474747;
$accordionBgContent: #212121;

$popoverBg: #000;
$popoverBorder: #444;
$popoverColor: $textPrimaryColor;
$popoverInnerBg: #000;

$dropdownDividerBg: #515151;
$dropdownDividerBorder: #404040;

$overlayBg: #111111;

$tabsNavBg: #666666;
$tabsNavBgActive: #404040;
$sliderBg: #1a1a1a;
$dialogLoaderImg: 'loader000.gif';

$btnInverseBackground: #444444;
$btnInverseBackgroundHighlight: #393939;
$btnInverseColor: #AAAAAA;
$btnGrpSeparatorColor: #242424;

$widgetContentColor: $textPrimaryColor;

$linkDefaultColor: #b1b1b1;
$linkDefaultHover: #838383;

@import '../skin-shared';
