{% import 'common/caption_templates/answer.html' as cap_ans %}
{% import 'common/caption_templates/basket_element.html' as cap_bas %}
{% import 'common/caption_templates/internal_publi.html' as cap_pub %}
{% import 'common/caption_templates/lazaret.html' as cap_laz %}
{% import 'common/caption_templates/overview.html' as cap_ovr %}
{% import 'common/caption_templates/preview.html' as cap_prev %}

{% if view == 'answer' %}
  {{cap_ans.format_caption(record, highlight|default(''), searchEngine|default(null))}}
{% elseif view == 'lazaret' %}
  {{cap_laz.format_caption(record, highlight|default(''), searchEngine|default(null))}}
{% elseif view == 'preview' %}
  {{cap_prev.format_caption(record, highlight|default(''), searchEngine|default(null))}}
{% elseif view == 'basket' %}
  {{cap_bas.format_caption(record, highlight|default(''), searchEngine|default(null))}}
{% elseif view == 'overview' %}
  {{cap_ovr.format_caption(record, highlight|default(''), searchEngine|default(null))}}
{% elseif view == 'publi' %}
  {{cap_pub.format_caption(record, '', null)}}
{% endif %}