{% if field.get_dces_element() %}

  {% set element_name = field.get_dces_element().get_label() %}
<div>
  <p>
  {% trans %}
    Ce champ est decrit comme l'element DublinCore {{element_name}}
  {% endtrans %}
  </p>
  <p>
    {% trans 'Description' %} : {{ field.get_dces_element().get_definition() }}
  </p>
  <p>
    {% set lien = '<a href="' ~ field.get_dces_element().get_documentation_link() ~ '" target="_blank">' ~ field.get_dces_element().get_documentation_link() ~ '</a>' %}
    {% trans %}
      Pour davantage d'informations, consulter le lien suivant {{ lien }}
    {% endtrans %}
  </p>
</div>

{% endif %}
