<div>
  <p style="font-style:italic;">
    {% trans 'Les indications donnees ci dessous sont a titre informatif.' %}<br/>
    {% trans 'Si vous ne les respectez pas, les documents seront correctement indexes, mais les metadonnees inscrites risquent d\'etre erronnees' %}<br/>
    {% set norm_name = '<span style="font-style:normal;font-weight:bold;">' ~ field.get_tag().getGroupName() ~ '</span>' %}
    {% trans %}
      Ces informations sont directement fournies par la norme de metadonnees de ce champ : {{ norm_name }}
    {% endtrans %}
  </p>
</div>
<hr/>
<div>

{% if field.get_tag().getMinLength() > 0 %}
  {% set minLength = field.get_tag().getMinLength() %}
  {% trans %}
    Le champ doit contenir {{ minLength }} caracteres minimum.
  {% endtrans %}<br/>
{% endif %}
{% if field.get_tag().getMaxLength() > 0 %}
  {% set maxLength = field.get_tag().getMaxLength() %}
  {% trans %}
    Le champ ne peut contenir plus de {{ maxLength }} caracteres.
  {% endtrans %}<br/>
{% endif %}
</div>
