<table class="password_strength_widget">
    <tr>
        <td class="password_strength_label">{{ "Security" | trans }}</td>
        <td>
            <div class="password_strength_container">
                <div class="password_strength_bg"></div>
                <div class="password_strength" style="width: 0%;"></div>
                <div class="password_strength_separator" style="left: 25%;"></div>
                <div class="password_strength_separator" style="left: 50%;"></div>
                <div class="password_strength_separator" style="left: 75%;"></div>
            </div>
        </td>
        <td class="password_strength_desc"></td>
    </tr>
</table>
