{% block pdo_exception %}
        <fieldset style="width: 66%; border: 2px solid red;">
          <table border="0">
            <tr>
              <td>
                <b><u>Message:</u></b>
              </td>
              <td> 
                <i>{{ e.getMessage }}</i>
              </td>
            </tr>
            <tr>
              <td>
                <b><u>Code:</u></b>
              </td>
              <td>
                <i>{{ e.getCode }}</i>
              </td>
            </tr>
            <tr>
              <td>
                <b><u>File:</u></b>
              </td>
              <td>
                <i>{{ e.getFile }}</i>
              </td>
            </tr>
            <tr>
              <td>
                <b><u>Line:</u></b>
              </td>
              <td>
                <i>{{ e.getLine}}</i>
              </td>
            </tr>
          </table>
        </fieldset>
{% endblock %}
