<script type="text/template" id="alert_success_tpl">
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <%= content %>
    </div>
</script>

<script type="text/template" id="alert_error_tpl">
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <%= content %>
    </div>
</script>
