{% for publication in publications %}
    <div class="expose_basket_item publication-droppable basketTips ui-accordion-header ui-state-default
                    ui-corner-all header">
        <div class="top_block">
                    <div class="diapo">
                        {% for asset in publication.assets|slice(0, 1) %}
                        <img class="top_image" width="60" src="{{ asset.asset.url }}" />
                        {% endfor %}
                    </div>

                <p class="expose_item_title"><span>{{ publication.title }}</span><span class="exp_date"></span></p>

        </div>
        <div class="expose_item_deployed">
            <div class="expose_item_top">
                <span class="green_button edit_expose" data-id="{{ publication.id }}"><i class="fa fa-edit"></i></span>
                <span>delete</span></div>
            <div class="expose_item_bottom">
                <div class="expose_drag_drop">
                    {% include 'prod/WorkZone/ExposePublicationAssets.html.twig' with { 'assets' : publication.assets} %}
                </div>
                <input type="button" class="load_more_expose" value="load More">
            </div>
        </div>
    </div>
{% endfor %}

<script>
    $('.publication-list').on('click', '.edit_expose', function () {
        $('#DIALOG-expose-edit').empty().html('<img src="/assets/common/images/icons/main-loader.gif" alt="loading"/>');
        $.ajax({
            type: "GET",
            url: `/prod/expose/get-publication/${$(this).data("id")}?exposeName=${$("#expose_list").val()}` ,
            success: function (data) {
                $('#DIALOG-expose-edit').empty().html(data);
            }
        });
    });
</script>

