{% macro add_expose(app) %}
    <div id='DIALOG-expose-add' style="display: none">
        <div class="expose-edit-wrapper" style="margin-top: 100px">
            <br/>
            <br/>
            <br/>
            <br/>
            <form id="publication-data-form" >
                <div class="edit-publication-block">
                    {% set expose_list= app['conf'].get(['phraseanet-service', 'expose-service', 'exposes']) %}

                    <select id="expose_name" class="expose_name">
                        <option value="">{{ 'prod:: workzone:expose: select expose' | trans }}</option>
                        {% for key in expose_list|keys %}
                            {% if expose_list[key].activate_expose %}
                                <option value="{{ key }}">{{ key }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="ui-widget">
                        <label>Name </label>
                        <input type="text" value="" name="title" class="publication-field"/>
                    </div>
                    <div class="ui-widget">
                        <label>Slug: </label>
                        <input type="text" value="" name="slug" class=" slug publication-field"/><input type="button"
                                                                                                  class="blue_button edit_expose"
                                                                                                  value="check slug availability">
                    </div>
                    <div class="ui-widget">
                        <label>Parent publication </label>
                        <div id="publication-list-data" class="ui-widget publication_parent_wrapper ">
                            <select id="publication_parent" name="parentId" tabindex="-1" aria-hidden="true"
                                    class="publication-field">
                                <option value="">Select a parent publication</option>
                            </select>
                        </div>
                    </div>
                    <div class="ui-widget profile-wrapper hide">
                        <label>Profile </label>
                        <select id="profile-field" name="profile" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="">Select Profile</option>
                        </select>
                    </div>
                    <div class="ui-widget">
                        <label>Enabled </label>
                        <label class="switch">
                            <input id="enabled_combobox" type="checkbox" class="publication-field" name="enabled">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="ui-widget available-wrapper">
                        <label>Available (leave blank for permanet publication): </label>
                        <div class="available-widget">
                            <label>From </label>
                            <input type="text" value="" name="beginsAt" class="use-datepicker publication-field"/>
                        </div>
                        <div class="available-widget">
                            <label>To </label>
                            <input type="text" value="" name="expiresAt" class="use-datepicker publication-field"/>
                        </div>
                    </div>
                    <div class="ui-widget">
                        <label>Publicity listing </label>
                        <label class="switch">
                            <input id="publication_publiclyListed" type="checkbox" class="publication-field" name="publiclyListed">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="ui-widget access-wrapper available-wrapper">
                        <label>Access rules </label>
                        <div class="available-widget">
                        <select id="publication_securityMethod" name="securityMethod" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="">open access</option>
                            <option value="password">password</option>
                            <option value="authentication">users</option>
                        </select>
                        </div>
                        <div class="available-widget ui-widget securityOptions_wrapper visibility-hidden">
                            <input class="publication-field" type="text" name="password" placeholder="Password"
                                                            id="publication_password"/>
                        </div>
                        <div class="available-widget ui-widget publication_securityMethod_error hidden"
                             id="publication_securityMethod_error">
                            <p class="error form-error alert alert-error">Not implemented</p>
                        </div>
                    </div>
                    <div class="ui-widget">
                        <label>Layout </label>
                        <select id="publication_layout" name="layout" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="" selected="selected">Select Layout</option>
                            <option value="gallery">Gallery</option>
                            <option value="mapbox">Mapbox</option>
                            <option value="download">Download</option>
                        </select>
                    </div>
                    <div class="ui-widget">
                        <label>Theme </label>
                        <select id="theme-field" name="theme" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="">Select Theme</option>
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                        </select>
                    </div>
                </div>
            </form>

            <form name="publication-json" id="publication-json" class="text-center">
                <div id="advancedSettingBlock">
                    <h3 class="toggleSetting">Advanced setting</h3>
                    <div id="advancedSettingInner" class="hidden">
                        <div>
                                    <textarea name="advancedSetting" id="advancedSetting" cols="100"
                                              rows="11"></textarea></div>

                    </div>
                </div>
                <div class="publication-btn-container submit-blockr">
                    <p class="text-center"><span id="pub-error" class="hidden alert alert-error"></span></p>
                    <p class="text-center"><span id="pub-success" class="hidden alert alert-success"></span></p>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <div class="ui-dialog-buttonset">
                            <button type="button"
                                    class="close-expose-modal ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                    role="button" aria-disabled="false"><span class="ui-button-text">Cancel</span>
                            </button>
                            <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="create-publication">
                                Create publication {% if lst %} from {{ lst|split(';')|length }} selected {% endif %}
                            </button>

                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>
    <script type="text/javascript">
         // Create
        /**convert Object data  to Json**/
        function booleanizeObject(obj) {
            var keys = Object.keys(obj);
            keys.forEach(function (key) {
                var value = obj[key];
                if (typeof value === 'string') {
                    var lvalue = value.toLowerCase();
                    if (lvalue === 'true') {
                        obj[key] = true;
                    } else if (lvalue === 'false') {
                        obj[key] = false;
                    }
                } else if (typeof value === 'object') {
                    booleanizeObject(obj[key]);
                }
            });
        }

        $(document).ready(function () {
            $(".toggleSetting").click(function (e) {
                $(this).toggleClass('open');
                $('#advancedSettingInner').toggleClass('hidden');
            });
        });

        function buildData() {
            try {
                var allData = $('#publication-data-form').serializeArray();
                // console.log(allData);
                var dataValue = allData.reduce((acc, it) => {
                        acc[it.name] = it.value;
                return acc;
            }, {});

                /**Build Config elt**/
                var config = {};

                if (dataValue.layout != '') {
                    config = {...config, layout: dataValue.layout};
                }
                if (dataValue.enabled == 'on') {
                    config = {...config, enabled: true};
                }else{
                    config = {...config, enabled: false};
                }
                if (dataValue.publiclyListed == 'on') {
                    config = {...config, publiclyListed: true};
                }else{
                    config = {...config, publiclyListed: false};
                }
                if (dataValue.securityMethod != '') {
                    config = {...config, securityMethod: dataValue.securityMethod};
                }
                if (dataValue.password) {
                    config = {...config, password: dataValue.password};
                }

                if (dataValue.beginsAt) {
                    config = {...config, beginsAt: dataValue.beginsAt};
                }
                if (dataValue.expiresAt) {
                    config = {...config, expiresAt: dataValue.expiresAt};
                }

                if (dataValue.theme) {
                    config = {...config, theme: dataValue.theme};
                }

                dataValue = {...dataValue, config};


                booleanizeObject(dataValue);


                return dataValue;

            } catch (err) {
                return;
            }
        }

        function removeSecurityField() {
            var datavalueMinus = buildData();

            if ($("#publication_parent").val() == "") {
                delete datavalueMinus['parentId'];
            }

            if ($("#profile-field").val() == "") {
                delete datavalueMinus['profile'];
            }
            ;

            delete datavalueMinus['layout'];
            delete datavalueMinus['enabled'];
            delete datavalueMinus['publiclyListed'];
            delete datavalueMinus['password'];
            delete datavalueMinus['securityMethod'];
            delete datavalueMinus['theme'];
            delete datavalueMinus['beginsAt'];
            delete datavalueMinus['expiresAt'];

            $('#advancedSetting').val(JSON.stringify(datavalueMinus, undefined, 4));
            console.log(JSON.stringify(datavalueMinus, undefined, 4));

        }

        $('.publication-field').on('keyup change', function (e) {
            removeSecurityField();
            /**Toggle display the Security option field**/
            $("#publication_securityMethod").change(function (e) {
                var dataValue = buildData();
                dataValue["securityMethod"] = '';
                var Svalue = $(this).val();

                if (Svalue == 'password') {
                    $(".securityOptions_wrapper").removeClass('visibility-hidden');

                } else {
                    $(".securityOptions_wrapper").addClass('visibility-hidden');
                };
                if (Svalue !== '') {
                    dataValue["securityMethod"] = Svalue;

                    if (Svalue == 'authentication') {
                        $("#publication_password").val('');
                        $("#publication_securityMethod_error").removeClass('hidden');
                    } else {
                        $("#publication_securityMethod_error").addClass('hidden');
                    }
                } else {
                    $("#publication_password").val('');
                };
                removeSecurityField();


            });
        });

        /**Selected Parent info **/
        $(document).on('change', '#publication_parent', function (e) {
            var selectedparent = $(this).children('option:selected');
            if (selectedparent.val() !== "") {
                $('#parent_info').html('').append('<p>Title : ' + selectedparent.data('title') + '</p><p>Slug: ' + selectedparent.data('slug') + '</p>');
            } else {
                $('#parent_info').html('');
            }
        });


        $('#publication-json').on('submit', function (e) {
            e.preventDefault();
            try {
                $("#pub-error").addClass("hidden");

            } catch (err) {
                $("#pub-error").removeClass("hidden").text(err.message);
                return;
            }
            $.ajax({
                type: "POST",
                url: "/prod/expose/create-publication/",
                dataType: 'json',
                data: {
                    exposeName: $('#expose_name').val(),
                    publicationData: $('#advancedSetting').val()
                },
                success: function (data) {
                    if (data.success) {
                        $("#pub-success").removeClass("hidden").html(data.message + ": " + data.link);
                        document.getElementById("publication-data-form").reset();
                    } else {
                        $("#pub-error").removeClass("hidden").text(data.message);
                    }
                }
            });
        });
        $('.publication-field').on('keyup change', function (e) {
            try {
                $("#pub-success").addClass("hidden");
                $("#pub-error").addClass("hidden");
                // JSON.parse($(this).val());
                jQuery.parseJSON(JSON.stringify($(this).val()));
            } catch (err) {
                $("#pub-error").removeClass("hidden").text(err.message);
            }
        });



        //generate publication list
         $('#expose_name').on('change', function () {
            $.ajax({
                 type: "GET",
                 url: `/prod/expose/list-publication/?format=json&exposeName=` + this.value,
                 success: function (data) {
                     $('#publication_parent').empty().html('<option value="">Select a parent publication</option>');
                     for (i = 0; i < data.publications.length; i++) {
                         $('select#publication_parent').append('<option value='+data.publications[i].id+' >'+data.publications[i].title+'</option>');
                     }

                 }
             });

             $.ajax({
                 type: "GET",
                 url: `/prod/expose/list-profile?exposeName=` + this.value,
                 success: function (data) {
                     $('#profile-field').empty().html('<option value="">Select Profile</option>');;
                     for (i = 0; i < data.profiles.length; i++) {
                         $('select#profile-field').append('<option ' +
                             'value=' + data.basePath + '/' + data.profiles[i].id + ' >'
                             + data.profiles[i].name +
                             '</option>'
                         );
                     }

                 }
             });

         });
    </script>
    <style>
        .visibility-hidden {
            visibility: hidden;
        }
        .publication-block .ui-widget.hide {
            display: none;
        }
    </style>
{% endmacro %}
