<div class="plugin-container" id="plugin-{{ plugin_id }}">
    {% block plugin_workzone_header_caption %}{{ plugin_id }}{% endblock plugin_workzone_header_caption %}
    {% block plugin_workzone_content %}{% endblock plugin_workzone_content %}
</div>
