<script type="text/template" id="alert_template">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= msg %>
</script>

<script type="text/template" id="modal_delete_confirm_template">
    <div class="modal-body">
        <p><%= msg %></p>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn cancel">{% trans %}Close{% endtrans %}</button>
        <button type="button" class="btn btn-primary confirm">{% trans %}Ok{% endtrans %}</button>
    </div>
</script>

<script type="text/template" id="item_list_view_template">
    <div class="row-fluid">
        <div class="span12">
            <div class="sidebar-block">
                <button type="button" class="btn btn-success btn-add-field"><i class="icon-plus icon-white"></i>{% trans %}Add new field{% endtrans %}</button>
            </div>
            <div class="sidebar-block">
                <input class="input-block-level" type="text" id="live_search"  placeholder="{% trans %}Live search{% endtrans %}"/>
            </div>
            <div class="well well-small add-field-block" style="display:none">
                <h3>{% trans %}Add a new field{% endtrans %}</h3>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputLabel">{% trans %}Label{% endtrans %}</label>
                        <div class="controls">
                            <input type="text" id="new-name" class="input-block-level" placeholder="">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputSource">{% trans %}Source{% endtrans %}</label>
                        <div class="controls">
                            <input type="text" id="new-source" class="input-block-level" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input id="new-multivalued" type="checkbox">{% trans %}Multivalued{% endtrans %}
                            </label>
                            <button type="button" class="btn btn-success btn-submit-field"><i class="icon-ok icon-white"></i>{% trans %}Add{% endtrans %}</button>
                            <button type="button" class="btn btn-cancel-field">{% trans %}Cancel{% endtrans %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ul id="collection-fields" class="unstyled"></ul>
        </div>
    </div>
</script>

<script type="text/template" id="edit_template">
    <div class="edit-block">
        <table>
            <tr class="edit-order">
                <td>{% trans %}Order{% endtrans %}:</td>
                <td><%= field.sorter %></td>
                <td><button type="button" class="btn btn-danger delete-field pull-right"><i class="icon-trash icon-white"></i>delete</button></td>
            </tr>
            <tr class="edit-name">
                <td colspan="2">
                    <input id="name" value="<%= field.name %>" class="input-block-level">
                </td>
            </tr>
            <tr>
                <td>{% trans %}Source{% endtrans %} : </td>
                <td><input id="tag" type="text" val="<%= field.tag %>" class="input-block-level"/></td>
            </tr>
            <tr>
                <td>{% trans %}DCES{% endtrans %} : </td>
                <td class="dc-fields-subview"></td>
            </tr>
            <tr>
                <td colspan="3" class="dces-help-block"></td>
            </tr>
            <% if(field.multi == true) { %>
                <tr>
                    <td colspan="2">
                        <i class='icon-ok'></i> {% trans %}Multivalued{% endtrans %}
                    </td>
                </tr>
            <% } %>
        </table>
        <div class="edit-form">
            <h4>{% trans  %}Advanced field parameter{% endtrans %}</h4>
            <table>
                <tr>
                    <td><label for="tbranch">{% trans %}Thesaurus branch{% endtrans %}</label></td>
                    <td><input id="tbranch" type="text" value="<%= field.tbranch %>"/></td>
                </tr>
                <tr>
                    <td><label for="vocabulary-type">{% trans %}Vocabulary type{% endtrans %}</label></td>
                    <td>
                        <select id="vocabulary-type" class="input-block-level">
                            <% _.each(vocabularyTypes, function(vocab) { %>
                                <option value="<%= vocab.type %>"><%= vocab.name %></option>
                            <% }); %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="type">{% trans %}Type{% endtrans %}</label></td>
                    <td>
                        <select id="type" class="input-block-level">
                            <option value=""></option>
                            <option <%= field.type == 'string' ? 'selected' : '' %> value="string">string</option>
                            <option <%= field.type == 'text' ? 'selected' : '' %> value="text">text</option>
                            <option <%= field.type == 'number' ? 'selected' : '' %> value="number">number</option>
                            <option <%= field.type == 'date' ? 'selected' : '' %> value="date">date</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label for="business" class="checkbox"><input id="business" type="checkbox" <%= field.business ? "checked='checked'" : "" %> />{% trans %}Business Fields{% endtrans %}</label></td>
                </tr>
                <tr>
                    <td colspan="2"><label for="vocabulary-restricted" class="checkbox"><input id="vocabulary-restricted" type="checkbox" <%= field["vocavulary-restricted"] ? "checked='checked'" : "" %> />{% trans %}Limited vocabulary{% endtrans %}</label></td>
                </tr>
                <tr>
                    <td><label for="separator">{%  trans %}Separator{% endtrans %}</label></td>
                    <td><input id="separator" type="text" value="<%= field.separator %>" /></td>
                </tr>
            </table>
            <h4>{% trans  %}display & action settings{% endtrans %}</h4>
            <table>
                <tr>
                    <td colspan="2"><label for="required" class="checkbox"><input id="required" type="checkbox" <%= field.required ? "checked='checked'" : "" %> />{% trans %}Mandatory{% endtrans %}</label></td>
                </tr>
                <tr>
                    <td colspan="2"><label for="indexable" class="checkbox"><input id="indexable" type="checkbox" <%= field.indexable ? "checked='checked'" : "" %> />{% trans %}Indexable{% endtrans %}</label></td>
                </tr>
                <tr>
                    <td colspan="2"><label for="readonly" class="checkbox"><input id="readonly" type="checkbox" <%= field.readonly ? "checked='checked'" : "" %> />{% trans  %}Read only{% endtrans %}</label></td>
                </tr>
                <tr>
                    <td colspan="2"><label for="report" class="checkbox"><input id="report" type="checkbox" <%= field.report ? "checked='checked'" : "" %> />{% trans %}Report{% endtrans %}</label></td>
                </tr>
                <tr>
                    <td><label for="thumbtitle">{% trans %}Display thumbnails{% endtrans %}</label></td>
                    <td>
                        <select id="thumbtitle" class="input-block-level">
                            <option value="1" <%= field.thumbtitle == "1" ? "selected" : "" %> >{% trans 'Tous' %}</option>
                            <option value="0" <%= field.thumbtitle == "0" ? "selected" : "" %> >{% trans 'Aucun' %}</option>
                            <option value="fr" <%= field.thumbtitle == "fr" ? "selected" : "" %> >{% trans 'Francais' %}</option>
                            <option value="nl" <%= field.thumbtitle == "nl" ? "selected" : "" %> >{% trans 'Dutch' %}</option>
                            <option value="de" <%= field.thumbtitle == "de" ? "selected" : "" %> >{% trans 'Allemand' %}</option>
                            <option value="en" <%= field.thumbtitle == "en" ? "selected" : "" %> >{% trans 'Anglais' %}</option>
                            <option value="ar" <%= field.thumbtitle == "ar" ? "selected" : "" %> >{% trans 'Arabe' %}</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>


<script type="text/template" id="list_row_template">
    <table>
        <tr>
            <td class="handle">
                <i class="icon-move"></i>
            </td>
            <td rowspan="2" class="trigger-click">
                <div class="field-name"><%= name %></div>
                <div class="field-tag"><%= tag %></div>
            </td>
            <td rowspan="2" class="chip trigger-click">
                <i class="icon-chevron-right"></i>
            </td>
        </tr>
        <tr>
            <td class="position">
                <%= position %>
            </td>
        </tr>
    </table>
</script>

<script type="text/template" id="dc_fields_template">
    <select id="dces-element" val="" class="input-block-level">
        <% _.each(dces_elements, function(el) { %>
            <option value="<%= el.label %>">DC:<%= el.label %></option>
        <% }); %>
    </select>
    <div class="help-block"></div>
</script>
