<form method="POST" action="/prod/story/">

  <label for="add_sel">{% trans 'Ajouter ma selection courrante' %}</label>
  <input type="checkbox" id="story_create_sel" name="lst" value=""/>
  
  <label>{% trans 'Story name' %}</label>
  <input name="name" value="" type="text"/>
  
  <label>{% trans 'Story description' %}</label>
  <textarea name="description"></textarea>
  
  <label>{% trans 'Collection' %}</label>
  <select name="base_id">
    {% for collection in user.ACL().get_granted_base(['canaddrecord']) %}
     <option value="{{ collection.get_base_id() }}">{{ collection.get_databox().get_viewname() }} / {{ collection.get_name() }}</option>
    {% endfor %}
  </select>
  
  <button>{% trans 'boutton::valider' %}</button>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $('#story_create_sel').val(p4.Results.Selection.serialize());
      
      $('#DIALOG form').bind('submit', function(event){

        //$this.SetLoader(true);

        var $form = $(this);

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serializeArray(),
          dataType: 'json',
          beforeSend:function(){

          },
          success: function(data){

            p4.WorkZone.refresh(data.basket.id);
            $('#DIALOG').dialog('close').empty();

            return;
          },
          error: function(){

          },
          timeout: function(){

          }
        });

        return false;
      });
    });
  </script>
</form>