<form method="POST" action="/prod/story/">

  <label>{% trans 'Collection' %}</label>
  <select name="base_id">
    {% for collection in user.ACL().get_granted_base(['canaddrecord']) %}
     <option value="{{ collection.get_base_id() }}">{{ collection.get_databox().get_viewname() }} / {{ collection.get_name() }}</option>
    {% endfor %}
  </select>
  
  <label>{% trans 'Story name' %}</label>
  <input name="name" value="" type="text"/>

  <label>{% trans 'Story description' %}</label>
  <textarea name="description"></textarea>

  <label for="add_sel">{% trans 'Ajouter ma selection courrante' %}</label>
  <input type="checkbox" name="lst" value=""/>

  <script type="text/javascript">
    $(document).ready(function(){
      var $dialog = p4.Dialog.getDialog();

      $('input[name="lst"]', $dialog).val(p4.Results.Selection.serialize());
      
      var buttons = $dialog.dialog('option', 'buttons');
      buttons[language.create] = function(){$('form', $dialog).trigger('submit')};
      $dialog.dialog('option', 'buttons', buttons);
      
      $('form', $dialog).bind('submit', function(event){

        var $form = $(this);

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serializeArray(),
          dataType: 'json',
          beforeSend:function(){

          },
          success: function(data){

            p4.WorkZone.refresh(data.basket.id);
            p4.Dialog.Close();

            return;
          },
          error: function(){

          },
          timeout: function(){

          }
        });

        return false;
      });
    });
  </script>
</form>
