
<div class="PNB10 container-bridge">
  <div class="PNB">
    <p style="text-align:center;margin:40px 20px 20px;">
       {{ 'Le connecteur API requis n\'est pas configure correctement, veuillez contacter un administrateur' | trans }}
    </p>
  </div>
</div>
