
<div class="PNB10 container">
  <div class="PNB">
    <p style="text-align:center;margin:40px 20px 20px;">
       {% trans 'Le connecteur API requis n\'est pas configure correctement, veuillez contacter un administrateur' %}
    </p>
  </div>
</div>
