.clearLeft{
	clear:left;
}

#chart_detail{
	cursor: pointer;	
}
.form_csv{
	width:15px;
	height: 16px;
	margin-left:10px;
}
/*hack tout sauf ie 6-7-8*/
:root *>.form_csv {
	
	margin-top:6px;
}

/*hack tout sauf ie 6-7-8*/
.form_csv {
	
	margin-top:-8px\9;
	margin-left:5px;
}

/*hack pour ie 6-7-8*/
th{
	height:50px\9; 
}

#query{
	background:#555;
	border:none;
	color:#F3852B;
}

.form label{
	display:inline-block;
	vertical-align: baseline;
}
.form_csv 	input[name=submit]{
	
	background:url(../../report/images/csv.gif) top right no-repeat;
	width:15px;
	height: 16px;
	cursor: pointer;
	border:0;
}

.left{ 
	float :left;
}

iframe{
	border:none;
}

.columnjson_title{
	color:#555555;
	font-weight:bolder;
}

.curfilter{
	font-size:12px;
	color:#333;
}

.curfilter em {
	font-size:16px;
	color:#333;
}
.columnjson_link_box{
	margin:2px;
	width:100px;
	float:left;
}
.columnjson_link{
	color:black;
	margin:2px;
	font-size:10px;
	text-decoration: none;
}
.no_results{
	margin-top:50px;
}

#mainTabs{
	border:none;
}
.answers{
	background-color:#555555;
}
.report-table tr.odd{
	background-color:#CDCDCD;
}
.report-table tr.even{
	background-color:#FFF;
}
.imgdash{
	margin-bottom:20px;
}
#holder{
    height: 250px;
    width: 800px;
}
#title_dash{
	float:left;
	font-size:18px;
	color:#f6f2f1;
}
#periode_dash{
	float:right;
	font-size:18px;
	color:#FF9000;
	font-weight:bolder;
}
#liste_dash{
	clear:both;
	width:100%;
	border-top: 2px solid #212121;
	font-weight:lighter;
	font-size:x-small;
	font-style:italic;
	padding-top: 10px;
	padding-bottom:10px;
	color:white;
}
.report-table{
	padding: 0 auto;
	clear:both;
	margin-bottom:10px;
}

.report-table table {
	border-collapse: collapse;
	border-color:white;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", verdana, lucida, helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0 auto;
	width: 100%;
	padding-top:2px;
}
.orderby:hover{
	cursor: pointer;
}
.report-table caption {
	font-size: x-large;
	font-weight:900;
	padding:2px;
	text-align: left;
	background-color:#f6f2f1;
	color:#202020;
	border-bottom: 1px solid #9C9B99;
	border-top: 1px solid #9C9B99;
}

.report-table th{
	border: 1px solid white;
	text-align:center;
	font-weight:bolder;
}
.report-table td {
	border: 1px solid white;
	vertical-align: 4px;
	text-align:center;
	color: #202020;
}
.report-table thead th {
	text-align: center;
	font-weight:bolder;
	font-size:small;
	border-bottom: 3px solid #f6f2f1;
	border-top:3px solid #f6f2f1;
	background-color:#FF9000;
}
.report-table tfoot td {
	background-color:#FF9000;
}


.report-table tbody a {
	color: #333;
}

.report-table tbody a:hover {
	color: white;
}
.report-table tr:hover{
	background-color:#FF9000;
}
.report-table tbody td a {
	padding-right: 12px;
}

.report-table tfoot{
	background-color:FF9000;
	border: 1px solid #505050;
}
#dash .answers{
	background-color:#555555;
}
.spacer{
	clear:both;
}
div.left {
	float:left;
	padding-left: 10px;
}
div.right {
	float:right;
	padding-right:10px;
}

.jqprint{
	margin-left:10px;
}
.config{
	margin-left:10px;
}
.center{
	margin: 0 auto;
	text-align:center;
}
table.center{
	margin: 0 auto;
	text-align:center;
}
.current_filter{
	color:#708090;
	width:100%;
	clear:left;
	text-align:center;
	font-size:12px;
	font-style:italic;
	padding-left:45px;
	padding-right:45px;
}

.floatleft{
	float:left;
	padding:20px 5px 20px 5px;
}
 
.leftControl { 
	float:left;
	margin-right:5px;
	margin-top:10px;
	cursor: pointer;
}  
.rightControl {  
    float:left;
	margin-left:5px;
	margin-top:10px;
	cursor: pointer;
}  
#dashboard-table table {
	font:normal 76%/150% "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	border:none;
	color:#000;
	width:400px;
}
#dashboard-table caption {
	font-size: medium;
	text-align: center;
	font-weight:bolder;
	color:#FF9000;
	padding:3px;
	border-top: 1px solid white;
}
#dashboard-table table a {
	color:#523A0B;
	text-decoration:none;
	border-bottom:1px dotted;
}
#dashboard-table table a:visited {
	color:#444;
	font-weight:normal;
}
#dashboard-table table a:hover {
	border-bottom-style:solid;
}
#dashboard-table thead th, thead td {
	border-top:5px solid #555555;
	border-left:none;
	border-bottom:none;
	border-right:none;
	background:#FF9000;
}
#dashboard-table thead th.grey{
	background:#555555;
}
#dashboard-table tbody tr:hover td, tbody tr:hover th {
	background-color: #FF9000;
}
#dashboard-table tbody th, td {
	text-align:center;
	vertical-align:top;
}
#dashboard-table tbody td{
	background-color:white;
}
#dashboard-table  tbody th {
	font-weight:normal;
	white-space:nowrap;
}
#dashboard-table tbody th a:link, tbody th a:visited {
	font-weight:bold;
}
#dashboard-table tbody td, tbody th {
	border:1px solid #fff;
	border-width:1px 0;
}
#dashboard-table tfoot td {
	color:white;
	border-left:none;
	border-right: none;
	border-top:none;
}
#mainTabs fieldset{
	width:400px;
}
#title_dash{
	font-weight:bold;
	font-size:x-large;
}
#dashboard-table{
	padding-top:30px;
}

.form{
	margin-left: 10px;
}
div.form_titre{
	padding-bottom:2px;
	font-size:large;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align:left;
	color:#f6f2f1;
	font-weight:bold;
	border-bottom: 1px solid #323232;
	margin-bottom:3px;
	margin-left:10px;
	margin-right:10px;
}
.form1{
	float:left;	
	width: 140px;
	padding:3px;
	height:120px;
	border-right:1px  groove #454545;
}
.form2{
	float:left;
	width: 400px;
	padding:3px;
	height:120px;
	border-right: 1px groove #454545;
}
.form3{
	float:left;
	width: 420px;
	padding:3px;
	height:120px;
}
input{
	font-family: Verdana, sans-serif;
	padding: 2px;
	border: 1px solid #555555;
}			
table.tablesorter  tr th{
	background-image: url(../skins/icons/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	background-color:#777777
}
table.tablesorter  tr th.SortUp {
	background-image: url(../skins/icons/desc.gif);
}
table.tablesorter  tr th.hover{
	background-color: #376974;
}
table.tablesorter  tr th.active{
	background-color: #61bcd0;
}
table.tablesorter tr th.SortDown {
	background-image: url(../skins/icons/asc.gif);
}
#mainContainer
{
	background-color:#212121;
}
#mainMenu{
	background-color:black;
}
#form{
	height:150px;
}
.answers{
	overflow-y:auto;
	overflow-x:hidden;
	clear : left;
}
#form-container{
	width:1000px;
	margin:0 auto;
	background-color:transparent;
}
#navigation{
  background-color: transparent;
  border:none;
  border-bottom:1px solid black;
  margin-top:10px;
}
.content{
	margin:-1px 45px;
}

.onload{
	background-image:url(ajax-loader.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.onloadd{
	background-image:url(ajax-loader2.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.ui-tabs, .ui-tabs .ui-tabs-panel{
	padding:0;
}
.ui-widget-overlay
{
	opacity:0.7;
	filter:alpha(opacity=40);
}
	.aroundTable {  width:900px; overflow:auto;}
	.imgdash table{ margin: auto; margin-top: 15px; margin-bottom: 15px; width :100%; }
 	.imgdash td, .imgdash th{ border: 1px solid #bbb; background: #ddd; text-align: center; border-radius: 0.5px; } 
 	.imgdash caption{ font-weight: bold; }
  
  
