<div class="popover" style="display:block;{% if maxwidth %}max-width:{{ maxwidth }}px;{% endif %}{% if width %}width:{{ width }}px;{% endif %}position:relative;">
    <div class="arrow"></div>
    <div class="popover-inner" style="width:auto;">
        <h3 class="popover-title">
            {% if title %}
            {{ title }}
            {% endif %}
            <button data-dismiss="modal" class="close tooltip_closer" style="display:none;">×</button>
        </h3>
        <div class="popover-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
