{% macro make_bloc(WorkZone, selected_type, selected_id, srt) %}
  <div class="alert_datas_changed ui-corner-all">{% trans 'Vous avez recu un nouveau panier' %} <a class="basket_refresher" href="#">{% trans 'rafraichir' %}</a></div>
<div class="bloc">
  <div class="insidebloc">
    {% set content = WorkZone.getContent() %}
    
    {% for basket in content.get(constant('\\Alchemy\\Phrasea\\Helper\\WorkZone::BASKETS')) %}

    
        <div tooltipsrc="/prod/tooltip/basket/{{basket.getId()}}/"
             id="SSTT_{{basket.getId()}}"
             class="basketTips ui-accordion-header ui-state-default
                    ui-corner-all header SSTT basket {% if not basket.getIsRead() %}unread{% endif %}
                    {% if basket.getId() == selected_id and selected_type == 'basket' %}active{% endif %}"
             onclick="loadBask('{{basket.getId()}}',this)">
          <div class="PNB title">
            <img src='/skins/icons/basket.gif' title=''/>
            {{basket.getName()}}
          </div>
          <div class="menu">
          {% if basket.getValidation() %}
            <img title="{% trans 'Vous avez envoye une demande de validation de document sur ce panier' %}"
                 class="basketTips" src="/skins/icons/myvalid.png"/>
          {% endif %}
          {% if basket.getPusher() %}
            {% set pusher = basket.getPusher().get_display_name() %}
            <img class="basketTips" title="{% trans %}paniers:: panier recu de {{pusher}}{% endtrans %}"
                 src="/skins/icons/pushed_bask.png"/>
          {% endif %}

            <a style="cursor:pointer;display:inline;padding:0;margin:0;" class="contextMenuTrigger">&#9660;</a>

            <table cellspacing="0" cellpadding="0" style="display:none;" class="contextMenu basketcontextmenu">
              <tbody>
                <tr>
                  <td>
                    <div class="context-menu context-menu-theme-vista">
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner"
                             onclick="downloadThis('SSTTID={{basket.getId()}}');">{% trans 'action::exporter' %}
                        </div>
                      </div>
                      <div title="" class="context-menu-item menu3-custom-item">
                        <div onclick="editThis('SSTT','{{basket.getId()}}');" style=""
                             class="context-menu-item-inner">{% trans 'action::editer' %}
                        </div>
                      </div>
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner">
                          <a href="/lightbox/compare/{{basket.getId()}}/" target="_blank">Lightbox</a>
                        </div>
                      </div>
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner"
                             onclick="renameBasket(this,'{{basket.getId()}}');return false;">
                          {% trans 'action::renommer' %}
                        </div>
                      </div>

                      {% if basket.getValidation() %}
                        <div title="" class="context-menu-item">
                          <a target="_blank" href="/lightbox/validate/{{basket.getId()}}/">
                            <div class="context-menu-item-inner">
                              {% trans 'action::Valider' %}
                            </div>
                          </a>
                        </div>
                      {% endif %}

                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner" id="SSTTREMOVER_{{basket.getId()}}"
                             onclick="checkDeleteThis('SSTT',this);return false;">
                          {% trans 'action : supprimer' %}
                        </div>
                      </div>

                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner" onclick="reorder({{basket.getId()}});return false;">
                          {% trans 'Re-ordonner' %}
                        </div>
                      </div>

                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="SSTT_content_{{basket.getId()}}" class="content basket" style="overflow:hidden;">

        </div>
    
    {% endfor %}
    
    {% for story in content.get(constant('\\Alchemy\\Phrasea\\Helper\\WorkZone::STORIES')) %}

          
        <div tooltipsrc="/prod/tooltip/WorkZone/{{story.getId()}}/"
             id="SSWZ_{{story.getId()}}" sbas="{{story.getSbasId()}}"
             class="basketTips ui-accordion-header ui-state-default
                    ui-corner-all header SSTT grouping
                    {% if story.getId() == selected_id and selected_type == 'grouping' %}active{% endif %}"
             onclick="loadBask('{{story.getId()}}',this)">
          <div class="PNB title">
            {{story.getRecord().get_base_id|get_collection_logo|raw}}
            {{story.getRecord().getTitle()}}
          </div>
          <div class="menu">
            <a style="cursor:pointer;display:inline;padding:0;margin:0;" class="contextMenuTrigger">
              &#9660;
            </a>

            <table cellspacing="0" cellpadding="0" style="display:none;" class="contextMenu basketcontextmenu">
              <tbody>
                <tr>
                  <td>
                    <div class="context-menu context-menu-theme-vista">
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner"
                             onclick="downloadThis('lst={{story.getRecord().get_serialized_key()}}');">{% trans 'action::exporter' %}
                        </div>
                      </div>
                      <div title="" class="context-menu-item menu3-custom-item">
                        <div onclick="editThis('IMGT','{{story.getRecord().get_serialized_key()}}');" style=""
                             class="context-menu-item-inner">{% trans 'action::editer' %}
                        </div>
                      </div>

                      {% if bask_type == 'regroup' %}
                        <div title="" class="context-menu-item">
                          <div id="UNFIX_{{story.getId()}}" class="context-menu-item-inner" onclick="unFix(this);return false;">
                            {% trans 'action::detacher' %}
                          </div>
                        </div>
                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner" onclick="reorder('STORY',{{story.getRecord().get_serialized_key()}});return false;">
                            {% trans 'Re-ordonner' %}
                          </div>
                        </div>
                      {% endif %}

                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="SSTT_content_{{story.getId()}}" class="content grouping" style="overflow:hidden;">

        </div>

          
          
    
    {% endfor %}
    
  </div>
</div>
{% endmacro %}
