{% macro make_bloc(basket_collection, selected_type, selected_id, srt) %}
  <div class="alert_datas_changed ui-corner-all">{% trans 'Vous avez recu un nouveau panier' %} <a class="basket_refresher" href="#">{% trans 'rafraichir' %}</a></div>
<div class="bloc">
  <div class="insidebloc">

    {% for bask_type, baskets in basket_collection.get_baskets() %}

      {% for content in baskets %}
        {% if bask_type == 'regroup' %}
          {% set class = 'grouping' %}
          {% set sbas_id = content.getRecord().get_sbas_id() %}
        
          
          
          
        <div tooltipsrc="/prod/tooltip/WorkZone/{{content.getId()}}/"
             id="SSWZ_{{content.getId()}}" sbas="{{sbas_id}}"
             class="basketTips ui-accordion-header ui-state-default
                    ui-corner-all header SSTT grouping
                    {% if content.getId() == selected_ssel and selected_type == 'grouping' %}active{% endif %}"
             onclick="loadBask('{{content.getId()}}',this)">
          <div class="PNB title">
            {{content.getRecord().get_base_id|get_collection_logo|raw}}
            {{content.getRecord().getTitle()}}
          </div>
          <div class="menu">
            <a style="cursor:pointer;display:inline;padding:0;margin:0;" class="contextMenuTrigger">
              &#9660;
            </a>

            <table cellspacing="0" cellpadding="0" style="display:none;" class="contextMenu basketcontextmenu">
              <tbody>
                <tr>
                  <td>
                    <div class="context-menu context-menu-theme-vista">
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner"
                             onclick="downloadThis('lst={{content.getRecord().get_serialized_key()}}');">{% trans 'action::exporter' %}
                        </div>
                      </div>
                      <div title="" class="context-menu-item menu3-custom-item">
                        <div onclick="editThis('IMGT','{{content.getRecord().get_serialized_key()}}');" style=""
                             class="context-menu-item-inner">{% trans 'action::editer' %}
                        </div>
                      </div>

                      {% if bask_type == 'regroup' %}
                        <div title="" class="context-menu-item">
                          <div id="UNFIX_{{content.getId()}}" class="context-menu-item-inner" onclick="unFix(this);return false;">
                            {% trans 'action::detacher' %}
                          </div>
                        </div>
                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner" onclick="reorder('STORY',{{content.getRecord().get_serialized_key()}});return false;">
                            {% trans 'Re-ordonner' %}
                          </div>
                        </div>
                      {% endif %}

                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="SSTT_content_{{content.getId()}}" class="content {{class}}" style="overflow:hidden;">

        </div>

          
          
          
          
        {% elseif bask_type == 'baskets' %}
        
        <div tooltipsrc="/prod/tooltip/basket/{{content.getId()}}/"
             id="SSTT_{{content.getId()}}" sbas="{{sbas_id}}"
             class="basketTips ui-accordion-header ui-state-default
                    ui-corner-all header SSTT basket {% if content.is_unread() %}unread{% endif %}
                    {% if content.getId() == selected_ssel and selected_type == 'basket' %}active{% endif %}"
             onclick="loadBask('{{content.getId()}}',this)">
          <div class="PNB title">
            <img src='/skins/icons/basket.gif' title=''/>
            {{content.getName()}}
          </div>
          <div class="menu">
          {% if content.getValidation() and content.getValidation().getInitator().get_id() == session.get_usr_id() %}
            <img title="{% trans 'Vous avez envoye une demande de validation de document sur ce panier' %}"
                 class="basketTips" src="/skins/icons/myvalid.png"/>
          {% elseif content.getValidation() %}
            <img title="{% trans 'Vous avez recu une demande de validation de document sur ce panier' %}"
                 class="basketTips" src="/skins/icons/valid.png"/>
          {% endif %}
          {% if content.getPusher() %}
            {% set pusher = content.getPusher().get_display_name() %}
            <img class="basketTips" title="{% trans %}paniers:: panier recu de {{pusher}}{% endtrans %}"
                 src="/skins/icons/pushed_bask.png"/>
          {% endif %}

            <a style="cursor:pointer;display:inline;padding:0;margin:0;" class="contextMenuTrigger">&#9660;</a>

            <table cellspacing="0" cellpadding="0" style="display:none;" class="contextMenu basketcontextmenu">
              <tbody>
                <tr>
                  <td>
                    <div class="context-menu context-menu-theme-vista">
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner"
                             onclick="downloadThis('SSTTID={{content.getId()}}');">{% trans 'action::exporter' %}
                        </div>
                      </div>
                      <div title="" class="context-menu-item menu3-custom-item">
                        <div onclick="editThis('SSTT','{{content.getId()}}');" style=""
                             class="context-menu-item-inner">{% trans 'action::editer' %}
                        </div>
                      </div>
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner">
                          <a href="/lightbox/compare/{{content.getId()}}/" target="_blank">Lightbox</a>
                        </div>
                      </div>
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner"
                             onclick="renameBasket(this,'{{content.getId()}}');return false;">
                          {% trans 'action::renommer' %}
                        </div>
                      </div>

                      {% if content.getValidation() %}
                        <div title="" class="context-menu-item">
                          <a target="_blank" href="/lightbox/validate/{{content.getId()}}/">
                            <div class="context-menu-item-inner">
                              {% trans 'action::Valider' %}
                            </div>
                          </a>
                        </div>
                      {% endif %}

                      {% if not content.getValidation() or content.getValidation().getInitiator().get_id() == session.get_usr_id() %}
                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner" id="SSTTREMOVER_{{content.getId()}}"
                               onclick="checkDeleteThis('SSTT',this);return false;">
                            {% trans 'action : supprimer' %}
                          </div>
                        </div>

                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner" onclick="reorder({{content.getId()}});return false;">
                            {% trans 'Re-ordonner' %}
                          </div>
                        </div>
                      {% endif %}

                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="SSTT_content_{{content.getId()}}" class="content {{class}}" style="overflow:hidden;">

        </div>

          
          
        {% endif %}
        
      

      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endmacro %}
