{% macro make_bloc(basket_collection, selected_ssel, srt) %}
  <div class="alert_datas_changed ui-corner-all">{% trans 'Vous avez recu un nouveau panier' %} <a class="basket_refresher" href="#">{% trans 'rafraichir' %}</a></div>
<div class="bloc">
  <div class="insidebloc">

    {% for bask_type, baskets in basket_collection.get_baskets() %}

      {% for basket in baskets %}
      
        {% set sbas_id = '' %}
        {% set class = 'basket' %}
        {% if bask_type == 'regroup' %}
          {% set class = 'grouping' %}
          {% set sbas_id = basket.get_sbas_id() %}
        {% endif %}
        <div tooltipsrc="/prod/tooltip/basket/{{basket.get_ssel_id()}}/"
             id="SSTT_{{basket.get_ssel_id()}}" sbas="{{sbas_id}}"
             class="basketTips ui-accordion-header ui-state-default
                    ui-corner-all header SSTT {{class}} {% if basket.is_unread() %}unread{% endif %}
                    {% if basket.get_ssel_id() == selected_ssel %}active{% endif %}"
             onclick="loadBask('{{basket.get_ssel_id()}}',this)">
          <div class="PNB title">
            {% if bask_type == 'regroup' %}
              {{basket.get_base_id|get_collection_logo|raw}}
            {% else %}
              <img src='/skins/icons/basket.gif' title=''/>
            {% endif %}
            {{basket.get_name()|raw}}
          </div>
          <div class="menu">
          {% if basket.is_my_valid %}
            <img title="{% trans 'Vous avez envoye une demande de validation de document sur ce panier' %}"
                 class="basketTips" src="/skins/icons/myvalid.png"/>
          {% elseif basket.is_valid %}
            <img title="{% trans 'Vous avez recu une demande de validation de document sur ce panier' %}"
                 class="basketTips" src="/skins/icons/valid.png"/>
          {% endif %}
          {% if bask_type == 'recept' %}
            {% set pusher = basket.get_pusher().get_display_name() %}
            <img class="basketTips" title="{% trans %}paniers:: panier recu de {{pusher}}{% endtrans %}"
                 src="/skins/icons/pushed_bask.png"/>
          {% endif %}

            <a style="cursor:pointer;display:inline;padding:0;margin:0;" class="contextMenuTrigger">&#9660;</a>

            <table cellspacing="0" cellpadding="0" style="display:none;" class="contextMenu basketcontextmenu">
              <tbody>
                <tr>
                  <td>
                    <div class="context-menu context-menu-theme-vista">
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner"
                             onclick="downloadThis('SSTTID={{basket.get_ssel_id()}}');">{% trans 'action::exporter' %}
                        </div>
                      </div>
                      <div title="" class="context-menu-item menu3-custom-item">
                        <div onclick="editThis('SSTT','{{basket.get_ssel_id()}}');" style=""
                             class="context-menu-item-inner">{% trans 'action::editer' %}
                        </div>
                      </div>
                      {% if bask_type != 'regroup' %}
                      <div title="" class="context-menu-item">
                        <div class="context-menu-item-inner">
                          <a href="/lightbox/compare/{{basket.get_ssel_id()}}/" target="_blank">Lightbox</a>
                        </div>
                      </div>
                      {% endif %}

                      {% if bask_type == 'baskets' %}
                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner"
                               onclick="renameBasket(this,'{{basket.get_ssel_id()}}');return false;">
                            {% trans 'action::renommer' %}
                          </div>
                        </div>
                      {% endif %}

                      {% if basket.is_valid() or basket.is_my_valid() %}
                        <div title="" class="context-menu-item">
                          <a target="_blank" href="/lightbox/validate/{{basket.get_ssel_id()}}/">
                            <div class="context-menu-item-inner">
                              {% trans 'action::Valider' %}
                            </div>
                          </a>
                        </div>
                      {% endif %}

                      {% if bask_type == 'regroup' %}
                        <div title="" class="context-menu-item">
                          <div id="UNFIX_{{basket.get_ssel_id()}}" class="context-menu-item-inner" onclick="unFix(this);return false;">
                            {% trans 'action::detacher' %}
                          </div>
                        </div>
                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner" onclick="reorder({{basket.get_ssel_id()}});return false;">
                            {% trans 'Re-ordonner' %}
                          </div>
                        </div>
                      {% elseif basket.is_valid() == false or basket.is_my_valid() %}
                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner" id="SSTTREMOVER_{{basket.get_ssel_id()}}"
                               onclick="checkDeleteThis('SSTT',this);return false;">
                            {% trans 'action : supprimer' %}
                          </div>
                        </div>

                        <div title="" class="context-menu-item">
                          <div class="context-menu-item-inner" onclick="reorder({{basket.get_ssel_id()}});return false;">
                            {% trans 'Re-ordonner' %}
                          </div>
                        </div>
                      {% endif %}

                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="SSTT_content_{{basket.get_ssel_id()}}" class="content {{class}}" style="overflow:hidden;">

        </div>

      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endmacro %}
