{# css from resources/www/_shared/styles/_notification.scss #}
<div id="notifications-dialog" style="display: none">
    <div>
        <a href="#" class="mark-all-read" style="cursor: pointer;">{{'notification:: mark all notification as read' | trans}}</a>
    </div>
    <div class="notifications">
    </div>
    <div class="navigation">
        <a href="#" class="notification__print-action" data-offset="0">{{ 'charger d\'avantages de notifications' | trans }}</a>
    </div>
</div>
