{# css from resources/www/_shared/styles/_notification.scss #}
<div style="display:none;" id="notification_box">
        <div class="no_notifications">
            <span>{{ 'Aucune notification' | trans }}</span>
        </div>
        <div class="notifications">
        </div>
        <div class="navigation show_all">
            <a href="#" class="notification__print-action">{{ 'toutes les notifications' | trans }}</a>
        </div>
</div>
