@import '../../_shared/styles/variables';
@import 'variables';
@import '../../vendors/bootstrap/bootstrap';
@import '../../account/styles/skin';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../../../../node_modules/jquery-ui/themes/base/autocomplete'; // not extension for inline import
