<ul>
  <li>
    {% set nb_view = element.get_view_count|default(0) %}
    {% if nb_view <= 1 %}
      {% trans %}
        {{ nb_view }} vue
      {% endtrans %}
    {% else %}
      {% trans %}
        {{ nb_view }} vues
      {% endtrans %}
    {% endif %}
  </li>
    {% set value = element.get_rating|default(0) %}
    {% if value > 0 %}
        <li>
            {% if value <= 1 %}
                {% trans %}
                    {{ value }} like
                {% endtrans %}
            {% else %}
                {% trans %}        
                    {{ value }} likes
                {% endtrans %}
            {% endif %}
        </li>
    {% endif %}

</ul>
