{% extends 'admin/task-manager/task-editor/task.html.twig' %}

{% block form %}
<div class="control-group">
    <label class="control-label">{{ 'task::ftp:proxy' | trans }}</label>
    <div class="controls">
        <input class="formElem" type="text" name="proxy" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">{{ 'task::ftp:proxy port' | trans }}</label>
    <div class="controls">
        <input class="formElem" type="text" name="proxyport" />
    </div>
</div>
{% endblock %}


{% block javascript %}
    function taskFillGraphic(xml)
    {
        if (xml) {
            xml = $.parseXML(xml);
            xml = $(xml);

            with(document.forms['graphicForm'])
            {
                proxy.value     = xml.find("proxy").text();
                proxyport.value = xml.find("proxyport").text();
            }
        }
    }
{% endblock %}
