{% extends 'admin/task-manager/task-editor/task.html.twig' %}

{% block form %}
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input class="formElem" type="checkbox" name="cleardoc">
            {{ 'task::writemeta:effacer les metadatas non presentes dans la structure' | trans }}
        </label>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input class="formElem" type="checkbox" name="mwg">
            {{ 'task::writemeta:Compatibilité MWG' | trans }}
        </label>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    function taskFillGraphic(xml)
    {
        if (xml) {
            xml = $.parseXML(xml);
            xml = $(xml);

            var gform = document.forms['graphicForm'];
            gform.cleardoc.checked = Number(xml.find("cleardoc").text()) > 0;
            gform.mwg.checked = Number(xml.find("mwg").text()) > 0;
        }
    }
</script>
{% endblock %}
