$proposalColor: #4c5d84;
$thesaurusColor: #884c92;
$basketsColor: #076882;
$pluginsColor: #FFF;

@import '../../_shared/styles/variables';

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: $darkerBackgroundColor;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  width: 3px;
  background-color: lighten($scrollBgColor, 5);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

*::-moz-selection, *::selection {
  background: #FFFFFF;
  color: $textPrimaryColor;
}

input::selection, textarea::selection,
input::-moz-selection, textarea::-moz-selection {
  background: #404040;
  color: $textInverseColor;
}

label {
  color: $textInverseColor;
}

legend {
  color: $textPrimaryColor;
  width: auto;
  border: none;
}

body {
  color: $darkerTextColor;
  background-color: $darkerBackgroundColor;
  font-family: $defaultFontFamily;
  font-size: $mediumFontSize;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  border: medium none;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  body {
    z-index: 1;
  }
}

a {
  COLOR: $linkDefaultColor;
  TEXT-DECORATION: none
}

a:hover {
  COLOR: $linkDefaultHover;
  TEXT-DECORATION: none
}

EM {
  FONT-STYLE: normal;
  BACKGROUND-COLOR: #D82400;
}

.clickable {
  cursor: pointer;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  font-weight: normal;
}

.ui-widget-overlay {
  background-image: none;
}

.ui-widget-content.ui-autocomplete {
  background-color: $darkerBackgroundColor;
  background-image: none;
  z-index: 650;
}

.ui-widget-content.ui-autocomplete .ui-state-hover,
.ui-widget-content.ui-autocomplete .ui-widget-content .ui-state-hover,
.ui-widget-content.ui-autocomplete .ui-widget-header .ui-state-hover,
.ui-widget-content.ui-autocomplete .ui-state-focus,
.ui-widget-content.ui-autocomplete .ui-widget-content .ui-state-focus,
.ui-widget-content.ui-autocomplete .ui-widget-header .ui-state-focus {
  border: 1px solid #FFFFFF;
}

#maincontainer {
  min-width: 970px;
  min-height: 500px;
}

#mainContent {
  margin-top: $mainMenuHeight;
  // top: 40px;
  min-width: 960px;
  overflow-x: auto;
  overflow-y: auto;
}

.PNB {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#rightFrame {
  min-width: 660px !important;
}

.PNB .ui-corner-top {
  top: 77px;
}

div#PREVIEWTITLEWRAPPER {
  top: 10px;
  span {
    line-height: 45px;
  }
}

.PNB10 {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.minilogo {
  max-height: 20px;
}

.ww_window .ww_content {
  overflow-x: hidden;
  overflow-y: auto;
}

.boxCloser {
  cursor: pointer;
  color: rgb(204, 204, 204);
  font-weight: bold;
  font-size: $mediumFontSize;
  text-align: right;
  text-decoration: underline;
  height: 16px;
}

/*.ww_status {
  background-image: url('#{$skinsImagesPath}ww_title.gif');
  background-repeat: repeat-x;
  color: #0077bc;
  font-size: 8pt;
}*/

span.ww_winTitle {
  letter-spacing: 1px;
  color: #0077bc;
  font-size: 8pt;
  font-weight: bold;
}

#divpage {
  background-color: #212121;
  padding: 10px 0;
  margin: 0 10px;
}

.desktop {
  background-position: center center;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.ui-helper-reset {
  line-height: auto;
}

.ui-tabs .ui-tabs-nav li a {
  padding: 3px 5px 0;
}

#keyboard-dialog h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

#keyboard-dialog ul {
  list-style-type: none;
  margin: 5px 0 20px 40px;
}

#keyboard-dialog ul li {

}

.wrapper_diaspo {
  position: absolute;
  bottom: 10px;
  top: 10px;
  width: 130px;
  right: 0px;
  padding-top: 6px;
  .cont_infos {
    text-align: center;
    width: 100%;
    div {
      line-height: 20px;
      font-size: $smallFontSize;
      font-weight: bold;
    }
    span {
      cursor: pointer;
      font-size: $smallFontSize;
    }
    img {
      width: 20px;
    }
  }
  #PREVIEWTOOL {
    position: absolute;
    width: 84px;
    right: 0;
    left: 0;
    margin: 10px auto 0 auto;
    bottom: initial;
    img {
      width: 20px;
      padding: 4px;
    }
  }
}

//.cont_infos {
//  position: absolute;
//  bottom: 10px;
//  height: 60px;
//  top: auto;
//  text-align: center;
//  width: 70px;
//  right: 60px;
//  div {
//    line-height: 20px;
//    font-size: $smallFontSize;
//    font-weight: bold;
//  }
//  span {
//    cursor: pointer;
//    font-size: $smallFontSize;
//  }
//}


#SPANTITLE img {
  height: 16px;
  vertical-align: middle;
  margin: 0 10px;
}

.cgu-dialog blockquote {
  margin: 10px 30px;
  overflow: auto;
  max-height: 400px;
  p {
    margin: 10px 30px 10px 0;
  }
}

.chim-wrapper {
  position: relative;
  float: left;
}

#tooltip {
  position: absolute;
  z-index: 32000;
  overflow: hidden;
}

.otherRegToolTip img {
  vertical-align: middle;
}

#ui-datepicker-div {
  z-index: 2000;
  background-color: $darkerBackgroundColor;
  position: absolute;
}

.ui-selectable-helper {
  border: 1px dotted #CCCCCC;
  z-index: 10000;
}

/******* DIALOGS **************************************************************/

#dialog_dwnl h1 {
  text-align: center;
}

#dialog_dwnl .buttons_line {
  margin: 10px 0;
  text-align: center
}

#dialog_dwnl .order_input {
  width: 250px;
}

#dialog_dwnl .undisposable {
  float: left;
  position: relative;
  width: 100%;
}

#dialog_dwnl .undisposable .thumb_wrapper {
  float: left;
  position: relative;
  margin: 10px;
}

#dialog_dwnl .undisposable .thumb {
  float: left;
  position: relative;
}

/******* ORDER MANAGER ********************************************************/

#order_manager tr.order_row {
  height: 28px;
}

#order_manager .order_row.odd {
  background-color: #404040;
}

#order_manager .order_list .thumb_wrapper {
  float: left;
  position: relative;
  margin: 10px;
}

#order_manager .order_list li {
  display: inline-block;
  border-radius: $defaultBorderRadius;
  border: 1px solid #FFFFFF;
  margin: 0 5px;
}

#order_manager .order_list .thumb {
  float: left;
  position: relative;
}

#order_manager .order_list .selectable.selected {
  background-color: #404040;
}

#order_manager .order_list .selectable {
  cursor: pointer;
}

#order_manager .order_list .order_wrapper {
  float: left;
  position: relative;
  margin: 5px;
}

#order_manager table p {
  margin: 2px 0;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}

h4 {
  margin-top: 0px;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 5px
}

#notification_trigger .counter {
  position: relative;
  *position: static;
  top: -2px;
  margin: 11px 15px 0 0;
  padding: 1px 4px;
  background: none repeat scroll 0 0 red;
  background-color: #DA4F49;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  font-size: $xmediumFontSize;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  color: $textInverseColor;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  float: left;
}

#sizeAns_slider, #nperpage_slider, #EDIT_ZOOMSLIDER {
  background-color: #666666;
  border-color: #666666;
  height: 10px;

}

#sizeAns_slider .ui-slider-handle, #nperpage_slider .ui-slider-handle,
#EDIT_ZOOMSLIDER .ui-slider-handle {
  background-color: $darkerBackgroundColor;
  width: 8px;
  cursor: col-resize;
}

/******* POPOVERS *************************************************************/

#tooltip .popover {
  background-color: inherit;
}

.popover-inner {
  background-color: $darkerBackgroundColor;
  border: 2px solid $darkerBorderColor;
  padding: 0px;
  color: $darkerTextColor;
  border-radius: $defaultBorderRadius;
}

.popover-inner .popover-title {
  background-color: $mediumBackgroundColor;
  border-radius: 0;
}

.popover-inner .popover-content {
  background-color: $darkerBackgroundColor;
  hr {
    background-color: $darkerTextColor;
    border-color: $darkerBorderColor;
  }
}

.dragover {
  BACKGROUND-COLOR: #fff100
}

/******* DIALOGS **************************************************************/

#dialog_dwnl input.required.error,
#dialog_dwnl textarea.required.error {
  border: 1px solid red;
}

.overlay, .ui-widget-overlay {
  background-color: $overlayBg;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.submenu .ui-buttonset {
  z-index: 120;
}

.dropdown-menu .divider {
  background-color: $dropdownDividerBg;
  border-bottom: 1px solid $dropdownDividerBorder;
  margin: 3px 1px 3px 1px;
}

.close {
  color: $textPrimaryColor;
  // box-shadow: inset 1px 1px 2px 0px rgba($darkerBackgroundColor,0.7);
  &:hover {
    color: $textPrimaryColor;
  }
}

.status-marker {
  line-height: 10px;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 0px;
  &.status-active {
    background-color: #58d5b5;
    box-shadow: 0 0 6px #69fcd6;
  }
  &.status-inactive {
    background-color: #aaaaaa;
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
  }
}
#loader {
  color: $textPrimaryInverseColor;
}

.dl-horizontal {
  dd {
    &:before {
      content: "\200b"; // unicode zero width space character
    }
  }
}
.videoTips {
  width: 100%;
  height: 100%;
}


.centered_text {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grey_text {
  font-size: 12px;
  font-weight: normal;
  color: #a1a1a1;
}

@import 'ui-components/jquery-ui';
@import 'ui-components/context-menu';
@import 'ui-components/forms';
@import 'ui-components/buttons';
@import 'ui-components/search-form';
@import 'ui-components/workzone';
@import 'ui-components/answers-tools';
@import 'ui-components/answers';
@import 'ui-components/colorpicker';
@import 'ui-components/thumb-extractor';
@import 'ui-components/pagination';
@import 'ui-components/upload';
@import 'ui-components/modal-basket-pref';
@import 'ui-components/modal-publish';
@import 'ui-components/modal-edit';
@import 'ui-components/modal-export';
@import 'ui-components/modal-bridge';
@import '../../_shared/styles/main-menu';
@import 'ui-components/workzone-thesaurus';
@import 'ui-components/workzone-baskets';
@import 'ui-components/workzone-proposals';
@import 'ui-components/workzone-plugins';
@import 'ui-components/actions';
@import 'ui-components/gui';
@import 'ui-components/gui-misc';
@import 'ui-components/modal-preview';
@import 'ui-components/modal-push';
@import 'ui-components/diapo';
@import 'ui-components/modal-preferences';
