// @import 'variables';
$mainMenuHeight: 40px !default;
$mainMenuLineHeight: 36px !default;
$mainMenuBackgroundColor: #ffe000 !default;
$mainMenuLinkColor: #000000 !default;
$mainMenuLinkHoverColor: #f2f0e9 !default;
$mainMenuLinkActiveColor: #FFFFFF !default;
$mainMenuLinkBackgroundHoverColor: transparent !default;
$mainMenuLinkHoverColor: #000000 !default;
$mainMenuMarginBottom: 0 !default;
$mainMenuBottomBorder: none !default;

#mainMenu {
  height: $mainMenuHeight;
  line-height: $mainMenuLineHeight;
  vertical-align: middle;
  background-color: $mainMenuBackgroundColor;
  border-bottom: $mainMenuBottomBorder;
  margin-bottom: $mainMenuMarginBottom;
  z-index: 100;
  box-sizing: border-box;
  .show-menu {
    display: none;
    i {
      font-size: 26px;
      vertical-align: middle;
      color: $mainMenuLinkActiveColor;
    }
    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ #nav_menu {
      display: block;
    }
  }
  ol {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none outside none;
  }
  #mainLogo {
    margin:0 10px;
    margin-top: 3px;

  }
  li {
    display: inline-block;
    float: left;
    line-height: $mainMenuLineHeight;
    padding: 0;
    position: relative;
    vertical-align: top;
    height: $mainMenuHeight; //
    a {
      text-decoration: none;
      display: inline-block;
      color: $mainMenuLinkColor;
      > span {
        font-size: $xmediumFontSize;
        font-weight: normal;
        border-top: 3px solid transparent;
        display: block;
        padding: 0 5px;
        height: $mainMenuHeight - 3;
        &.selected {
          border-top: 3px solid $mainMenuLinkActiveColor;
        }
      }
      &:hover {
        background-color: $mainMenuLinkBackgroundHoverColor;
        color: $mainMenuLinkHoverColor;
      }
    }
  }
  /*li , li span {//
    height: $mainMenuLineHeight;
    line-height: $mainMenuLineHeight;
  }
    */
  .title {
    font-size: 18px;
    color: #F7F7F7;
    margin: 0 5px;
    height: $mainMenuHeight;
    display: block;
    vertical-align: middle;
  }
  #notification_box a {
    margin-left: 0;
  }
  .account a {
    text-decoration: underline;
  }
  .right {
    li {
      // border-left: 1px solid $mainMenuRightListBorderLeft;
      a {
        > span {
          padding: 0 15px;
        }
      }

      &.user {
        a {
          background: url('#{$iconsPath}icon_user.png') 15px 7px no-repeat;
          padding-left: 41px;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #mainMenu {
    .show-menu {
      display: block;
    }
    #nav_menu {
      display: none;
      z-index: 1000;
      ol {
        position: static;
      }
      li.menu-bar-item {
        width: 100%;
        clear: both;
        background: $mainMenuBackgroundColor;
        border-bottom: 1px solid $mainMenuLinkActiveColor;
        z-index: 1000;
      }
      li.menu-bar-item a {
        width: 100%;
        > span {
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          &.selected {
            border-top: none !important;
          }
        }
      }
    }
  }
}
