@import 'variables';

#mainMenu {
  height: $mainMenuHeight;
  line-height: $mainMenuLineHeight;
  // bottom:auto;
  z-index: 100;
  ol {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none outside none;
  }
  li {
    display: inline-block;
    float: left;
    line-height: 30px;
    padding: 0;
    position: relative;
    vertical-align: top;
  }
  span {
    color: #b1b1b1;
    font-size: 12px;
    font-weight: normal;
    border-top: 3px solid transparent;
    display: block;
    padding: 0 5px;
    &.selected {
      border-top: 3px solid white;
    }
  }
  .title {
    font-size: 18px;
    color: #F7F7F7;
    margin: 0 5px;
  }
  a {
    text-decoration: none;
    display: inline-block;
    &:hover {
      span {
        background-color: #FFFFFF;
        color: black;
      }
    }
  }
  #notification_box a {
    margin-left: 0;
  }
  .account a {
    text-decoration: underline;
  }
  b {
    color: #EDEDED;
    font-weight: bold;
  }
  nobr {
    padding: 0 5px;
  }
}
