$sharedIconPath: '../../../assets/common/images/icons/';
@import '../../_shared/styles/main';
@import '../../vendors/jquery-contextmenu/styles/jquery.contextmenu';
@import '../../_shared/styles/jquery-ui/dark-hive';

$reportBackgroundColor: #FFFFFF; //#F6F2F1;
$reportImagesPath: '../images/';
@import './tables';
@import './jquery-cluetip';
@import './jquery-ui/report-detailed';

$mainMenuBackgroundColor: #3b3b3b;
$mainMenuBottomBorder: none;
$mainMenuLinkColor: #b1b1b1;
$mainMenuLinkHoverColor: #FFFFFF;
$mainMenuLinkActiveColor: #FFFFFF;
// $mainMenuMarginBottom: 30px;
@import '../../_shared/styles/main-menu';


#mainTabs {
  background-color: #212121;
}

#report-activite,
#report-telechargement,
#report-connexions {
  background-color: #555555;
}
.ui-widget-content a {
  &.btn {
    color: #333;
  }
}
.ui-modal {
  background-color: #212121;
  &.ui-widget-content{
    background-color: #212121;
  }
}