{% for choice in basket_element.get_choices() %}
  {% if choice.note != '' or (choice.agreement != 0 and choice.is_mine == false)  %}
  <li>
    <h3 style="text-align:left;">
      {% if choice.is_mine == false and choice.agreement != 0 %}
      <img style="vertical-align:middle;"
           src="/skins/lightbox/{% if choice.agreement == '1' %}agree.png{% else %}disagree.png{% endif %}" />
      {% endif %}
      {{choice.usr_name}}
    </h3>
    {% if choice.note != '' %}
    <p style="text-align:left;">{% trans 'validation:: note'%} : {{choice.note|nl2br|raw}}</p>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
