{% for vote in basket_element.getVotes() %}
    {% if basket_element.getBasket().getParticipant(app.getAuthenticatedUser()).getCanSeeOthers() or vote.getParticipant().getUser() == app.getAuthenticatedUser() %}

      <li>
    <div class="validate-icon">
        {% if vote.getAgreement() == true %}<span class="icomoon icon-agree">&#xe95f;</span>{% endif %}
           {% if vote.getAgreement() == false  and vote.getAgreement() is not null %}<span class="icomoon icon-disagree">&#xe971;  {{ vote.getAgreement() }}</span>{% endif %}
    </div>
    <div class="validate-info">
      <h3>
        {{ vote.getParticipant().getUser().getDisplayName() }}
      </h3>
         {% if vote.getNote() != '' %}
        <p style="text-align:left;">{{ 'validation:: note' | trans }} : {{ vote.getNote()|nl2br }} </p>
        {% endif %}
    </div>
  </li>
    {% endif %}
{% endfor %}
