/******* GLOBAL CSS for LOGIN *************************************************/
body,
html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}
a:hover {
  text-decoration: underline;
}
label {
  color: #ffffff;
}
/******* NAVBAR ***************************************************************/
#tab-account-cat ul {
  list-style: none;
}
#tab-account-cat ul li {
  display: inline;
}
#tab-account-cat ul li a {
  color: #0088cc;
  text-decoration: none;
  font-size: 13px;
}
#tab-account-cat ul li a:hover {
  background-color: #0088cc;
  color: #ffffff;
}
