/******************************************************************************/

DIV.finder {
  white-space: nowrap
}

DIV.finder DIV.content DIV.title {
  MARGIN-TOP: -2px;
  LEFT: 0px;
  OVERFLOW: hidden;
  white-space: nowrap;
  POSITION: relative;
  TOP: 0px
}

DIV.finder DIV.content DIV.title SPAN {
  POSITION: relative
}

DIV.finder DIV.content DIV.title IMG {
  LEFT: 0px;
  POSITION: relative;
  TOP: 0px
}

DIV.finder DIV.content DIV.title TABLE {
  white-space: nowrap
}

DIV.finder DIV.content DIV.title TABLE TR {
  white-space: nowrap
}

DIV.finder DIV.content DIV.title TABLE TR TD {
  OVERFLOW: hidden;
  white-space: nowrap
}

TABLE.ulist THEAD {
  BACKGROUND-COLOR: #999999;
  text-align: left;
}

TABLE.ulist TBODY TR {
  cursor: pointer;
  height: 20px;
}

TABLE.ulist TBODY TR.selected {
  COLOR: $textPrimaryActiveColor;
  BACKGROUND-COLOR: #191970
}

TABLE.ulist TBODY TR.g {
  BACKGROUND-COLOR: #474747
}

PRE.xml {
  FONT-SIZE: 12px;
  MARGIN: 5px 4px;
  BACKGROUND-COLOR: #f5f5f5
}

/******* EXPLAIN RESULTS ******************************************************/

DIV.myexplain {
  white-space: nowrap;
    .title-explain {
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle;
        margin-left: 4px;
    }
    .sub-explain {
        margin: 3px;
        font-size: 14px;
    }
    #esqueryCopy {
        float: right;
        padding: 4px 0px;
    }
    .esqueryDataDiv {
        clear: both;
        height: 250px;
        textarea {
            width: 100%;
            height: 100%;
        }
        textarea#esqueryDataPaths {
            display:block;
            height: 180px;
        }
    }
}

DIV.myexplain DIV.content DIV.title {
  MARGIN-TOP: -2px;
  LEFT: 0px;
  OVERFLOW: hidden;
  white-space: nowrap;
  POSITION: relative;
  TOP: 0px
}

DIV.myexplain DIV.content DIV.title SPAN {
  POSITION: relative
}

DIV.myexplain DIV.content DIV.title IMG {
  LEFT: 0px;
  POSITION: relative;
  TOP: 0px
}

DIV.myexplain DIV.content DIV.title TABLE {
  white-space: nowrap
}

DIV.myexplain DIV.content DIV.title TABLE TR {
  white-space: nowrap
}

DIV.myexplain DIV.content DIV.title TABLE TR TD {
  OVERFLOW: hidden;
  white-space: nowrap
}

TABLE.explain3 TR TD {
  BORDER-RIGHT: #87ceeb 1px solid;
  BORDER-TOP: #87ceeb 1px solid;
  BORDER-LEFT: #87ceeb 1px solid;
  BORDER-BOTTOM: #87ceeb 1px solid
}
