/******* Classification using thesaurus ************************************/

#TXCLASSIFICATION {

    FORM {
        padding: 0;
        margin: 0;
    }
    #TXCLASSIFICATION_ADVANCED TD {
        padding: 0 5px 0 5px;
    }
}

