$blue: #2196f3;
$green: #8bc34a;
$orange: #ff9400;
.expose-edit-wrapper {
  padding: 12px 20px 0 10px;
  .ui-widget {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    & > label {
      width: 28%;
    }
    label {
      padding-top: 6px;
      padding-right: 10px;
    }
  }
  .available-widget {
    display: inline-flex;
    padding-right: 10px;
  }
  input[type=text], select {
    margin-bottom: 10px;
  }

  // Switch style
  .switch {
    position: relative;
    width: 60px;

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      width: 43px;
      height: 18px;
    }

    .slider:before {
      position: absolute;
      content: "";
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 0;
      bottom: 0;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: $blue;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $blue;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    input {
      margin-left: 10px;
      margin-top: -8px;
    }
  }
  .ui-dialog-buttonset {
    display: inline-flex;
  }
  button.ui-button {
    display: inline-block;
    text-align: center;
  }
}
