@import './jquery-mobile/jquery-validator';

@font-face {
  font-family: 'icomoon';
  src: url("../../common/fonts/PhraseanetIcomoon/fonts/icomoon.eot?xt8hfo");
  src: url("../../common/fonts/PhraseanetIcomoon/fonts/icomoon.eot?xt8hfo#iefix") format("embedded-opentype"), url("../../common/fonts/PhraseanetIcomoon/fonts/icomoon.ttf?xt8hfo") format("truetype"), url("../../common/fonts/PhraseanetIcomoon/fonts/icomoon.woff?xt8hfo") format("woff"), url("../../common/fonts/PhraseanetIcomoon/fonts/icomoon.svg?xt8hfo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav_button {
  width: 90%;
  margin: 0px auto;
  padding: 4px;
  .ui-btn {
    height: 36px !important;
    width: 36px !important;
    font-size: 16px !important;
    border-radius: 19px;
  }
  .ui-btn::after {
    height: 30px !important;
    width: 30px !important;
    margin-left: -15px;
    margin-top: -15px;
  }
}

#left-btn {
  float: left;
}

#right-btn {
  float: right;
}

.report-modal, .ui-dialog .ui-dialog-content {
  background: linear-gradient(#3c3c3c, #111);
}

.ui-bar-c, .ui-body-c, .ui-btn-down-c, .ui-btn-hover-c, .ui-btn-up-c, .ui-overlay-c {
  text-shadow: none;
}

@import '../../_shared/styles/variables';
$lightboxPath: '../images/';
$imagesPath: '/assets/vendors/jquery-ui/images/dark-hive/';

$mainMenuBackgroundColor: #c7c7c7; //BFBFBF;
$mainMenuBottomBorder: 1px solid #c7c7c7;
$mainMenuLinkColor: #212121;
$mainMenuLinkHoverColor: #000000;
$mainMenuLinkActiveColor: #BFBFBF;
$mainMenuLinkBackgroundHoverColor: transparent;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

.title15 {
  font-size: 15px;
  font-weight: bold;
}

.record_display_box {
  width: 100%;
  height: 100%;
  display: block;
  table {
    vertical-align: middle;
    table-layout: fixed;
  }
  .title {
    margin: 0 10px;
  }
  .record {
    position: relative;
    max-width: none;
    max-height: none;
  }
  .header {
    color: #BFBFBF;
    height: 30px;
    bottom: auto;
    overflow: hidden;
    .title {
      overflow: hidden;
      line-height: 20px;
      height: 20px;
    }
  }
  .lightbox_container {
    top: 30px;
    overflow: hidden;
  }
  .display_id {
    top: 5px;
    margin: 0 0 0 5px;
    background: #bebebe;
  }
}

#sc_wrapper {
  left: 20px;
  right: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#sc_container {
  position: relative;
  height: 100%;
}

.basket_element_wrapper {
  position: relative;
  float: left;
  padding: 0 5px;
}

.basket_element {
  position: relative;
  float: left;
  width: 114px;
  height: 130px;
  border: 1px solid #212121;
  text-align: left;
  padding: 5px 8px;
  &.selected {
    background-color: #212121;
  }
  .display_id {
    top: 4px;
    left: 8px;
  }
  .agreement {
    position: absolute;
    top: 4px;
    right: 8px;
    z-index: 99;
  }
  .image {
    position: relative;
    z-index: 90;
  }
  .previewTips {
    background-image: url('#{$iconsPath}zoom.gif');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: help;
    position: absolute;
    bottom: 4px;
    right: 8px;
    height: 18px;
    width: 18px;
    z-index: 99;
  }
}

#report .display_id {
  top: 0;
  left: 0;
  border-radius: 0;
  background-color: rgba(216, 216, 216, 0.7);
  font-weight: 700;
  z-index: 99;
  color: #333333;
  position: absolute;
  width: 22px;
  padding: 2px 0;
  font-size: 12px;
}

#report .CHIM.diapo {
  text-align: center;
}

.display_id {
  background-color: #FFFFFF;
  padding: 3px 6px;
  font-weight: bold;
  z-index: 99;
  color: #212121;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}

.not_decided {
  opacity: 0.30;
  filter: alpha(opacity=30);
}

#sc_wrapper .not_decided {
  display: none;
}

#right_scroller {
  width: 30px;
  right: -10px;
  left: auto;
  background-image: url('#{$lightboxPath}right_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#left_scroller {
  width: 30px;
  left: -10px;
  right: auto;
  background-image: url('#{$lightboxPath}left_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#basket_infos {
  overflow: hidden;
  background-color: #1F1E1B;
  color: #BFBFBF;
}

#basket_options {
  height: 35px;
  top: auto;
  background-color: #1F1E1B;
  text-align: center;
}

#basket_options .confirm_report {
  margin: 5px auto;
}

#basket_infos .user_infos {
  height: 120px;
  top: auto;
}

#basket_infos {
  table {
    width: 100%;
    margin: 5px 0;
    .title {
      width: 100%;
    }
    .report_wrapper {
      text-align: right;
    }
  }
}

#right_column {
  left: auto;
  right: 0;
  width: 240px;
}

#right_column_validation_toggle {
  bottom: 45px;
  background-color: #1F1E1B;
  height: 30px;
  top: auto;
  text-align: center;
  display: none;
  line-height: 25px;
  color: #BFBFBF;
}

#right_column .right_column_title {
  height: 30px;
  bottom: auto;
}

#right_column .right_column_title img.expanded {
  display: none;
}

#right_column .right_column_title img.collapsed {
  display: inline;
}

#right_column .right_column_title.expanded img.expanded {
  display: inline;
}

#right_column .right_column_title.expanded img.collapsed {
  display: none;
}

#right_column .right_column_wrapper {
  top: 30px;
  bottom: 45px;
}

#right_column .right_column_wrapper.caption {
  bottom: 85px;
}

#record_infos {
  overflow-x: hidden;
  overflow-y: auto;
}

#record_compare {
  visibility: hidden;
  top: auto;
  left: auto;
}

#record_compare .header, #record_compare .lightbox_container {
  left: 5px;
}

#record_wrapper.comparison #record_main .header, #record_wrapper.comparison #record_main .lightbox_container {
  right: 5px;
}

.agreement_selector {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.clickable {
  cursor: pointer;
}

.big_box.agree {
  border: 2px solid #35AC00;
  background-color: #35AC00;
}

.big_box.disagree {
  border: 2px solid #DE1200;
  background-color: #DE1200;
}

.big_box, .big_box.not_decided {
  width: 95px;
  margin: 0 auto;
  padding: 6px 10px;
  height: 30px;
  color: #1F1E1B;
  background-color: #353430;
  border: 2px solid #353430;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
}

.big_box span {
  margin: 0 10px;
}

li.userchoice {
  margin: 5px 0 0px 20px;
}

.userchoice.disagree {
  color: #DE1200;
}

.userchoice.agree {
  color: #35AC00;
}

.basket_report_user {
  padding: 7px 10px;
}

.basket_report_user_wrapper {
  margin: 0;
  border-bottom: 1px solid #b2b2b2;
  border-radius: 0;
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  background: #e5e5e5;
  text-shadow: none;
  float: left;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: 0.2em 1em 0.2em 2.1em;
}

/*******
*
* Index
*
* ******/
#main_index {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

#main_wrapper {
  width: 100%;
}

#main_wrapper h1 {
  font-weight: bold;
  font-size: 25px;
}

table th {
  text-align: right;
  vertical-align: bottom;
  height: 60px;
  border-bottom: 1px solid #8F8F8F;
}

table th.title {
  text-align: left;
}

table th h1 {
  margin-left: 20px;
}

table th i {
  margin-right: 20px;
}

.ui-state-default.note_closer, .ui-state-default.note_saver {
  background-color: #353430;
  padding: 5px;
  margin: 0 10px;
}

.ui-state-default.note_saver {
  background-color: #1F1E1B;
}

.record_display_box form .buttons {
  margin: 5px;
  text-align: right;
}

.record_display_box form {
  margin: 15px 0;
  width: 90%;
}

.record_display_box form textarea {
  width: 100%;
  height: 75px;
}

#navigation {
  width: 200px;
}

.basket_downloader {
  background-color: #1F1E1B;
  margin: 0 10px;
  padding: 2px;
  border: 0;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #212121;
  border: none;
}

.report {
  margin: 0 10px;
  vertical-align: bottom;
}

/*
*
* Overrides JqueryUI
*
*/
.ui-button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-button-text-only .ui-button-text {
  padding: 0.15em;
}

.ui-dialog {
  .ui-dialog-titlebar {
    padding: 1em 1em;
  }
}

.videoTips {
  width: 100%;
  height: 100%;
}

#basket_infos {
  margin-bottom: 20px;
  .mobile_aggreement_box {
    padding: 20px;
  }
}

.ui-button-icon.ui-icon.ui-icon-closethick {
  background-position: -73px 0px;
  background-color: rgba(0, 0, 0, .9);
  padding: 0;
}

.btn-container {
  padding: 0 20px;
}

.modal-footer .btn-primary {
  color: #fff!important;
  background-color: #007bff!important;
  border-color: #007bff!important;
}
.modal-header .close {
  display: inline-block;
  float: right;
  width: 25px;
  opacity: 1;
  background: #e1e1e1;
}

.hide {
  display: none;
}

button.confirm_report {
  background: #38c !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  padding: 6px;
  display: inline-block;
  border: 1px solid #38c;
  text-shadow: 0 1px 0 #111;
  border-radius: 16px;
  font-family: Roboto, sans-serif;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
}

.report_wrapper {
  position: relative;
  margin-bottom: 20px;
}

.report_btn {
  position: absolute;
  top: -41px;
  right: 0;
  z-index: 1;
  background: #8bc34a;
  border: 1px solid #8bc34a;
  box-sizing: border-box;
  padding: 8px 13px;
  min-width: 110px;
  border-radius: 4px;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
  &:hover, &:focus {
    background: darken(#8bc34a, 0.2);
    border-color: darken(#8bc34a, 0.3);
  }
  &.report_list {
    background: #f44336;
    border-color: #f44336;
    &:hover, &:focus {
      background: darken(#f44336, 0.2);
      border-color: darken(#f44336, 0.3);
    }
  }
}

.report_list {
  display: none;
}

.report_summary_backup, .report_list_backup {
  display: none;
}

.chim-wrapper-block {
  margin-bottom: 15px;
  .chim-block {
    margin: 0;
  }
  .chim-inner {
    width: 100%;
    display: inline-block;
    min-width: 296px;
  }
  .chim-left {
    display: inline-block;
    width: 100%;
    background: #ededed;
    text-align: center;
    position: relative;
    .diapo {
      display: inline-block;
      div {
        max-width: 100%;
      }
    }
  }

  .chim-right {
    width: 100%;
    .validate-icon {
      float: left;
      height: 25px;
      vertical-align: middle;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    h3 {
      font-size: 16px;
      margin: 0;
      padding-top: 3px;
    }
  }
}

.thumb_wrapper img.record_image {
  max-width: 100%;
}

/*header lightbox*/
.ui-footer .ui-title, .ui-header .ui-title {
  min-height: 26px;
  padding: 10px 0;
}
.ui-controlgroup, fieldset.ui-controlgroup {
  margin: 10px 0!important;
}
.ui-listview.lightbox-list-view {
  margin-top: 0;
  margin-bottom: 0;
  & > .ui-li-static {
    padding: .7em 1em;
    text-overflow: inherit;
    white-space: inherit;
  }
  & > li {
    border-color: #b2b2b2;
    background: none;
    p {
      text-overflow: inherit;
      white-space: inherit;
      line-height: 15px;
      font-size: 13px;
      color: #141414;
    }
  }
  h3 {
    font-family: Roboto, sans-serif;;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.94;
    letter-spacing: normal;
    color: #141414;
  }

}

.ui-footer.ui-bar-inherit {
  border: 0;
}

.center-image {
  text-align: center;
  iframe {
    min-height: 240px;
    width: auto;
    .ui-mobile & {
      width: 100%;
    }
  }
}

/*validate page*/
.validate-icon {
  float: left;
  position: absolute;
  .icomoon {
    color: #fff;
    font-size: 17px;
    padding: 3px;
    border-radius: 50px;
    display: inline-block;
  }
  .icon-disagree {
    background: #cd2f2f;
  }
  .icon-agree {
    background: #8bc34a;
  }

}
.validate-info {
  float: left;
  padding-left: 36px;
}

