@import '../../_shared/styles/variables';
$lightboxPath: '../images/';
$imagesPath: '/assets/vendors/jquery-ui/images/dark-hive/';
@import '../../vendors/jquery-contextmenu/styles/jquery.contextmenu';
@import 'jquery-ui/theme';

$mainMenuBackgroundColor: #c7c7c7; //BFBFBF;
$mainMenuBottomBorder: 1px solid #c7c7c7;
$mainMenuLinkColor: #212121;
$mainMenuLinkHoverColor: #000000;
$mainMenuLinkActiveColor: #BFBFBF;
$mainMenuLinkBackgroundHoverColor: transparent;
@import '../../_shared/styles/main-menu';

body {
  background-color: #BFBFBF;
  color: #212121;
  /*font-size:11px;*/
  font-family: $defaultFontFamily;
  font-size: $mediumFontSize;
}

#mainContent {
  top: 30px;
}

a, a:hover, a:visited {
  color: #BFBFBF;
}

#record_infos a,
#record_infos a:hover,
#record_infos a:visited {
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

#top_container {
  bottom: 220px; }

.documentTips {
  height: 100%;
}

#bottom_container {
  height: 200px;
  top: auto;
  bottom: -10px
}

.title15 {
  font-size: 15px;
  font-weight: bold;
}

.record_display_box {
  width: 100%;
  height: 100%;
  display: block;
  table {
    vertical-align: middle;
    table-layout: fixed;
  }
  .title {
    margin: 0 10px;
  }
  .record {
    position: relative;
    max-width: none;
    max-height: none;
  }
  .header {
    color: #BFBFBF;
    height: 30px;
    bottom: auto;
    overflow: hidden;
    .title {
      overflow: hidden;
      line-height: 20px;
      height: 20px;
    }
  }
  .lightbox_container {
    top: 30px;
    overflow: hidden;
  }
  .display_id {
    top: 5px;
    margin: 0 0 0 5px;
  }
}

#sc_wrapper {
  left: 20px;
  right: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#sc_container {
  position: relative;
  height: 100%;
}

.basket_element_wrapper {
  position: relative;
  float: left;
  padding: 0 5px;
}

.basket_element {
  position: relative;
  float: left;
  width: 114px;
  height: 130px;
  border: 1px solid #212121;
  text-align: left;
  padding: 5px 8px;
  &.selected {
    background-color: #212121;
  }
  .display_id {
    top: 4px;
    left: 8px;
  }
  .agreement {
    position: absolute;
    top: 4px;
    right: 8px;
    z-index: 99;
  }
  .image {
    position: relative;
    z-index: 90;
  }
  .previewTips {
    background-image: url('#{$iconsPath}zoom.gif');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: help;
    position: absolute;
    bottom: 4px;
    right: 8px;
    height: 18px;
    width: 18px;
    z-index: 99;
  }
}

#report .display_id {
  top: -5px;
  left: -5px;
}

#report .CHIM.diapo {
  position: relative;
  text-align: center;
}

.display_id {
  background-color: #FFFFFF;
  padding: 3px 6px;
  font-weight: bold;
  z-index: 99;
  color: #212121;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}

.not_decided {
  opacity: 0.30;
  filter: alpha(opacity=30);
}

#sc_wrapper .not_decided {
  display: none;
}

#right_scroller {
  width: 30px;
  right: -10px;
  left: auto;
  background-image: url('#{$lightboxPath}right_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#left_scroller {
  width: 30px;
  left: -10px;
  right: auto;
  background-image: url('#{$lightboxPath}left_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#basket_infos {
  overflow: hidden;
  background-color: #1F1E1B;
  color: #BFBFBF;
}

#basket_options {
  height: 35px;
  top: auto;
  background-color: #1F1E1B;
  text-align: center;
}

#basket_options .confirm_report {
  margin: 5px auto;
}

#basket_infos .user_infos {
  height: 120px;
  top: auto;
}

#basket_infos {
  table {
    width: 100%;
    margin: 5px 0;
    .title {
      width: 100%;
    }
    .report_wrapper {
      text-align: right;
    }
  }
}

#right_column {
  left: auto;
  right: 0;
  width: 240px;
}

#right_column_validation_toggle {
  bottom: 45px;
  background-color: #1F1E1B;
  height: 30px;
  top: auto;
  text-align: center;
  display: none;
  line-height: 25px;
  color: #BFBFBF;
}

#right_column .right_column_title {
  height: 30px;
  bottom: auto;
}

#right_column .right_column_title img.expanded {
  display: none;
}

#right_column .right_column_title img.collapsed {
  display: inline;
}

#right_column .right_column_title.expanded img.expanded {
  display: inline;
}

#right_column .right_column_title.expanded img.collapsed {
  display: none;
}

#right_column .right_column_wrapper {
  top: 30px;
  bottom: 45px;
}

#right_column .right_column_wrapper.caption {
  bottom: 85px;
}

#record_infos {
  overflow-x: hidden;
  overflow-y: auto;
}

#record_compare {
  visibility: hidden;
  top: auto;
  left: auto;
}

#record_compare .header, #record_compare .lightbox_container {
  left: 5px;
}

#record_wrapper.comparison #record_main .header, #record_wrapper.comparison #record_main .lightbox_container {
  right: 5px;
}

.agreement_selector {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.clickable {
  cursor: pointer;
}

.big_box.agree {
  border: 2px solid #35AC00;
  background-color: #35AC00;
}

.big_box.disagree {
  border: 2px solid #DE1200;
  background-color: #DE1200;
}

.big_box, .big_box.not_decided {
  width: 95px;
  margin: 0 auto;
  padding: 6px 10px;
  height: 30px;
  color: #1F1E1B;
  background-color: #353430;
  border: 2px solid #353430;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
}

.big_box span {
  margin: 0 10px;
}

li.userchoice {
  margin: 5px 0 0px 20px;
}

.userchoice.disagree {
  color: #DE1200;
}

.userchoice.agree {
  color: #35AC00;
}

.basket_report_user {
  padding: 10px;
}

.basket_report_user_wrapper {
  background-color: #1F1E1B;
  margin: 0 0 5px;
  color: #BEBEBE;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: 0.2em 1em 0.2em 2.1em;
}

/*******
 *
 * Index
 *
 * ******/
#main_index {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

#main_wrapper {
  width: 100%;
}

#main_wrapper h1 {
  font-weight: bold;
  font-size: 25px;
}

table th {
  text-align: right;
  vertical-align: bottom;
  height: 60px;
  border-bottom: 1px solid #8F8F8F;
}

table th.title {
  text-align: left;
}

table th h1 {
  margin-left: 20px;
}

table th i {
  margin-right: 20px;
}

.ui-button.download_button {
  margin: 0 5px 0 50px;
}

.ui-button.comment_button {
  margin-left: 5px;
}

.basket_wrapper.hover {
  background-color: #1F1E1B;
  color: #BFBFBF;
}

.basket_wrapper {
  margin: 10px;
  table {
    margin: 10px;
    width: 580px;
  }
}

.basket_description table {
  margin: 0;
  width: 100%;
  text-align: left;
}

.basket_description table td.right {
  text-align: right;
  width: 120px;
  font-style: italic;
  vertical-align: top;
}

.basket_description {
}

.thumb_wrapper {
  text-align: center;
  .thumb {
    position: relative;
  }
}

.basket_wrapper .thumb_wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  .thumb {
    position: static;
  }
}

#sc_wrapper .thumb_wrapper {
  position: absolute;
  top: 28px;
  left: 0px;
  right: 0px;
}

.record_display_box {
  .notes_overlay {
    background-color: #BFBFBF;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    filter: alpha(opacity=70);
    z-index: 100;
  }
  .notes_wrapper {
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    left: 0px;
  }
  .note_wrapper {
    background-color: white;
    position: relative;
    max-width: 75%;
    margin: 20px 0;
    padding: 10px;
    color: #212121;
  }
  .note_wrapper.my_note {
    background-color: #C9FFF7;
  }
  .notes h2 {
    margin: 10px 0;
  }
  .notes {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    max-width: 450px;
    z-index: 110;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.ui-state-default.note_closer, .ui-state-default.note_saver {
  background-color: #353430;
  padding: 5px;
  margin: 0 10px;
}

.ui-state-default.note_saver {
  background-color: #1F1E1B;
}

.record_display_box form .buttons {
  margin: 5px;
  text-align: right;
}

.record_display_box form {
  margin: 15px 0;
  width: 90%;
}

.record_display_box form textarea {
  width: 100%;
  height: 75px;
}

#navigation {
  width: 200px;
}

.basket_downloader {
  background-color: #1F1E1B;
  margin: 0 10px;
  padding: 2px;
  border: 0;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #212121;
  border: none;
}

.report {
  margin: 0 10px;
  vertical-align: bottom;
}

/*
 *
 * Overrides JqueryUI
 *
 */
.ui-button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-button-text-only .ui-button-text {
  padding: 0.15em;
}

.ui-dialog {
  .ui-dialog-titlebar {
    padding: 1em 1em;
  }
}
.videoTips {
  width: 100%;
  height: 100%;
}

