@import '../../_shared/styles/variables';
$lightboxPath: '../images/';
@import '../../vendors/jquery-contextmenu/styles/jquery.contextmenu';

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #BFBFBF;
  color: #212121;
  /*font-size:11px;*/
  font-family: Arial, Helvetica, sans-serif;
}

#mainMenu .title, #mainMenu a, #mainMenu b, #mainMenu span {
  color: #212121;
}

a, a:hover, a:visited {
  color: #BFBFBF;
}

ul {
  list-style-type: none;
}

#mainContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.left, .PNBleft {
  width: 100%;
  position: relative;
  float: left;
}

.PNBleft {
  height: 100%;
}

.record_display_box .lightbox_container {
  overflow: hidden;
}

.record_display_box .header {
  height: 30px;
}

.record_display_box .notes_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
}

.record_display_box .record {
  max-width: none;
  max-height: none;
}

.record_display_box .notes_overlay {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.70;
  filter: alpha(opacity=70);
  z-index: 100;
}

.record_display_box .note_wrapper {
  background-color: white;
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin: 20px 0;
  padding: 5px;
}

.record_display_box .note_author,
.record_display_box .note_content {
  margin: 5px;
  position: relative;
}

.record_display_box .note_wrapper.my_note {
  background-color: #C9FFF7;
}

.record_display_box .notes {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  max-width: 450px;
  z-index: 110;
  overflow-y: auto;
  overflow-x: hidden;
}

.agreement_selector {
  position: relative;
  width: 100%;
  bottom: 10px;
  text-align: right;
  z-index: 200;
}

.clickable {
  cursor: pointer;
}

#agree_choices .wrapper,
#disagree_choices .wrapper {
  margin: 0 auto;
  width: 180px;
}

#user_infos .big_box {
  width: 110px;
  margin: 0 auto;
  padding: 10px;
  height: 32px;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
}

#user_infos .big_box.agree {
  border: 2px solid green;
}

#user_infos .big_box.disagree {
  border: 2px solid red;
}

#user_infos .big_box.not_decided {
  border: 2px solid white;
}

.big_box span {
  font-weight: bold;
  font-size: 14px;
  margin: 0 10px;
}

li.userchoice {
  margin: 5px 0 0px 20px;
}

.userchoice.disagree {
  color: #DE1200;
}

.userchoice.agree {
  color: #35AC00;
}

#sc_container {
  position: relative;
  height: 100%;
}

.basket_element_wrapper {
  position: relative;
  float: left;
  padding: 0 5px;
}

.basket_element {
  position: relative;
  float: left;
  width: 114px;
  height: 130px;
  border: 1px solid #212121;
  text-align: left;
  padding: 5px 8px;
}

.basket_element.selected {
  background-color: #212121;
}

.basket_element .display_id {
  top: 4px;
  left: 8px;
}

#report .display_id {
  top: -5px;
  left: -5px;
}

#report .CHIM.diapo {
  position: relative;
  text-align: center;
}

.display_id {
  background-color: #FFFFFF;
  padding: 3px 6px;
  font-weight: bold;
  z-index: 99;
  color: #212121;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}

.basket_element .agreement {
  position: absolute;
  top: 4px;
  right: 8px;
  z-index: 99;
}

.not_decided {
  opacity: 0.30;
  filter: alpha(opacity=30);
}

#sc_wrapper .not_decided {
  display: none;
}

.basket_element .image {
  position: relative;
  z-index: 90;
}

.basket_element .previewTips {
  background-image: url('#{$iconsPath}zoom.gif');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: help;
  position: absolute;
  bottom: 4px;
  right: 8px;
  height: 18px;
  width: 18px;
  z-index: 99;
}

.record_display_box .title {
  margin: 0 10px;
}

#right_column {
  color: #BFBFBF;
}

.right_column_wrapper_caption {
  width: 215px;
  margin: 10px 0 0 10px;
}

.right_column_title {
  color: #BFBFBF;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
}

.validate.highlight,
.caption.highlight {
  color: white;
  text-decoration: underline;
}

#basket_infos {
  height: 110px;
  bottom: auto;
}

.record_display_box .display_id {
  top: 5px;
  margin: 0px;
}

#basket_infos {
  overflow: hidden;
  background-color: #1F1E1B;
  color: #BFBFBF;
}

#basket_options {
  height: 35px;
  top: auto;
  background-color: #1F1E1B;
  text-align: center;
}

#basket_options .confirm_report {
  margin: 5px auto;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: 0.2em 1em 0.2em 2.1em;
}

/*******
 *
 * Index
 *
 * ******/

#main_index {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

#main_wrapper {
  width: 100%;
}

#main_wrapper h1 {
  font-weight: bold;
  font-size: 25px;
}

table th {
  text-align: right;
  vertical-align: bottom;
  height: 60px;
  border-bottom: 1px solid #8F8F8F;
}

table th.title {
  text-align: left;
}

table th h1 {
  margin-left: 20px;
}

table th i {
  margin-right: 20px;
}

.ui-button.download_button {
  margin: 0 5px 0 50px;
}

.ui-button.comment_button {
  margin-left: 5px;
}

.basket_wrapper.hover {
  background-color: #1F1E1B;
  color: #BFBFBF;
}

.basket_wrapper {
  margin: 10px;
  height: 195px;
}

.basket_wrapper table {
  top: 10px;
  left: 10px;
  width: 560px;
  height: 175px;
  position: relative;
}

.basket_description table {
  margin: 0;
  width: 100%;
  text-align: left;
}

.basket_description table td.right {
  text-align: right;
  width: 120px;
  font-style: italic;
  vertical-align: top;
}

.basket_description {
}

.thumb_wrapper {
  text-align: center;
  position: relative;
}

.thumb_wrapper .thumb {
  position: relative;
}

#sc_wrapper {
  height: 166px;
}

#sc_wrapper .thumb_wrapper {
  position: absolute;
  top: 28px;
  left: 0px;
  right: 0px;
}

.record_display_box .notes_overlay {
  background-color: #BFBFBF;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.70;
  filter: alpha(opacity=70);
  z-index: 100;
}

.record_display_box h2 {
  color: #BFBFBF;
  font-size: 15px;
  font-weight: bold;
}

.record_display_box .notes_wrapper {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
}

.record_display_box .note_wrapper {
  background-color: white;
  position: relative;
  max-width: 75%;
  margin: 20px 0;
  padding: 10px;
  color: #212121;
}

.record_display_box .note_author {
  font-size: 15px;
  font-weight: bold;
}

.basket_thumbnail .image {
  position: relative;
}

.basket_thumbnail {
  width: 110px;
  height: 110px;
  float: left;
  position: relative;
}

.record_display_box .note_wrapper.my_note {
  background-color: #C9FFF7;
}

.record_display_box .notes {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  max-width: 450px;
  z-index: 110;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-state-default.note_closer, .ui-state-default.note_saver {
  background-color: #353430;
  padding: 5px;
  margin: 0 10px;
}

.ui-state-default.note_saver {
  background-color: #1F1E1B;
}

.record_display_box form .buttons {
  margin: 5px;
  text-align: right;
}

.record_display_box form {
  margin: 15px 0;
  width: 90%;
}

.record_display_box form textarea {
  width: 100%;
  height: 75px;
}

#navigation {
  width: 200px;
}

.basket_downloader {
  background-color: #1F1E1B;
  margin: 0 10px;
  padding: 2px;
  border: 0;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #212121;
}

.report {
  margin: 0 10px;
  vertical-align: bottom;
}

/*
 *
 * Overrides JqueryUI
 *
 */

.ui-button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-button-text-only .ui-button-text {
  padding: 0.15em;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #BFBFBF;
  background-image: none;
  border: none;
  background-color: transparent;
}

.ui-widget-header {
  background-color: #1F1E1B;
  background-image: none;
  border: none;
}

.left.choices {
  margin: 0;
  padding: 0;
}
