<a class="action_type_modify bridge_action" href="{{ path('bridge_account_action', { 'account_id' : account.get_id(), 'action' : 'modify', 'element_type' : element.get_type(), 'elements_list' : [ element.get_id ] }) }}">{{ 'boutton::modifier' | trans }}</a>
