{% extends "prod/actions/Bridge/wrapper.twig"%}

{% block menu %}
  {% trans %}
  Creer une playlist
  {% endtrans %}
{% endblock %}

{% block response %}
<form class="bridge_form" method="POST" action="/prod/bridge/action/{{account.get_id()}}/{{action}}/{{element_type}}/">
  <input type="hidden" name='f_container_type' value="playlist">
  <table>
    <tr>
      <td class='column_left'>
        <label for='name'> *{% trans 'Name' %}
          <br/>
          <span class='form_error'>&nbsp;</span>
        </label>
      </td>
      <td class='column_right'>
        <input name='name' type='text' value='' class='required_field' />
      </td>
    </tr>
      <td></td>
      <td class='column_right'>
        <button class="form_submitter btn btn-inverse">{% trans 'boutton::valider' %}</button>
        <button class="back_link btn btn-inverse">{% trans 'boutton::retour' %}</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
