{% import 'prod/results/record.html.twig' as record_format %}

{% if results.getError() %}
<div>{{results.getError()}}</div>
{% else %}
  {% if results.getWarning() %}
    <div>{{results.getWarning()}}</div>
  {% endif %}

  {% if suggestions %}
    {% set suggestions = suggestions|e %}
    {% set link = '<a href="#" onclick="doSpecialSearch(\'' ~ suggestions ~ '\');return false;">' ~ suggestions ~ '</a>' %}
    {% trans %}
      Voulez-vous dire {{link}} ?
    {% endtrans %}
    <br/>
  {% endif %}
  <div class="selectable" style="margin:10px 0; float:left;">
  {%  set thumbnailRender = {
      size: app['authentication'].getUser().getPrefs('images_size'),
      elements: constant('\\record_adapter::RENDER_THUMBNAIL_ALL')
      }
  %}

    {% block content %}{% endblock %}
  </div>
{% endif %}
