
{% if results.error() %}
<div>{{results.error()}}</div>
{% else %}
  {% if results.warning() %}
    <div>{{results.warning()}}</div>
  {% endif %}
{% endif %}

<p>
  {% trans 'Votre recherche ne retourne aucun resultat' %}
</p>


{% if suggestions %}
  {% set link = '<a href="#" onclick="doSpecialSearch(\'' ~ suggestions ~ '\');return false;">' ~ suggestions ~ '</a>' %}
  {% trans %}
    Voulez-vous dire {{link}} ?
  {% endtrans %}
  <br/>
{% endif %}

{% set th_size = app['phraseanet.user'].getPrefs('images_size')%}

{% if app['locale.I18n'] == 'fr' %}
    <div class="client_help">
    <h5>{% trans 'La recherche s\'effectue grâce à la boîte de dialogue qui se trouve en haut à gauche de l\'écran.' %}
    {% trans 'Sachez que vous pouvez utiliser les opérateurs ou caractères spéciaux suivants :' %}</h5>
    <h5 style="border:#CCCCCC 2px solid">{% trans '* , ? , ET , OU , SAUF , DANS , DERNIERS , TOUT (ou AND , OR , EXCEPT , LAST , ALL)' %}</h5>

    <H5>{% trans 'Caractères de troncature' %}</H5>

    <table>
        <tr>
            <td valign="top"><kbd class="ky">{% trans 'auto*' %}</kbd></td>
            <td valign="top"> {% trans 'retourne "automobile", "automate", "autoroute", ...' %}</td>
        </tr>
        <tr>
            <td valign="top"><kbd class="ky">{% trans 'dé?it' %}</kbd></td>
            <td valign="top"> {% trans 'retourne "délit", "débit", ...' %}</td>
        </tr>
    </table>

    <H5>{% trans 'Visualiser tous les enregistrements / les derniers enregistrements' %}</H5>
    <table>
        <tr>
            <td valign="top"><kbd class="ky"><b>{% trans 'TOUT' %}</b></kbd></td>
            <td valign="top">{% trans 'retourne tous les enregistrements des collections selectionnees' %}</td>
        </tr>
        <tr>
            <td valign="top"><kbd class="ky"><b>{% trans 'LAST 20' %}</b></kbd></td>
            <td valign="top">{% trans 'retourne les 20 derniers enregistrements archives dans les collections selectionnees' %}</td>
        </tr>
    </table>

    <H5>{% trans 'Recherche multicritères' %}</H5>
    {% trans 'Vous pouvez affiner votre recherche avec les opérateurs : ET, OU, SAUF ou DANS' %}<br>
    <table>
        <tr>
            <td valign="top"><kbd class="ky">{% trans 'sport' %} <b>ET</b> {% trans 'automobile' %}</kbd></td>
            <td valign="top">{% trans 'retourne les documents comprenant les deux mots.' %}</td>
        </tr>
        <tr>
            <td valign="top"><kbd class="ky">{% trans 'journal OU jt' %}</kbd></td>
            <td valign="top">{% trans 'retourne les documents comprenant un mot et/ou l\'autre.' %}</td>
        </tr>
        <tr>
            <td valign="top"><kbd class="ky">{% trans 'cannes SAUF festival' %}</kbd></td>
            <td valign="top">{% trans 'retourne les documents comprenant cannes sans le mot festival.' %}</td>
        </tr>
        <tr>
            <td valign="top"><kbd class="ky">{% trans 'thalassa DANS titre' %}</kbd></td>
            <td valign="top">{% trans 'retourne les documents où le terme est au moins présent dans le titre, en évitant par exemple celles où le terme est uniquement cité dans la légende.' %}</td>
        </tr>
    </table>

    <center>
    <h3 style="background-color:#CCCCCC; color:#000000">{% trans 'Attention' %}</h3>
    <h4> {% trans 'pour chercher une phrase contenant un des mots-clé ci-dessus, utilisez les guillemets :' %}</h4>
    <kbd class='tx'><i>"</i>{% trans 'C dans l\'air' %}<i>"</i></kbd>
    ,  <kbd class='tx'><i>"</i>{% trans 'Et Dieu créa la femme' %}<i>"</i></kbd>
    , <kbd class='tx'><i>"</i>{% trans 'bijou en or' %}<i>"</i></kbd>
    , <kbd class='tx'><i>"</i>{% trans 'tout le sport' %}<i>"</i></kbd>
    </center>
    </div>
{% endif %}
