{% import 'common/macros.html.twig' as macro %}

{% block content_item %}
    <div class='list ui-corner-all'>
        <table style='width:100%;' cellspacing='0' cellpadding='0' border='0'>
            <tr>
                <td valign="top" style='width:{{ settings.images_size + 50 }}px'>
                    {% include 'prod/results/record.html.twig' with {
                        'record': record,
                        'settings': settings
                    } %}
                </td>
                <td valign="middle">
                    <div class='desc' style='max-height:{{ settings.images_size + 70 }}px;overflow-y:auto;'>
                        <div class="fixeddesc">
                            {% set can_see_business = granted_on_collection(record.baseId, constant('\\ACL::CANMODIFRECORD')) %}
                            {{ macro.caption(record, can_see_business) }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
