{% import 'common/macros.html.twig' as macro %}

{% block content_item %}
    <div class='list ui-corner-all'>
        <table style='width:100%;' cellspacing='0' cellpadding='0' border='0'>
            <tr>
                <td valign="top" style='width:{{th_size+50}}px'>
                    {% include 'prod/results/record.html.twig' with {
                        'record': item,
                        'settings': settings
                    }%}
                </td>
                <td valign="middle">
                    <div class='desc' style='max-height:{{th_size+70}}px;overflow-y:auto;'>
                        <div class="fixeddesc">
                            {% set business = app['acl'].get(app['authentication'].getUser()).has_right_on_base(record.baseId(), 'canmodifrecord') %}
                            {{ macro.format_caption(record, highlight, searchEngine, searchOptions, business, true, true) }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
