<div id="authentication-sidebar-language" class="text-right well-small">
    <span class="language"><b>{% trans "language" %}</b></span>
    <div class="btn-group">
        <button class="btn btn-mini btn-flat dropdown-toggle" data-toggle="dropdown">{% trans "English" %}<span class="caret"></span></button>
        <ul class="dropdown-menu  pull-right">
          <li><a href="#">{% trans "French" %}</a></li>
          <li><a href="#">{% trans "German" %}</a></li>
          <li><a href="#">{% trans "Dutch" %}</a></li>
        </ul>
     </div>
</div>
