{% if basket.getValidation() and basket.getValidation().getParticipant(app['authentication'].getUser(), app).getCanAgree() %}
    <button class="confirm_report" title="{{ 'validation::envoyer mon rapport' | trans }}">
        <img src="/skins/lightbox/envoyerie6.gif"/>
    {{ 'validation::envoyer mon rapport' | trans }}
    <img src="/skins/icons/loader1F1E1B.gif" style="visibility:hidden;" class="loader"/>
    </button>
{% endif %}
