{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "login/common/macros.html.twig" as auth_macro %}

{% block title %}
    {% trans "Renew password" %}
{% endblock %}

{% block sidebar %}
    <div class="well-large sidebar-block last-child">
        <div class="row-fluid">
            <div class="span12 authentication-sidebar-title">
                <div class="text-title">{% trans "Choose a new password" %}</div>
            </div>
        </div><!-- /row -->
        <div class="row-fluid">
             <div class="span12" ng-controller="passwordChangeFormCtrl">
                 <form novalidate name="{{ form.vars.name}}" ng-submit="submit();">
                     <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.password, form.vars.name, 'icon-lock') }}
                        </div>
                     </div>
                     <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.passwordConfirm, form.vars.name, 'icon-lock', {
                                    "ui-validate" : " '$value==" ~ form.password.vars.name ~ "' ",
                                    "ui-validate-watch" : "'" ~ form.password.vars.name ~ "'"
                                }, {
                                    "validate_message" : "Passwords do not match"|trans
                                })
                            }}
                        </div>
                    </div>
                   <div class="row-fluid">
                        <div class="span12">
                            <button type="submit" class="btn btn-success btn-trigger ">{% trans "Validate" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /row -->
    </div>
{% endblock %}
