{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "login/common/macros.html.twig" as auth_macro %}

{% block sidebar %}
    <div class="well-large sidebar-block last-item">
        <div class="row-fluid">
            <div class="span12">
                <div class="text-title">{% trans "Forgot your password?" %}</div>
                <div class="sidebar-hint">
                    {% trans "Enter your e-mail address to retrieve your password" %}
                </div>
            </div>
        </div><!-- /row -->
        <div class="row-fluid">
             <div class="span12" ng-controller="forgottenPasswordFormCtrl">
                 <form novalidate name="{{ form.vars.name }}" ng-submit="submit();">
                     <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.email, form.vars.name, 'icon-envelope') }}
                          </div>
                        </div>
                     </div>
                      <div class="row-fluid">
                        <div class="span12">
                            <button id="submit-form-login" type="submit" class="btn span12  btn-success btn-trigger">{% trans "Send" %}</button>
                        </div>
                     </div>
                </form>
            </div>
        </div><!-- /row -->
{% endblock %}
