<script type="text/template" id="upload_items_error_tpl">
<li class="span2">
    <div class="upload-record thumbnail">
        <p class="name-doc"><%= name %></p>

        <div class="alert-error">
            <p><%= error %></p>
        </div>
    </div>
</li>
</script>

<script type="text/template" id="upload_items_tpl">
<li class="span2 upload-valid">
    <div  id ="<%= id %>" class="upload-record thumbnail">
        <div class="canva-wrapper"></div>
        <div class="caption">
            <p class="name-doc"><%= name %></p>
            <p class="infos-doc"><%= size %>, <%= type %></p>
            <button type="button" class="remove-element btn btn-mini"><%= language.cancel %></button>
            <input type="hidden" name="uploadIndex" value="<%= uploadIndex %>"/>
        </div>
    </div>
</li>
</script>

<script type="text/template" id="download_items_tpl">
<li class="span2">
    <div id="<%=id%>" class="upload-record thumbnail">
        <div class="canva-wrapper"></div>
        <div class="caption">
            <p class="name-doc"><%= name %></p>
            <div class="progress progress-striped active">
                <div class="progress-bar bar" style="width: 0%;"></div>
            </div>
            <p class="error alert-error"></p>
            <p class="success alert-success"></p>
            <button type="button" class="remove-element btn btn-mini"><%= language.cancel %></button>
        </div>
    </div>
</li>
</script>

<script type="text/template" id="download_finish_tpl">
<b class="show_more_message" ><%= heading %></b>
<br />
<% _.each(reasons, function(reason) { %>
    <b class="hidden alert alert-error more-warning" role="alert" style="position: absolute">*<%= reason %></b>
<% }); %>
</script>
<script>
    $(document).on('mouseover','.show_more_message', function (e) {
        $(this).parent().find('.more-warning').removeClass('hidden')
    })
    $(document).on('mouseout','.show_more_message',function (e) {
        $(this).parent().find('.more-warning').addClass('hidden')
    })

</script>

