{% if basket.isVoteBasket() and basket.getParticipant(app.getAuthenticatedUser()).getCanAgree() %}
    <button class="confirm_report" style="width:100%;" title="{{ 'validation::envoyer mon rapport' | trans }}">
    <img src="/assets/lightbox/images/envoyer.png"/>
    {{ 'validation::envoyer mon rapport' | trans }}
    <img src="/assets/common/images/icons/loader1F1E1B.gif" style="visibility:hidden;" class="loader"/>
    </button>
{% endif %}
