{% if basket.valid %}
	<button class="confirm_report" title="{% trans 'validation::envoyer mon rapport'%}">
		<img src="/skins/lightbox/envoyer.png"/> {% trans 'validation::envoyer mon rapport'%}
	</button>
{% endif %}
