{% extends "common/index_bootstrap.html.twig" %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet"
        href="/include/minify/f=skins/lightbox/lightbox.css" media="screen"/>
{% endblock %}

{% block content %}
    <div id="main_index">
        <h2 style="font-weight:bold;font-size:20px;margin:40px 0;">{% trans 'Erreur !' %}</h2>
        <p>{{ message }}</p>
        <p>{{error}}</p>
        <p><a style="color:black;" target="_self" href="/lightbox/">{% trans 'Retour a laccueil' %}</a></p>
    </div>
{% endblock %}

{% block icon %}
<link rel="shortcut icon" type="image/x-icon" href="/skins/lightbox/favicon.ico">
{% endblock %}


