{% if basket_element and basket_element.getBasket().getValidation() %}
<div class="notes_wrapper">
    <div class="notes_overlay"></div>
    <div class="notes well-small">
        <div class="well-small">
            <h2 class="title15">{% trans 'validation:: votre note' %}</h2>
        </div>
        <hr/>
        {% for validationDatas in basket_element.getValidationDatas() %}
            {% if validationDatas.getNote() != '' %}
                <div class="note_wrapper ui-corner-all {% if validationDatas.getParticipant().getUser(app).get_id() == app['phraseanet.user'].get_id() %}my_note{% endif %} ">
                    <span class="note_author title15">
                      {{validationDatas.getParticipant().getUser(app).get_display_name()}}
                    </span> : {{ validationDatas.getNote()|nl2br }}
                </div>
          {% endif %}
        {% endfor %}

        <form>
            <textarea>{{basket_element.getUserValidationDatas(app['phraseanet.user'], app).getNote()}}</textarea>
            <div class="buttons">
                <button class="note_closer ui-corner-all">
                  {% trans 'boutton::fermer' %}
                </button>
                <button class="note_saver ui-corner-all" id="note_saver_{{basket_element.getId()}}">
                  {% trans 'boutton::enregistrer' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endif %}
