{% if basket_element and basket_element.is_validation_item() %}
    <div class="agreement_selector" style="display:none;">
        <img src="/skins/lightbox/agree-big.png"
            class="{% if basket_element.get_my_agreement() != 1 %}not_decided{% endif %} agree_{{basket_element.get_sselcont_id()}}"/>
        <img src="/skins/lightbox/disagree-big.png"
            class="{% if basket_element.get_my_agreement() != -1 %}not_decided{% endif %} disagree_{{basket_element.get_sselcont_id()}}" />
    </div>
{% endif %}
