<form method="POST" action="/prod/baskets/">

  <label for="add_sel">{% trans 'Ajouter ma selection courrante' %}</label>
  <input type="checkbox" id="bask_create_sel" name="lst" value=""/>

  <label>{% trans 'Nom du nouveau panier' %}</label>
  <input name="name" value="" type="text"/>

  <label>{% trans 'paniers::description du nouveau panier' %}</label>
  <textarea name="description"></textarea>

  <button>{% trans 'boutton::valider' %}</button>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#bask_create_sel').val(p4.Results.Selection.serialize());

      $('#DIALOG form').bind('submit', function(event){

        //$this.SetLoader(true);

        var $form = $(this);

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serializeArray(),
          dataType: 'json',
          beforeSend:function(){

          },
          success: function(data){

            p4.WorkZone.refresh(data.basket.id);
            $('#DIALOG').dialog('close').empty();

            return;
          },
          error: function(){

          },
          timeout: function(){

          }
        });

        return false;
      });
    });
  </script>
</form>
