<form method="POST" action="/prod/baskets/">

  <label>{% trans 'Nom du nouveau panier' %}</label>
  <input name="name" value="" type="text"/>

  <label>{% trans 'paniers::description du nouveau panier' %}</label>
  <textarea name="description"></textarea>

  <input type="checkbox" name="lst" value=""/>
  <label for="add_sel">{% trans 'Ajouter ma selection courrante' %}</label>

  <script type="text/javascript">
    $(document).ready(function(){
      
      var $dialog = p4.Dialog.getDialog();
      
      $('input[name="lst"]', $dialog).val(p4.Results.Selection.serialize());
      
      var buttons = $dialog.dialog('option', 'buttons');
      buttons[language.create] = function(){$('form', $dialog).trigger('submit')};
      $dialog.dialog('option', 'buttons', buttons);

      $('form', $dialog).bind('submit', function(event){

        //$this.SetLoader(true);

        var $form = $(this);

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serializeArray(),
          dataType: 'json',
          beforeSend:function(){

          },
          success: function(data){

            p4.WorkZone.refresh(data.basket.id);
            p4.Dialog.Close();

            return;
          },
          error: function(){

          },
          timeout: function(){

          }
        });

        return false;
      });
    });
  </script>
</form>
