{% macro format_caption(record, highlight, searchEngine, includeBusiness) %}
  {% for  name, value in record.get_caption().get_highlight_fields(highlight, null, searchEngine, includeBusiness) %}
  <div class="desc{% if loop.index is odd %}im{% endif %}pair"><b>{{name}}</b> : {{value.value|raw}}</div>
  {% endfor %}
{% endmacro %}