$skinsImagesPath: '/assets/vendors/jquery-ui/images/ui-lightness/';

$defaultBorderColor: #999999;
$defaultBorderRadius: 2px;

$textPrimaryColor: #333333;
$textPrimaryHoverColor: #1a1a1a;
$textPrimaryActiveColor: #1a1a1a;
$textPrimaryInverseColor: #1a1a1a; //3b3b3b;
$textSecondaryColor: #999999;

$highlightDarkerColor: #0c4554;

$highlightBackgroundColor: #076882;
$highlightBackgroundAltColor: #0c4554;
$highlightBorderColor: #0c4554;
$highlightTextColor: #000000;


$darkerBackgroundColor: #FFFFFF; // #F1F1F1 <- to try
$darkerBorderColor: #bfbfbf;
$darkerTextColor: #333;
$darkerTextHoverColor: #000000;

$darkBackgroundColor: #bfbfbf;
$darkBorderColor: darken($darkBackgroundColor, 10);
$darkTextColor: #9c9c9c;

$mediumBackgroundColor: #f2f2f2; // B2B2B2 <- to try
$mediumBorderColor: #FFF; //darken($mediumBackgroundColor, 10);
$mediumBorderHighlightColor: #bfbfbf;
$mediumTextColor: #777777;
$mediumTextHoverColor: #000000;
$mediumTextActiveColor: #000000;

$lightBackgroundColor: #cdcdcd;
$lightBackgroundSelectedColor: darken($lightBackgroundColor, 10);
$lightBackgroundActiveColor: #cdcdcd;
$lightBorderColor: #B1B1B1;
$lightBorderSelectedColor: darken($lightBorderColor, 10);
$lightBorderActiveColor: darken($lightBorderColor, 10);
$lightTextColor: #3b3b3b;

$textShadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;

// inverse
$textInverseColor: #000;
$textInverseHoverColor: #000;
$bgInverseHoverColor: #333;

/******* GLOBAL PROD **********************************************************/
$scrollBgColor: #cccccc;

$paginateBorderColor: #bfbfbf;
$paginateTextColor: #FFFFFF;
$paginationLinkColor: #333;
$paginateBg1: #979797;
$paginateBgHov: #7d7d7d;
$paginateBorder: #979797;

$uploadBg1: #FFFFFF;
$uploadBg2: transparent;
$uploadLoaderImg: 'loader-black.gif';

$bridgeDropdownToggleBg: #E6E6E6;
$bridgeDropdownMenuBg: #f2f2f2;
$bridgeDropdownMenuBorder: #bfbfbf;
$bridgeDropdownMenuColor: #EAEAEA;
$bridgeDropdownMenuHoverBg: #bfbfbf;
$bridgeDropdownMenuHoverColor: #FFFFFF;

$thesaurusInputBackground: #d4d4d4;
$thesaurusContextMenuColor: #FFFFFF;



$basketsTextColor: #777777;

$guiSplitterImg: 'vsplitter2-959595.png';

$answersToolsBg: #d9d9d9;
$answersToolsBgHover: #c4c4c4;
$answersToolsBgColor: #2a2a2a;
$answersToolsBtnSeparatorBorder: #EAEAEA;
$answersToolsBtnBg: #e3e3e3;
$answersToolsBtnBorder: #bfbfbf;
$answersToolsBtnColor: #4d4d4d;
$answersToolsBtnHoverBg: #d8d8d8;
$answersToolsBtnHoverColor: #4d4d4d;

/*Sub nav*/
$whiteCaret: #000000;
$answersToolsBtnColorSub: $answersToolsBtnColor;
$answersToolsBtnBgSub: #e3e3e3;
$answersToolsBtnHoverBgSub: #cdcdcd;
$answersToolsBtnHoverColorSub: $answersToolsBtnHoverColor;

$answersToolsBtnSettingsColor: #000; //lighten($answersToolsBtnColor, 10);
$answersToolsBtnSettingsHoverBg: #d6d6d6;
$answersToolsBtnSettingsHoverColor: lighten($answersToolsBtnColor, 10);
$answersToolsBtnSettingsBorder: #EAEAEA;

$diapoBorderColor: #bfbfbf;

$editTextMultiValueBg: #FFFFFF;
$editTextMultiValueBorder: #999999;
$editTextMultiValueHighlightBg: #d0d0d0;

$preferencesLabelColor: #333333;

$activeStateIcon: 'ui-icons_222222_256x240.png';
$accordionLoaderImg: 'loader-black.gif';	$accordionLoaderImg: 'loader-black.gif';
$accordionBgHeaderHover: #999;	$accordionBgHeaderHover: #dadada;

$inputButtonHoverColor: #FEFEFE;
$inputFallbackBorderColor: #b1b1b1;

$dropdownDividerBg: $darkerBorderColor;
$dropdownDividerBorder: $darkerBorderColor;

$overlayBg: #B1B1B1;

$tabsNavBg: #999999;
$tabsNavBgActive: #B2B2B2; //#D9D9D9;
$contentLoaderImg: 'loader-black.gif';

/*$btnBackground: #444444; //#B9B9B9;
$btnBackgroundHighlight: #393939;
$btnColor: #AAAAAA;
$btnTextShadow: 0 -1px 0 rgba(0,0,0,.25);*/

$btnBackground: #f2f2f2;
$btnBackgroundHighlight: #D6D6D6;
$btnColor: #737373;
$btnTextShadow: 0 -1px 0 rgba(0,0,0,0);



$btnInverseBackground: #f2f2f2;
$btnInverseBackgroundHighlight: #d6d6d6;
$btnInverseColor: #5b5b5b;
$btnInverseTextShadow: 0 -1px 0 rgba(255,255,255,.25);
$btnGrpSeparatorColor: $defaultBorderColor;

$widgetContentColor: $textPrimaryInverseColor;

$linkDefaultColor: #444444;
$linkDefaultHover: #444444;

// override jquery ui theme colors:
$uiTextContentColor: $mediumTextColor;
$uiTextTitleColor: $mediumTextColor;
$uiLinkColor: $darkTextColor;
$uiLinkColor2: #383838;
$uiLinkFocusColor: #383838;
$uiLinkActiveColor: $darkTextColor;

$pushboxBadgeColor: #BFBFBF;


/******** MAIN MENU CONFIG ********/
$mainMenuBottomBorder: none;
$mainMenuBackgroundColor: #979797;
$mainMenuBottomBorder: none;
$mainMenuMarginBottom: 0;
$mainMenuLinkColor: #FFFFFF;
$mainMenuLinkBackgroundHoverColor: transparent; //$bgInverseHoverColor;
$mainMenuLinkHoverColor: darken($mainMenuLinkColor, 10);
@import '../../../_shared/styles/variables';

/******** PROPOSALS CONFIG ********/
$proposalsTitleColor: #333;
$proposalsTitleBorder: #bfbfbf;
$proposalsTitleHoverColor: lighten($proposalsTitleColor, 10);
$proposalsFacetHoverColor: #FFF;
$facetTitleBg: #e4e4e4;
$facetContentBg: #f8f8f8;

/******** WORKZONE TABS CONFIG ********/
$workzoneBackgroundColor: $mediumBackgroundColor;
$workzoneTabBgHover: #EAEAEA;
$workzoneTabBgActive: #EAEAEA;
$workzoneTabTopBorder: 1px solid #EAEAEA;
$workzoneTabBorderBottom: transparent;
$workzoneBasketAlertDataBg: #fff190;
$workzoneBasketAlertDataColor: #1a1a1a;
$workzoneToolsLabelColor: #d0d0d0;


/******** TABS CONFIG ********/
$tabContentBackgroundColor: #f5f5f5;
$tabBackgroundColor: #f2f2f2;
$tabTextColor: lighten($textPrimaryInverseColor, 10);
$tabActiveBackgroundColor: $tabContentBackgroundColor;
$tabActiveTextColor: $textPrimaryInverseColor;
$tabDisabledBackgroundColor: $tabBackgroundColor;
$tabDisabledTextColor: $mediumTextActiveColor;

/******** ANSWERS INFOS CONFIG ********/
$answersInfoDialogBg: $highlightBackgroundAltColor !default;
$answersInfoDialogColor: #FFFFFF !default;
$answersDocInfoBg: #979797 !default;
$answersDocInfoBorder: #FAFAFA !default;
$answersDocInfoColor: #FFFFFF !default;
$answersLinkColor: #FFFFFF !default;
$answersInfoLabelColor: #FFFFFF !default;

/******** FACETS SEE MORE BTN********/
$see_more_btn_bg: #d3d3d3;
$see_more_btn_color: #424242;
$see_more_btn_border: #b7b7b7;
$see_more_btn_shadow: rgba(0,0,0,0.1);

$see_more_btn_bg_hov: #f1f1f1;
$see_more_btn_color_hov: #424242;
$see_more_btn_border_hov: #b7b7b7;

$white: #ffffff;

$toolsPanelBg: #cdcdcd;
$toolTitleColor: #000000;
$basketTips: rgba(0, 0, 0, 0.1);
$basketTips2: rgba(0, 0, 0, 0.1);
$dividerBg: #e4e4e4;

$customCheckboxUnchecked: #444444;
$lineSeparator: #e5e5e5;
$basketBg: #f8f8f8;
$feedback: $basketBg;
$STTHover: #dad9da;
$basketTitleHov: #383838;
$btnHovLight: #d8d8d8;

$facetFilterBg: #D6D6D6;
$facetText: #4d4d4d;
$guiVsplitter: #d7d7d7;
$whiteActive: #000000;
$contextDivider: #c7c7c7;
$contextMenuShadow: rgba(0,0,0,0.07);
$storyBg: #979797;
$tooltipBg: #c2c2c2;
$tooltipTxt: #2b2b2b;
$editAllBg: #ffffff;
$editFieldBg: #f2f2f2;

@import '../../../_shared/styles/jquery-ui/ui-lightness';
@import '../skin-shared';
