$blue-tsr: #2196f3;
$grey-tsr: #aaa;
$iconsPath: '../../../assets/thesaurus/images/';
@mixin blue-btn {
  color: #fff;
  background: $blue-tsr;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  border-color: darken($blue-tsr, 20%);
  min-width: 120px;
  margin: 0 10px;
  position: relative;
  z-index: 2;
  &:hover {
    background: darken($blue-tsr, 20%);
  }
}

@mixin grey-btn {
  color: #000;
  background: $grey-tsr;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  border-color: darken($grey-tsr, 20%);
  min-width: 120px;
  margin: 0 10px;
  position: relative;
  z-index: 2;
  &:hover {
    background: darken($grey-tsr, 20%);
  }
}

BODY, TD, INPUT {
  FONT-FAMILY: Verdana, Arial, helvetica, sans-serif;
  font-size: 12px;
}

FORM {
  padding: 0px;
  margin: 0px;
}

.dialog {
  background-color: ButtonFace;
}

.x3Dbox {
  position: relative;
  top: 0px;
  left: 0px;
  text-align: left;
  padding: 5px;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.x3Dbox .title {
  position: absolute;
  top: -9px;
  left: 20px;
  background-color: ButtonFace;
  padding-left: 4px;
  padding-right: 4px;
}

INPUT.textNofocus {
  position: relative;
  top: 1px;
  height: 14px;
  padding: 0px;
  margin: 2px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

INPUT.textFocus {
  position: relative;
  top: 1px;
  height: 14px;
  padding: 0px;
  margin: 0px;
  border: 3px solid #99a2d0;
}

H3, H4 {
  display: inline;
}

.thbox {
  BACKGROUND-COLOR: #ffffff;
  border-top: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

.thbox .onglet {
  position: absolute;
  top: -22px;
  left: 5px;
  height: 20px;
  BACKGROUND-COLOR: #ffffff;
  border-top: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-right: 2px solid black;
  border-bottom: 1px solid #ffffff;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 15px;
  font-size: 14px;
  z-index: 2;
}

.thbox HR {
  COLOR: #d0d0d0;
  height: 1px;
  margin: 0px;
  padding: 0px;
}

.glossaire {
  position: relative;
  left: 4px;
  white-space: nowrap;
}

.glossaire U {
  position: relative;
  left: 1px;
  TEXT-DECORATION: none;
  margin-right: 5px;
  width: 9px;
  height: 10px;
  text-align: center;
  display: inline-block;
  font-size: 8px;
  border: 1px solid #b0b0b0;
  color: #000000;
  BACKGROUND-COLOR: #FFFFFF;
  cursor: pointer;
}

.glossaire U.nots {
  border: 1px solid #F0F0F0;
  BACKGROUND-COLOR: #F0F0F0;
  cursor: default;
}

.glossaire .S_ {
  cursor: pointer;
  BACKGROUND-COLOR: #99a2d0;
  COLOR: #FFFFFF;
}

.glossaire .s_ {
  cursor: pointer;
}

.glossaire .r0_ {
}

.glossaire .r1_ {
  COLOR: #FF4000;
}

.glossaire .OB {
  position: relative;
  top: 0px;
  padding-top: 0px;
  padding-left: 8px;
  margin-left: 6px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.glossaire .ob {
  display: none;
}

.glossaire .hb {
  position: relative;
  top: 0px;
  padding-top: 0px;
  padding-left: 8px;
  margin-left: 6px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.glossaire .ctroot {
  position: relative;
  top: 0px;
  padding: 0px;
  border: none;
}

.glossaire P.sy {
}

.glossaire P.ta {
}

.glossaire P.tc {
}

.glossaire P.tce {
}

.tableContainer {
  margin: 2px;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.tableContainerDragOver {
  margin: 0px;
  border: 3px solid #99a2d0;
}

.tableContainer .tbody {
  position: relative;
  overflow: auto;
}

.tableContainer TABLE {
  table-layout: fixed;
}

.tableContainer THEAD TH {
  background: #e0ece8;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #c0ccc8;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c0ccc8;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  cursor: pointer;
  margin: 0px;
}

.tableContainer TBODY TR.s_ {
}

.tableContainer TBODY TR.S_ {
  BACKGROUND-COLOR: #99a2d0;
  COLOR: #FFFFFF;
}

.tableContainer TBODY TD {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #cccccc;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  cursor: pointer;
  margin: 0px;
}

.menu {
  FONT-FAMILY: Arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #535353;
}

.menu IMG {
  padding-right: 2px;
  margin: 0;
  position: relative;
}

.menu p {
  padding: 2px;
  position: relative;
}

.menu a {
  font-size: 12px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 5px 6px;
  background-color: #535353;

}

.menu A:hover {
  font-size: 12px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  background-color: #884c92;
}

.menu A.disabled {
  font-size: 12px;
  display: block;
  position: relative;
  text-decoration: none;
  color: lighten(#535353, 10%);
  overflow: hidden;
}

.menu A.disabled:hover {
  font-size: 12px;
  display: block;
  position: relative;
  text-decoration: none;
  color: lighten(#535353, 5%);
  background-color: #535353;
}

.menu .line {
  display: block;
  position: relative;
  height: 0px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 4px;
  padding: 0px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #ffffff;
}

#delete_sy {
  background: orange;
  border: 1px solid darken(orange,20%);
  color: #fff;
  font-weight: bold;
  padding: 1px 10px;
  margin-left: 12px;
  &.disabled {
    background: grey;
  }
}

#DLG_PROPERTIES > #syMenu {
  display: none;
}

.thesaurus_confirm_bottom_block {
  margin-top: 20px;
  text-align: center;
  #ifrsample & {
    display: none;
  }
}

.thesaurus-page {
  .validate_btn {
    @include blue-btn;
  }
  .cancel_btn {
    @include grey-btn;
  }

  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
  }
  .ui-dialog-buttonset {
    text-align: center;
  }
  .ui-button {
    &:nth-child(1) {
      @include grey-btn
    }
    &:nth-child(2) {
      @include blue-btn
    }
  }
}

.text-center {
  text-align: center;
  padding-bottom: 10px;
}

.populate_btn, #kth_import {
  position: absolute;
  background: #884c92;
  z-index: 2;
  right: 50px;
  top: 50px;
  font-size: 14px;
  color: #fff;
  padding: 7px 10px;
  font-weight: bold;
  border: 1px solid #d0d0d0;
  cursor: pointer;

  &:hover {
    background: darken(#884c92, 20%);
  }
}

#kth_import {
  right: 150px !important;
  text-decoration: none;
}

.thesaurus-page {
  .ui-widget-header {
    border: 1px solid darken(#884c92, 20%);
    background: #884c92;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#flagsMenu p {
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
}