@import '../../_shared/styles/variables';

@import '../../vendors/jquery-treeview/jquery.treeview'; // to inline import css file, don't put extension
@import '../../../../www/bower_components/jquery-file-upload/css/jquery.fileupload-ui'; // to inline import css file, don't put extension
@import '../../vendors/jquery-contextmenu/styles/jquery.contextmenu';
@import '../../_shared/styles/main';

// override jquery ui theme colors:
$uiTextContentColor: #333333;
$uiTextTitleColor: #333333;
$uiLinkColor: #333333;
$uiLinkFocusColor: #333333;
$uiLinkActiveColor: #333333;
$uiLinkBorderFocusColor: #c77405; //#333333;
@import '../../_shared/styles/jquery-ui/ui-lightness';

/******* GLOBAL CSS for ADMIN *************************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: $defaultFontFamily;
  font-size: $mediumFontSize;
  overflow-y: auto;
}
.clear {
  clear: both;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin: 10px 0;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 7px 0;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin: 4px 0;
}
h4 {
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  margin: 2px 0;
}
a {
  color: #333333;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  color: #0088cc;
  text-decoration: underline;
  cursor: pointer;
}
blockquote {
  margin: 20px 15px;
  padding: 10px;
  border: 1px dotted #000000;
  background-color: #f2f2f2;
}
img {
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  margin: 0;
  padding: 4px;
}
select {
  margin: 0;
  padding: 5px 4px;
  *padding: 4px;
}
.help-block,
.help-inline {
  color: #666666;
}
li.selected,
div.selected {
  background-color: #faa732;
  color: #ffffff;
}
li.selected a,
div.selected a {
  background-color: #faa732;
  color: #ffffff;
}
.treeview ul {
  background-color: transparent;
}
#right-ajax.loading {
  background-image: url('#{$iconsPath}loaderFFF.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
div.finder div.content div.title {
  margin-top: -2px;
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}
/******* MAIN MENU ************************************************************/


$mainMenuBackgroundColor: #fceb3f;
$mainMenuLinkColor: #333333;
$mainMenuLinkHoverColor: #000000;
$mainMenuLinkActiveColor: #000000;
$mainMenuLinkBackgroundHoverColor: transparent;

@import '../../_shared/styles/main-menu';

#mainContent {
  margin-top: $mainMenuHeight;
}

/******* LEFT SIDE ************************************************************/
#left {
  background-color: #fffbcd;
  overflow: auto;
}
#FNDR {
  overflow: auto;
}
#FNDR li.selected {
  background-color: #faa732;
  color: #ffffff;
}
#FNDR a {
  text-decoration: none;
}
#FNDR a:hover {
  text-decoration: none;
}
#FNDR a span {
  text-decoration: underline;
}
#FNDR a span:hover {
  text-decoration: underline;
}
/******* USERS ****************************************************************/
.admin_head_opts {
  margin: 5px 0 10px 0;
}
.admin_head_opts span {
  margin: 0 10px;
}
.admin_head_opts a {
  margin: 0 5px;
}
#users_page_form p {
  margin: 5px 5px 10px;
}
#users_page_form .input-mini {
  width: 30px;
}
#users_check_uncheck div {
  padding: 5px 10px;
  background-color: #cccccc;
  color: #000000;
  cursor: pointer;
}
#users_check_uncheck div.hovered {
  padding: 5px 10px;
  background-color: #4d4d4d;
  color: #ffffff;
}

/******* EDIT USERS ***********************************************************/
div.no_switch {
  width: 12px;
  height: 12px;
  margin: 0 auto;
  background-image: url('#{$iconsPath}ccoch5.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

div.switch_quota,
div.switch_masks,
div.switch_time,
div.switch_right {
  width: 12px;
  height: 12px;
  margin: 0 auto;
}
div.switch_quota.mixed,
div.switch_masks.mixed,
div.switch_time.mixed,
div.switch_right.mixed {
  background-image: url('#{$iconsPath}ccoch2.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
div.switch_quota.checked,
div.switch_masks.checked,
div.switch_time.checked,
div.switch_right.checked {
  background-image: url('#{$iconsPath}ccoch1.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
div.switch_quota.unchecked,
div.switch_masks.unchecked,
div.switch_time.unchecked,
div.switch_right.unchecked {
  background-image: url('#{$iconsPath}ccoch0.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
.ui-datepicker {
  z-index: 1500;
}
/******* BOARD ****************************************************************/
.board_section {
  margin: 0 0 30px;
}
.board_section ul {
  margin: 0 0 20px 15px;
}
.board_section div[class="section"] {
  height: auto;
}
.board_section div[class="section"] h2 {
  line-height: 24px;
}
.board_section div[class="section"] ul.setup {
  border: 1px solid #cccccc;
  list-style-type: none;
}
.board_section div[class="section"] ul.setup li {
  padding: 2px 5px 2px 30px;
  background-repeat: no-repeat;
  background-position: 5px center;
}
.board_section div[class="section"] ul.setup li.good-enough {
  background-image: url('#{$iconsPath}ok.png');
}
.board_section div[class="section"] ul.setup li.non-blocker {
  background-image: url('#{$iconsPath}alert.png');
}
.board_section div[class="section"] ul.setup li.blocker {
  background-image: url('#{$iconsPath}delete.png');
  background-size: 16px;
}
.board_section div[class="section"] ul.setup li:hover {
  background-color: #fffbcd;
}
/******* PUBLICATIONS *********************************************************/
#pub_icon {
  width: 42px;
  height: 42px;
  float: left;
}
#pub_icon .thumb_wrapper {
  width: 32px;
  height: 32px;
  margin: 5px auto;
}
#pub_icon .thumb_wrapper img {
  width: 32px;
  height: 32px;
}
#pub_fileupload {
  height: 42px;
  line-height: 42px;
  margin-left: 47px;
}
/******* GLOBAL VALUES FORM ***************************************************/
#GV_form .error,
#GV_form .NEW {
  color: #ff0000;
  font-weight: bold;
}
#GV_form .section {
  padding-bottom: 10px;
}

#GV_form .controls {
  margin-left: 260px;
}

#GV_form .control-label {
  width: 240px;
}

#GV_form .section h1 {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin: 10px 0;
  line-height: 22px;
}

#tab-registrations .dl-horizontal dd {
  word-break: break-all;
  margin-left: 140px;
}

#tab-registrations .dl-horizontal dt {
  width: 130px;
}

#tab_demandes .table .btn-group {
  display: block;
}

#admin_setup_registry .control-label {
  min-width: 260px;
}
#admin_setup_registry .form-horizontal .controls, #admin_setup_registry .form-horizontal .help-message {
  margin-left: 300px;
}


@import './databases';
@import './fields';
@import './tables';
