{% extends 'admin/publications/wrapper.html' %}


{% block content %}

<style type="text/css">
.error{
  border-color:red;
}
</style>

<form class="form_publication" method="post" action="/admin/publications/create/">
  <h2>{% trans 'Ajouter une publication' %}</h2>
  <div>
    <input placeholder="{% trans 'Feed name' %}" class="required_text" id="add_pub_titre" size="30" maxlength="128" name="title" type="text" />
    <label for="add_pub_titre">{% trans 'Titre' %}</label>
  </div>
  <div>
    <input placeholder="{% trans 'Short description' %}" id="add_pub_subtitre" size="30" maxlength="512" name="subtitle" type="text" />
    <label for="add_pub_subtitre">{% trans 'Sous-titre' %}</label>
  </div>
  <div>
    <select id="add_pub_base_id" name="base_id">
      <option value="">{% trans 'Non-Restreinte (publique)' %}</option>
      {% for databox in user.ACL().get_granted_sbas('bas_chupub') %}
      <optgroup label="{{ databox.get_viewname() }}">
        {% for collection in databox.get_collections() %}
        <option value="{{ collection.get_base_id() }}">{{ collection.get_name() }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
    <label for="add_pub_base_id">{% trans 'Etendue de la publication' %}</label>
  </div>
  <div>
    <input type="checkbox" id="add_pub_public" name="public" value="1" />
    <label for="add_pub_public">{% trans 'Publique' %}</label>
  </div>
  <div>
    <button type="submit">{% trans 'boutton::valider' %}</button>
  </div>
</form>

<table class="admintable" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th style="width:40px;"></th>
      <th>{% trans 'Titre' %}</th>
      <th style="width:150px;">{% trans 'Date Creation' %}</th>
      <th style="width:220px;">{% trans 'Restriction' %}</th>
      <th style="width:80px;">{% trans 'Public' %}</th>
      <th style="width:80px;"></th>
    </tr>
  </thead>
  <tbody>
    {% for feed in feeds.get_feeds %}
      <tr class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
        <td>
          <div style="border:1px solid #ccc;width:22px;height:22px;margin:2px">
            <a href="/admin/publications/feed/{{ feed.get_id() }}/">
              <img src="{{feed.get_icon_url()}}" style="margin:3px;width:16px;height:16px;" id="pub_icon"/>
            </a>
          </div>
        </td>
        <td><a href="/admin/publications/feed/{{ feed.get_id() }}/">{{ feed.get_title() }}</a></td>
        <td>{{ feed.get_created_on()|formatdate }}</td>
        <td>
          {% if feed.get_collection() != null %} 
            {{ feed.get_collection().get_databox().get_viewname() }} / 
            {{ feed.get_collection().get_name() }}
          {% endif %}
        </td>
        <td style="text-align:center;">
          {% if feed.is_public() %}
            <img src="/skins/icons/ligth-on.png" title="{% trans 'This feed is public' %}"/>
          {% endif %}
        </td>
        <td>
          {% if feed.is_owner(user) %}
          <form class="form_publication" action="/admin/publications/feed/{{feed.get_id()}}/delete/" method="post">
            <button class="feed_remover">{% trans 'boutton::supprimer' %}</button>
          </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<script type="text/javascript">
  $(document).ready(function(){
    $('button.feed_remover').bind('click', function(event){
      if(!confirm('{% trans 'Une fois la publication supprimee, les donnees publiees seront definitivement perdues. Continuer ?' %}'))
      {
        event.stopPropagation();
        return false;
      }
    });
    $('#add_pub_public').bind('change', function(){
      if($(this).attr('checked'))
      {
        $('#add_pub_base_id').val('');
      }
    });
    $('#add_pub_base_id').bind('change', function(){
      if($(this).val() != '')
      {
        $('#add_pub_public').attr('checked', false);
      }
    });
  });
</script>
{% endblock %}