
body{
    margin:0;
    padding:0;
    font-family:Helvetica,Arial,sans-serif;
    font-size:12px;

    overflow:hidden;
}
#mainMenu{
    height:30px;
    bottom:auto;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    z-index:100;
    line-height:30px;
}
#mainMenu ol{
    display: block;
    margin:0;
    padding:0;
    list-style: none outside none;
}
#mainMenu li{
    display: inline-block;
    float:left;
    line-height: 30px;
    padding: 0;
    position: relative;
    vertical-align: top;
}
#mainMenu span.selected{
    border-top:3px solid white;
}
#mainMenu span{
    display: block;
    padding:0 5px;
}
#mainMenu .title{
    font-size:18px;
    color:#F7F7F7;
    margin:0 5px;
}

#mainMenu a:hover span{
    background-color:#FFFFFF;
    color:black;
}
#mainMenu span{
    color:#b1b1b1;
    font-size:12px;
    font-weight:normal;
    border-top:3px solid transparent;
}
#mainMenu a{
    text-decoration:none;
    display:inline-block;
}
#mainMenu #notification_box a
{
    margin-left:0;
}
#mainMenu .account a{
    text-decoration:underline;
}
#mainMenu b{
    color:#EDEDED;
    font-weight:bold;
}
#mainMenu nobr{
    padding:0 5px;
}
img{
    border:none;
}





.overlay{
    width:100%;
    height:100%;
    background-color:#111111;
    position:absolute;
    z-index:850;
}
.ui-widget-overlay{
    width:100%;
    height:100%;
    background-color:#111111;
    position:absolute;
    z-index:850;
    background-image:none;
}

#MODALDL{
    z-index:1200;
}



#tooltip{
    position:absolute;
    background:black;
    border:1px solid #666666;
    color:white;
    padding:5px;
    z-index:32000;
    overflow:hidden;
}








#notification_trigger{
    cursor:pointer;
}


#notification_trigger .counter{
    border:1px solid white;
    background:red;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    font-size:10px;
    font-weight:bold;
    display:inline-block;
    line-height:12px;
    margin:0;
    padding:2px 4px;
}

#notification_trigger.open a span{
    color:black;
}

#notification_trigger.open{
    background-color:white;
    border-bottom:1px solid white;
}

#notification_trigger.unread{

}


#notification_box{
    background-color:white;
    border:1px solid black;
    border-top:none;
    position:absolute;
    height:150px;
    top:30px;
    overflow-y:auto;
    overflow-x:hidden;
    z-index:668;
    right:20px;
    color:black;
}

#notification_box div.notification span.time{
    color:#414141;
    font-size:11px;
    white-space:nowrap;
    margin-left:0;
}

#notification_box div.notification a{
    color:#999999;
    text-decoration:none;
}

#notification_box div.notification a:hover{
    text-decoration:underline;
}

#notification_box div.notification{
    padding:5px 10px;
}
#notification_box div.notification.hover{
    background-color:#E1E1E1;
}

#notification_box div.notification.unread{
    background-color:#E1E1E1;
}

#notification_box div.notification_title a{
    font-size:13px;
    font-weight:bold;
    color:blue;
}

#notification_box div.notification_title{
    text-align:center;
    padding:10px 0;
}

#notifications-dialog a{
    color:#999999;
}
#notifications-dialog a:hover{
    color:#D9D9D9;
    text-decoration:underline
}

#notifications-dialog .time{
    font-size:10px;
    color:#666666;
}
#notifications-dialog .notification_title{
    padding:10px 0 5px;
}
#notifications-dialog .notification_next{
    text-align:center;
    padding:15px 0;
}



.PNB
{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.PNB10
{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
}


input.checkbox{
    background:transparent;
    border:none;
}
#ui-datepicker-div{
    display:none;
}



